<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>热线上报</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: fileUpload_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>
    <th:block th:include="page/fragments/common :: swiper_css"/>
    <link th:href="@{/css/eventList.css}" rel="stylesheet" type="text/css">
</head>
<body style="border-radius: 8px;">
<div class="content">
    <div class="leftContent">
        <div class="selectPoint">
            <form id="userForm">
                <div class="top table2_top">
                    <!--        <div>-->
                    <div class="top_out">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>问题描述<span></span></td>
                                <td>
                                    <input type="text" class="datepicker" name="represent">
                                </td><td><span></span>1所在网格</td>
                                <td>
                                    <select class="form-control" id="grid1" name="grid" required>
                                        <option value="">--请选择--</option>
                                        <option th:each="as:${gridList}" th:value="${as.id}"
                                                th:text="${as.gridName}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><span></span>事件来源</td>
                                <td>
                                    <select class="form-control" id="eventSource" name="eventSourceId" required>
                                        <option value="">--请选择--</option>
                                        <option th:each="as:${eventSource}" th:value="${as.id}"
                                                th:text="${as.value}"></option>
                                    </select>
                                </td>
                                <td>问题类型<span></span></td>
                                <td style="display: flex;justify-content: space-between;align-items: center;margin-top: 4px">
                                    <input type="text" readonly="readonly" id="typeStr" class="find_input"/>
                                    <input type="hidden" readonly="readonly" id="eventTypeId" name="eventTypeId"
                                           class="find_input"/>
                                    <button type="button" class="addBtn" onclick="selectEventTypeTree()">
                                        +
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td><span></span>立案区域</td>
                                <td>
                                    <select id="eventCondition" name="eventCondition" onchange="getEventCondition()"
                                            required>
                                        <option value="">--请选择--</option>
                                    </select>
                                </td>
                                <td><span></span>立案条件</td>
                                <td>
                                    <select id="eventTerm" onchange="getTimeTypeList()" name="conditionId" required>
                                        <option value="">--请选择--</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><span></span>计时等级</td>
                                <td>
                                    <select id="timeType" name="timeType" required>
                                        <option value="">--请选择--</option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--    </div>-->
            </form>
            <div class="notice_check">
                <form id="search-form">
                    <p style="display: flex;justify-content: flex-end">
                        <input type="button" class="check_btn button_ground" onclick="$.table.search()" value="查询">
                        <input type="button" class="check_btn1 button_ground" onclick="$.form.reset()" value="重置">
                    </p>
                </form>
            </div>
        </div>
        <div style="width: 100%;width: 100%;display: flex;justify-content: center">
            <div class="xiala"><i class="selectmenu"></i></div>
        </div>
        <table id="bootstrap-table" class="table_style" style="margin: 0 auto;"> </table>

    </div>
    <div class="rightContent">
        <div class="tabTitle">
            <span class="active">地图</span>
            <span>案件详情</span>
            <span>流转记录</span>
            <span>流程图</span>
        </div>
        <div class="tabInfo">
            <div class="banner blockActive">
                <div class="map" id="map" style="width: 100%;height: 90%"></div>
                <div id="popup" class="ol-popup">
                    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                    <div id="popup-content">
                        <ul id="message">

                        </ul>
                    </div>
                </div>
            </div>
            <div class="banner">
                <h3 class="bigTitle">案件详情</h3>
                <form class="details">
                    <div class="top table2_top">
                        <div class="top_out">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><span></span>案卷号</td>
                                    <td>
                                        <input id="eventCode" placeholder="" class="" type="text" readonly="readonly" required>
                                    </td>
                                    <td><span></span>问题类型</td>
                                    <td>
                                        <input id="eventTypeStr" name="eventType" placeholder="请选择问题类型" class="" type="text" maxlength="30" required readonly="readonly" >

                                    </td>
                                </tr>
                                <tr>
                                    <td><span></span>立案区域</td>
                                    <td>
                                        <input id="regionStr" name="eventType" placeholder="请选择问题类型" class="" type="text" maxlength="30" required readonly="readonly">
                                    </td>
                                    <td><span></span>立案条件</td>
                                    <td>
                                        <input id="conditionValue" name="eventType" placeholder="请选择问题类型" class="" type="text" maxlength="30" required readonly="readonly" >

                                    </td>
                                </tr>
                                <tr>
                                    <td><span></span>案件等级</td>
                                    <td>
                                        <input id="level" name="eventType" placeholder="请选择问题类型" class="" type="text" maxlength="30" required readonly="readonly">

                                    </td>
                                    <td><span></span>处理时限</td>
                                    <td>
                                        <input id="timeLimitStr" type="text" readonly required>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span></span>问题描述</td>

                                    <td colspan="8"><textarea id="represent" name="problemescription" required readonly></textarea></td>


                                </tr>
                                <tr class="col-12">
                                    <td><span></span>案件地址</td>
                                    <td>
                                        <input id="location" name="location" placeholder="" class="" readonly type="text">
                                    </td>
                                    <td><span></span>案件类型</td>
                                    <td>
                                        <input id="recTypeStr" name="location" placeholder="" class="" readonly type="text">
                                    </td>
                                </tr>
                                <tr class="col-12">
                                    <td><span></span>所属区域</td>
                                    <td>
                                        <input id="eventRegion" name="location" placeholder="" class="" readonly type="text">

                                    </td>
                                    <td><span></span>所属街道</td>
                                    <td>
                                        <input id="street" name="location" placeholder="" class="" readonly type="text">

                                    </td>
                                </tr>
                                <tr class="col-12">
                                    <td><span></span>所属社区</td>
                                    <td>
                                        <input id="community" name="location" placeholder="" class="" readonly type="text">
                                    </td>
                                    <td><span></span>单元网格</td>
                                    <td>
                                        <input id="girdStr" name="location" placeholder="" class="" readonly type="text">

                                    </td>
                                </tr>
                                <tr>
                                    <td><span></span>问题来源</td>
                                    <td>
                                        <input name="eventSourceStr" id="eventSourceStr" placeholder="" class=""
                                               type="text" readonly="readonly">
                                    </td>
                                    <td><span></span>上报人</td>
                                    <td>
                                        <input id="userName" name="userName" placeholder="" class="" readonly type="text">

                                    </td>
                                </tr>
                                <tr>
                                    <td><span></span>诉求人</td>
                                    <td>
                                        <input id="petitionerName" name="petitionerName" placeholder="" class="" readonly type="text">

                                    </td>
                                    <td><span></span>联系方式</td>
                                    <td><input id="petitionerPhone" name="petitionerPhone" type="text" value=""
                                               readonly="readonly"></td>
                                </tr>
                                <tr>
                                    <td><span></span>性别</td>
                                    <td>
                                        <input id="petitionerSex" name="petitionerSex" placeholder="" class="" readonly type="text">

                                    </td>
                                    <td><span></span>创建时间</td>
                                    <td>
                                        <input id="cdate" name="cdate" placeholder="" class="" readonly type="text">

                                    </td>
                                </tr>
                                <tr>
                                    <td><span></span>位置坐标</td>
                                    <td>
                                        <input id="x" type="text" class="find_input" readonly="readonly" value="经度">
                                    </td>
                                    <td></td>
                                    <td>
                                        <input id="y" type="text" class="find_input" readonly="readonly" value="纬度">
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <div class="send">
                                <div class="sendImg">
                                    <div class="sendText"><span>照片:</span></div>
                                    <div>
                                        <div id="imageList">
                                            <div class="innerPic" style="float:left;">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="sendImg">
                                    <div class="sendText"><span>视频:</span></div>
                                    <div>
                                        <!--                                        <input class="videoInput" type="file" name="file" multiple="multiple">-->
                                        <div class="innerPic">
                                            无
                                        </div>
                                    </div>
                                </div>
                                <div class="sendImg">
                                    <div class="sendText"><span>音频:</span></div>
                                    <div>
                                        <!--                                        <input class="musicInput" type="file" name="file" multiple="multiple">-->
                                        <div class="innerPic">
                                            无
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--                            按钮-->

                        <div class="notice_bot">
                            <div class="r_right but_p girdBtnGroup" id="btnGroupGround">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="banner">
                <div class='g_con'>
                    <!-- 物流时间轴 -->
                    <div class='expressRecord' id="timeAxis">
                        <div>暂时没有数据，请进入流程处理案件</div>
                    </div>
                </div>
            </div>
            <div class="banner">
                <img id="eventImg">
            </div>

        </div>

    </div>
    <!--    附件详情弹出的窗口-->
    <div class="duck_duck">
        <div class="duck_box">
            <div class="allTiel">
                <div class="duck_close">
                    <img src="../img/close_duck.png" style="width: 100%;height: 100%">
                </div>
                <div class="duck_title">
                    <span class="duckActive">图片</span>
                    <span>视频</span>
                    <span>音频</span>
                </div>
                <div class="duck_info">
                    <div class="info_chance blockActive">
                        <div class="swiper-container sw1">
                            <div class="swiper-wrapper"  id="modelImageList">
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination pg1"></div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                    <div class="info_chance">视频
                        <video style="width: 100%;height: 100%"></video>
                    </div>
                    <div class="info_chance">音频</div>
                </div>
            </div>
        </div>
    </div>

    <!-- &lt;!&ndash;  点击图片弹出  &ndash;&gt;-->
    <div class="duk_duck" id="pictureBoxDuc" style="display: none">
        <div class="duk_box">
            <div class="allTiel" id="allTiel">
                <div class="fullScreen" id="fullScreen">全屏</div>
                <div class="fullScreen exitfullScreen" id="exitfullScreen">退出全屏</div>
                <div class="duk_close" id="duk_picture">
                    <i style="width: 20px;height: 20px"><img src="../img/close_duck.png" style="width: 100%;height: 100%"></i>
                </div>
                <div style="width: 100%;height: 100%;padding: 5px">
                    <div class="swiper-container sw2">
                        <div class="swiper-wrapper" id="pictureList">

                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination pg2"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: jquery_validation_js"/>
<th:block th:include="page/fragments/common :: fileUpload_js"/>
<th:block th:include="page/fragments/common :: map_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>
<th:block th:include="page/fragments/common :: swiper_js"/>
<script type="text/javascript" th:inline="javascript">

    $(function () {
        queryUserList();
        $(".tabTitle span").click(function() {
            $(this).addClass("active").siblings(".tabTitle span").removeClass("active");
            $(".banner").eq($(this).index(".tabTitle span")).addClass("blockActive").siblings(".banner").removeClass("blockActive");
        })

        //附件详情弹出
        $(".duck_title span").click(function () {
            $(this).addClass("duckActive").siblings(".duck_title span").removeClass("duckActive")
            $(".info_chance").eq($(this).index(".duck_title span")).addClass("blockActive").siblings(".info_chance").removeClass("blockActive")
        });

        $(".duck_close").click(function () {
            $(".duck_duck").fadeOut(300)
        });

        $(".banner").on("click", ".enclosure", function () {
            $(".duck_duck").fadeIn(300)
        });

        getGridPublishUrl()

        $(".duk_close").click(function () {
            $("#pictureBoxDuc").fadeOut(300)
        });

        $(".banner").on("click", ".innerPic", function () {
            $("#pictureBoxDuc").fadeIn(300)
        });

        //全屏
        $("#fullScreen").click(function () {
            $("#allTiel").addClass("allTielFont");
            $("#exitfullScreen").css("display","block");
            $(this).css("display","none")
        });

        $("#exitfullScreen").click(function () {
            $("#allTiel").removeClass("allTielFont");
            $(this).css("display","none");
            $("#fullScreen").css("display","block");
        })
        var r = 0;
        $(".xiala").click(function () {
            r += 180;
            $(".selectPoint").slideToggle(300);
            $(".selectmenu").css('transform', 'rotate(' + r + 'deg)');
        })

        var swiper = new Swiper('.sw1', {
            pagination: '.pg1',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            slidesPerView: 1,
            paginationClickable: true,
            spaceBetween: 30,
            // loop: true,
            observer: true, //修改swiper自己或子元素时，自动初始化swiper
            observeParents: true //修改swiper的父元素时，自动初始化swiperd
        });

        var swiper2 = new Swiper('.sw2', {
            pagination: '.pg2',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            slidesPerView: 1,
            paginationClickable: true,
            spaceBetween: 30,
            // loop: true,
            observer: true, //修改swiper自己或子元素时，自动初始化swiper
            observeParents: true //修改swiper的父元素时，自动初始化swiperd
        });
    })

    let showUrl = [[${@fastProperties.nginxUrl}]];
    let img = /*[[@{/common/img/}]]*/ "/common/img/";

    let searchUrl = /*[[@{/event/meEventList}]]*/ "/event/meEventList";

    let event = /*[[@{/event/findOne}]]*/ "/event/findOne";


    let statisticsByEventIdUrl = /*[[@{/statistics/byEventId}]]*/ "/statistics/byEventId";

    let getGridUrl = /*[[@{/event/getGridUrl}]]*/ "/event/getGridUrl";

    function getGridPublishUrl() {
        $.ajaxUtil.get(getGridUrl, function (e) {
            // console.log("e", e);
            /*
            * 初始渲染底图g
            * */
            var urlParam = e.data.split("?");
            var url = urlParam[0];
            var param = urlParam[1];
            // console.log(url+","+param)
            var ImageVector = new ol.layer.Tile({
                source: new ol.source.TileWMS({
                    url: url,
                    params: {
                        'VERSION': '1.1.1',
                        tiled: true,
                        "LAYERS": param,
                        "exceptions": ''
                    }
                })
            });
            var layersArray = map.getLayers();
            layersArray.insertAt(1, ImageVector);
            //获取地图数据s
            map.on('singleclick', function (evt) {
                var viewResolution = map.getView().getResolution();
                var url = ImageVector.getSource().getGetFeatureInfoUrl(
                    evt.coordinate, viewResolution, 'EPSG:4326', {
                        'INFO_FORMAT': 'text/javascript', //geoserver支持jsonp才能输出为jsonp的格式
                        'FEATURE_COUNT': 50 //点击查询能返回的数量上限
                    });
                $.ajax({
                    type: 'GET',
                    url: url,
                    dataType: 'jsonp',
                    jsonp: 'format_options',
                    jsonpCallback: "callback:success_jsonpCallback"
                });
            });
        })
    }
    //回调函数接收查询结果
    var geojsonFormat = new ol.format.GeoJSON({defaultDataProjection: "EPSG:4326"});

    let getGridByCheckLayerUrl = /*[[@{/event/getGridByCheckLayer}]]*/ "/event/getGridByCheckLayer";

    function success_jsonpCallback(res) {
        var features = geojsonFormat.readFeatures(res);
        console.log('点击查询返回的结果如下：');
        console.log("features", features);
        let mongodbId = features[0].H.mongodb_id;
        console.log("features", mongodbId);
        $.ajaxUtil.get(getGridByCheckLayerUrl + "?mongodbId=" + mongodbId, function (e) {
            console.log("e", e);
        });
    }

    function queryUserList() {
        var options = {
            url: searchUrl,
            uniqueId: "id",
            sortName: "updateTime",
            sortOrder: "desc",
            modalName: "用户",
            // 点击每行进行函数的触发
            onClickRow: function (row, tr, flied,index) {
                //详情  流程图  流转记录
                layerMap.getSource().clear()
                $.ajaxUtil.get(event + "?eventId=" + row.id, function (e) {
                    eventId = e.data.id;
                    /*流程图*/
                    $("#eventImg").attr('src',img+e.data.processInstanceId);
                    /*详情*/
                    $("#eventCode").val(e.data.eventCode);
                    $("#eventTypeStr").val(e.data.eventTypeStr);
                    $("#represent").text(e.data.represent);
                    $("#location").val(e.data.location);
                    $("#regionStr").val(e.data.regionStr);
                    $("#conditionValue").val(e.data.conditionValue);
                    $("#level").val(e.data.level);
                    $("#timeLimitStr").val(e.data.timeLimitStr);
                    $("#girdStr").val(e.data.girdStr);
                    $("#community").val(e.data.community);
                    $("#street").val(e.data.street);
                    $("#eventRegion").val(e.data.eventRegion);
                    $("#x").val(e.data.x);
                    $("#y").val(e.data.y);
                    setPoint(e.data.x,e.data.y)
                    $("#eventSourceStr").val(e.data.eventSourceStr);
                    $("#cdate").val(e.data.cdate);
                    $("#petitionerSex").val(e.data.petitionerSex);
                    $("#petitionerPhone").val(e.data.petitionerPhone);
                    $("#petitionerName").val(e.data.petitionerName);
                    $("#userName").val(e.data.userName);
                    $("#recTypeStr").val(e.data.recTypeStr);

                    /* 附件图片回显 */
                    /*$("#imageList").attr('src', showUrl + e.data.processInstanceId); <img class="img-rounded" src="">*/
                    let file = e.data.file;
                    if (file.length > 0) {
                        $("#imageList").empty();
                        let imageHtml = "";
                        for (let i = 0; i < file.length; i++) {
                            imageHtml += "<div class=\"innerPic\" style=\"float:left;margin-left: 10px\">" +
                                "<img class='img-rounded' src='" + showUrl + file[i].url + "'>" +
                                "</div>"
                        }
                        $("#imageList").html(imageHtml);

                        $("#pictureList").empty();
                        let pictureList = "";
                        for (let i = 0; i < file.length; i++) {
                            pictureList += "<div class=\"swiper-slide\">" +
                                "<img style='width: 100%;height: 100%' src='" + showUrl + file[i].url + "'>" +
                                "</div>"
                        }
                        $("#pictureList").html(pictureList);
                    }
                    getTimeAxis(row.id);
                });
            },
            columns: [
                {
                    field: 'index',
                    title: '序号',
                    formatter : function (value, row, index){
                        var page = $('#bootstrap-table').bootstrapTable("getPage");
                        return page.pageSize * (page.pageNumber - 1) + index + 1;
                    }
                },
                {
                    title: '案件编号',
                    field: 'eventCode'
                },
                {
                    title: '问题描述',
                    field: 'represent'
                },
                {
                    title: '当前状态',
                    field: 'taskName'
                },
                {
                    title: '案件类型',
                    field: 'eventTypeName'
                },
                {
                    title: '达到时间',
                    field: 'startTime'
                }

            ]
        };
        $.table.init(options);
    }

    function getTimeAxis(eventId) {
        $.ajaxUtil.get(statisticsByEventIdUrl + "/?eventId=" + eventId, function (e) {
            let data = e.data;
            $("#timeAxis").empty();
            let html = "";
            if (data.length === 0) {
                html += "<div>暂时没有数据，请进入流程处理案件</div>";
            } else {
                for (let i = 0; i < data.length; i++) {
                    html += "<div class='expressRecord-single-close'>";
                    html += "<div class='expressRecord-single-noReach-online-top-close'>";
                    if (i === 0) {
                        html += "<div class='online-top-closing'></div>";
                    } else {
                        html += "<div class='online-top-close'></div>";
                    }
                    html += "<div class='dot-close'>";
                    if (i === 0) {
                        html += "<div class='yes blockActive'></div>";
                    } else {
                        html += "<div class='yes'></div>";
                    }
                    html += "</div>";
                    if (i === (data.length - 1)) {
                        html += "<div class='online-bottom-start'></div>";
                    } else {
                        html += "<div class='online-bottom'></div>";
                    }
                    html += "</div>";
                    html += "<div class='expressRecord-text'>";
                    html += "<div class='gameEnd'>";
                    html += "<div class='endBox'>";
                    html += "回复内容:<em class='roleSize'>"+ data[i].opinions +"</em> "
                    html += "</div>";

                    html += "</div>";
                    html += "<div class='gameEnd'>";
                    html += "<div class='endBox'>";
                    html += "by:<em class='roleSize'>"+ data[i].user + "，角色" + "</em> ";
                    html += "</div>";
                    html += "</div>";
                    html += "<div class='gameEnd'>";
                    html += "<div class='endBox RecordTime'>";
                    html += "<div>开始时间:<em>"+ data[i].starTime +"</em></div>";
                    html += "</div>";
                    html += "</div>";
                    html += "<div class='gameEnd'>";
                    html += "<div class='endBox RecordTime'>";
                    html += "结束时间:<em>"+ data[i].endTime +"</em>"
                    html += "</div>";
                    html += "</div>";
                    html += "<div class='gameEnd felx_end'>";
                    html += "<div class='endBox'>";
                    if (data[i].fileName.length > 0) {
                        html += "<button class='endBox enclosure' type='button' value='" + JSON.stringify(data[i].fileName) + "' onclick='setFileUrl(this)'><i></i>附件详情</button>";
                    }
                    html += "</div>";
                    html += "</div>";
                    html += "</div>";
                    html += "<div class='expressRecord-date'>";
                    html += "<div class='expressRecord-date-text'>" + data[i].link + "</div>";
                    html += "</div>";
                    html += "</div>"
                }
            }
            $("#timeAxis").append(html);
        });
    }
    function setFileUrl(data) {
        let value = $.parseJSON(data.value);
        if (value.length > 0) {
            $("#modelImageList").empty();
            let imageHtml = "";
            for (let i = 0; i < value.length; i++) {
                imageHtml += "<div class=\"swiper-slide\">" +
                    "<img style='width: 100%;height: 100%' src='" + showUrl + value[i].url + "'>"+
                    "</div>"
            }
            $("#modelImageList").html(imageHtml);
        }
    }
    function Cancel() {
        $.modal.closeLoading();
    }

    //上传 照片视频音频
    let uploadUrl = /*[[@{/common/upload}]]*/ "/common/upload";
    $(function () {

        $(".input-id").fileinput({
            language: 'zh',                                     // 设置语言
            theme: 'fa',
            uploadUrl: uploadUrl,
            // showUpload: true,
            // previewFileType: 'any',
            // enableResumableUpload: true,
            allowedFileExtensions: ['jpg', 'png', 'gif'],       // 接收的文件后缀
            maxFileCount: 2,                                    // 最大文件数量
            hideThumbnailContent: false,                        // 上传图片之后 是否隐藏缩略图
            focusCaptionOnBrowse: false,
            showCaption: false,                                 // 是否显示标题
            showPreview: true,                                  // 是否显示预览
            showUpload: false,                                  // 是否显示上传按钮
            showRemove: true,                                   // 显示移除按钮
            dropZoneEnabled: false,                             // 是否显示拖拽区域
            // browseClass: "btn btn-primary",                     // 按钮样式

        }).on('change', function (event) {
            console.log("change()           只要通过文件浏览按钮在文件输入控件中选择单个文件或多个文件，就会触发此事件。");
        }).on('fileselect', function (event, numFiles, label) {
            console.log("fileselect()       通过文件浏览按钮在文件输入中选择文件后触发此事件。这与change事件稍有不同，即使文件浏览对话框被取消，它也会被触发");
        }).on("filebatchselected", function (event, files) {
            // $(this).fileinput("upload");
        }).on("fileuploaded", function (event, data) {
            console.log('fileuploaded()      ');

            if (data.response.code === web_status.FAIL) {
                console.log("上传文件失败");
            }
            console.log(data);
        }).on('filedeleted', function (event, key) {
            console.log('filedeleted()      在删除initialPreview内容集中的每个缩略图文件之后触发此事件');
            console.log('Key = ' + key);
        }).on('filesuccessremove', function (event, id) {
            console.log("使用缩略图删除按钮删除成功上传的缩略图后，会触发此事件。");
            console.log(id);
        }).on('fileclear', function (event) {
            console.log("fileclear()         当文件输入删除按钮或预览窗口关闭图标被按下以清除文件预览时触发此事件。");
            console.log(event);
        }).on('filecleared', function (event) {
            console.log("filecleared()        在预览中的文件被清除后触发此事件。");
            console.log(event);
        }).on('filepredelete', function (event, key) {
            console.log('filepredelete()     在删除initialPreview内容集中的每个缩略图文件之前触发此事件。');
            console.log('Key = ' + key);
        }).on('filesuccessremove', function (event, id) {
            console.log('filesuccessremove()   ')
            console.log(id);
        });

        $(".videoInput").fileinput({
            language: 'zh',                                     // 设置语言
            theme: 'fa',
            // uploadUrl: uploadUrl,
            // showUpload: true,
            // previewFileType: 'any',
            // enableResumableUpload: true,
            allowedFileExtensions: ['jpg', 'png', 'gif'],       // 接收的文件后缀
            maxFileCount: 2,                                    // 最大文件数量
            hideThumbnailContent: false,                        // 上传图片之后 是否隐藏缩略图
            focusCaptionOnBrowse: false,
            showCaption: false,                                 // 是否显示标题
            showPreview: true,                                  // 是否显示预览
            showUpload: false,                                  // 是否显示上传按钮
            showRemove: true,                                   // 显示移除按钮
            dropZoneEnabled: false,                             // 是否显示拖拽区域
            // browseClass: "btn btn-primary",                     // 按钮样式

        })
        $(".musicInput").fileinput({
            language: 'zh',                                     // 设置语言
            theme: 'fa',
            // uploadUrl: uploadUrl,
            // showUpload: true,
            // previewFileType: 'any',
            // enableResumableUpload: true,
            allowedFileExtensions: ['jpg', 'png', 'gif'],       // 接收的文件后缀
            maxFileCount: 2,                                    // 最大文件数量
            hideThumbnailContent: false,                        // 上传图片之后 是否隐藏缩略图
            focusCaptionOnBrowse: false,
            showCaption: false,                                 // 是否显示标题
            showPreview: true,                                  // 是否显示预览
            showUpload: false,                                  // 是否显示上传按钮
            showRemove: true,                                   // 显示移除按钮
            dropZoneEnabled: false,                             // 是否显示拖拽区域
            // browseClass: "btn btn-primary",                     // 按钮样式

        })
    })

    var center = ol.proj.transform([115.62, 41.74], "EPSG:4326", "EPSG:3857");
    // 沽源地图
    var center = [115.68192, 41.66462];
    var projection = new ol.proj.Projection({
        code: 'EPSG:4326',
        units: 'degrees',
        axisOrientation: 'neu',
        global: true
    });
    var untiled = new ol.layer.Image({
        source: new ol.source.ImageWMS({
            ratio: 1,
            url: 'http://192.168.24.203:7880/geoserver/guyuan20201010/wms',
            params: {
                'VERSION': '1.1.1',
                "LAYERS": 'guyuan20201010:guyuan',
                "exceptions": 'application/vnd.ogc.se_inimage',
            }
        })
    });
    var source = new ol.source.Vector({wrapX: false});

    var map = new ol.Map({
        target: 'map',
        layers: [
            untiled
        ],
        view: new ol.View({
            // projection: projection,
            center:center,
            zoom:17,
            projection: projection
        })
    });


    var layerMap = new ol.layer.Vector({
        source: new ol.source.Vector(),
    });
    map.addLayer(layerMap);
    function setPoint(x, y) {
        let point = new ol.Feature({
            geometry: new ol.geom.Point([x, y]),
            data: {
                // id: data,
                // name: name,
                coordinate: x + "," + y
            }
        });
        layerMap.getSource().addFeature(point);
        point.setStyle(new ol.style.Style({
            image: new ol.style.Circle({
                radius: 10,
                fill: new ol.style.Fill({
                    color: '#ff0000'
                }),
                stroke: new ol.style.Stroke({
                    color: '#ff0000',
                    width: 3
                })
            })
        }));
    }

    function selectEventTypeTree() {
        console.log(1)
        var treeId = $("#treeId").val();
        var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        var url = /*[[@{/tree/eventtype}]]*/ "/tree/eventtype";
        var options = {
            title: '选择事件类型',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }
    function doSubmit(index, layero) {
        console.log(2)
        var body = layer.getChildFrame('body', index);
        $("#eventTypeId").val(body.find('#treeId').val());
        $("#typeStr").val(body.find('#treeName').val());
        let eventTypeId = $("#eventTypeId").val();
        //获取立案区域
        findEventConditionByEventType(eventTypeId)
        layer.close(index);
    }
    let findEventConditionByEventTypeUrl = /*[[@{/event/findEventConditionByEventType}]]*/ "/event/findEventConditionByEventType";
    /**
     * 获取立案区域
     */
    function findEventConditionByEventType(eventTypeId) {
        let url = findEventConditionByEventTypeUrl + "?eventTypeId=" + eventTypeId;
        $.ajaxUtil.get(url, function (e) {
            let option = "<option value=''>--请选择--</option>";
            if (e.code === "0") {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.region + "</option>"
                });
                $("#eventCondition").html(option);
            }
        });
    }

    /**
     * 立案条件
     */
    function getEventCondition() {
        let eventConditionId = $("#eventCondition").val();
        let url = "/event/getEventCondition?conditionId=" + eventConditionId;
        $.ajaxUtil.get(url, function (e) {
            $("#eventTerm").empty();
            let option = "<option value=''>--请选择--</option>";
            if (e.code === "0") {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.conditionValue + "</option>"
                });
            }
            $("#eventTerm").html(option);
        });
    }

    /**
     * 获取立案时限分类
     */
    function getTimeTypeList() {
        let eventTerm = $("#eventTerm").val();
        let url = "/event/findDeptTimeLimitByCondition?conditionId=" + eventTerm;
        $.ajaxUtil.get(url, function (e) {
            $("#timeType").empty();
            let option = "<option value=''>--请选择--</option>";
            if (e.code === "0") {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.level + "</option>"
                });
            }
            $("#timeType").html(option);
        });
    }
</script>
</body>
</html>
