<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>热线上报</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: fileUpload_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>
    <th:block th:include="page/fragments/common :: ztree_css"/>
    <link th:href="@{/css/eventList.css}" rel="stylesheet" type="text/css">
</head>
<body style="border-radius: 8px;">
<div class="content">
    <div class="leftContent">
        <div class="notice_check">
            <form id="search-form">
                <h5 style="padding-left: 5px">搜索</h5>
                <p>
                    <label class=""></label>
                    <input type="search" class="find_input" id="key">
                    <input type="hidden" th:name="eventTypeId" id="eventTypeId">
                    <!--                    <input type="button" class="check_btn button_ground" onclick="search()" value="查询">-->
                    <!--                    <input type="button" class="check_btn1 button_ground" value="重置">-->
                </p>
            </form>
            <div class="tree">
                <div class="treeDemo">
                    <ul id="treeDemo" class="ztree"></ul>
                </div>
            </div>
        </div>


    </div>
    <div class="rightContent">
        <form class="details" id="roleForm">
            <div class="top table2_top">
                <h5 style="padding: 16px 10px 0">人员列表</h5>
                <div class="top_out personneList">
                    <div class="role">
                        <input type="checkbox" class="roleCheckBox"><span class="roleName">京东</span>
                    </div>
                    <div class="role">
                        <input type="checkbox" class="roleCheckBox"><span class="roleName">淘宝</span>
                    </div>
                    <div class="role">
                        <input type="checkbox" class="roleCheckBox"><span class="roleName">天猫</span>
                    </div>

                </div>
                <div class="notice_bot">
                    <div class="r_right but_p girdBtnGroup" id="eventButton">
                        <button class="but_save" type="button" style="margin-right: 10px" id="saveRoleBtn"
                                >全选
                        </button>
                        <button class="but_save roleBox" type="button" id="lessCheck" style="margin-right: 10px">取消全选
                        </button>
                        <button class="but_save" type="button" style="margin-right: 10px" id="updateRoleBtn"
                                >保存
                        </button>
                </div>
            </div>
            </div>
        </form>
    </div>
</div>




<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: jquery_validation_js"/>
<th:block th:include="page/fragments/common :: fileUpload_js"/>
<th:block th:include="page/fragments/common :: map_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>
<th:block th:include="page/fragments/common :: ztree_js"/>
<script type="text/javascript" th:inline="javascript">

    let getAllAndRoleForTreeUrl = /*[[@{/roleSetup/getAllAndRoleForTree}]]*/ "/roleSetup/getAllAndRoleForTree";

    $(function () {

        //全选 全不选
        $("#saveRoleBtn").click(function () {
            $(this).addClass("roleBox");
            $("#lessCheck").removeClass("roleBox");
            $('input:checkbox').prop("checked",true)
        });
        $("#lessCheck").click(function () {
            $(this).addClass("roleBox");
            $("#saveRoleBtn").removeClass("roleBox");
            $('input:checkbox').prop("checked",false)
        })

        $.ajaxUtil.get(getAllAndRoleForTreeUrl, function (e) {
            var zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, e.data);
        })

        var setting = {
            callback: {

            },
            data: {//数据加载
                keep: {
                    parent: true,
                    leaf: true
                },
                simpleData: {
                    enable: true,
                    idKey: 'id',
                    pIdKey: 'parentId'
                },
                key: {
                    name: "deptName"
                }
            }
        };

        function search() {
            $.ajax({
                type: "GET",
                url: getAllAndRoleForTreeUrl,
                success: function (result) {
                    $.fn.zTree.init($("#treeDemo"), setting, result.data);
                    fuzzySearch("treeDemo", '#key', null, true);
                }
            });
            if ($("#key").val() == 0){
                $("#treeDemo").click(function () {
                    $.fn.zTree.getZTreeObj("treeDemo").expandAll(false);
                });
            }
        }

        search()


    });


</script>
</body>
</html>
