<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>用户管理</title>
    <link th:href="@{/plugins/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/plugins/bootstrap-table/dist/bootstrap-table.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/plugins/fontawesome-free/css/all.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/table.css}" rel="stylesheet" type="text/css">
</head>
<body style="background-color: #ecf0f5;font-family: 微软雅黑;color: #475059;min-width: 1150px;overflow: auto" >
<div class="notice_main ">
    <h6>用户管理</h6>
    <div style="border-bottom: 1px #ccc solid;padding-bottom: 8px">
        <p style="line-height: 24px;font-size: 14px;padding: 4px 0 0 36px ;color:#bb8940;background-image: url(img/ts_03.png);background-repeat: no-repeat;background-position: 10px 8px;font-weight: bold">温馨提示</p>
        <ul class="ts">
            <li><span>*</span>该页面主要显示的是用户信息查询界面。</li>
        </ul>
    </div>

    <div class="notice_check">
        <p>
            <label class="">从业单位：</label>
            <input type="text" class="find_input" placeholder="">
            <label class="">所在区域：</label>
            <select class="find_input"><option>全部</option>
                <option>成都</option>
                <option>绵阳</option>
                <option>德阳</option>
                <option>简阳</option>
                <option>资阳</option>
                <option>泸州</option>
                <option>宜宾</option>
                <option>自贡</option>
                <option>达州</option>
                <option>巴中</option>
                <option>甘孜阿坝州</option>
                <option>凉山州</option>
            </select>
            <label class="">单位类型：</label>
            <select class="find_input"><option>全部</option>
                <option>生产单位</option>
                <option>存储单位</option>
                <option>运输单位</option>
                <option>使用单位</option>
            </select>
            <button class="check_btn">查询</button>
            <button onclick="carAnalysis()" class="check_btn1">全局分析</button>
        </p>
    </div>

    <div class="clear"></div>

    <table id="table" class="table_style" style="margin: 0 auto" > </table>
</div>

<div class="btn-group-sm" id="toolbar">
    <a class="btn btn-success" onclick="$.operate.addTab()">
        <i class="fa fa-plus"></i> 新增
    </a>
<!--    <a class="btn btn-primary single disabled" onclick="$.operate.editTab()">-->
<!--        <i class="fa fa-edit"></i> 修改-->
<!--    </a>-->
<!--    <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()">-->
<!--        <i class="fa fa-remove"></i> 删除-->
<!--    </a>-->
<!--    <a class="btn btn-info" onclick="$.table.importExcel()">-->
<!--        <i class="fa fa-upload"></i> 导入-->
<!--    </a>-->
<!--    <a class="btn btn-warning" onclick="$.table.exportExcel()">-->
<!--        <i class="fa fa-download"></i> 导出-->
<!--    </a>-->
</div>


<script type="text/javascript" th:src="@{/plugins/jquery/dist/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap/dist/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap-table/dist/bootstrap-table.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:inline="javascript">

    let url = /*[[@{/logininfo/search}]]*/ "/json/unit.json";


    $(function () {
        $('#table').bootstrapTable({
            method: "get",
            striped: true,
            singleSelect: false,
            url: url,
            dataType: "json",
            pagination: true, //分页
            paginationLoop: false,
            // pageSize: 10,
            // pageNumber: 1,
            search: false, //显示搜索框
            pageList: [10],
            sidePagination: "server",
            loadingFontSize: 13,
            showRefresh: true,                         // 是否显示刷新按钮
            showToggle: true,                          // 是否显示详细视图和列表视图的切换按钮
            showColumns: true,                         // 是否显示隐藏某列下拉框
            // cardView: true,                         // 是否启用显示卡片视图
            // detailView: true,                       // 是否启用显示细节视图
            contentType: "application/x-www-form-urlencoded",
            toolbar: '#toolbar',                     // 指定工作栏
            queryParams: function(params) {
                var curParams = {
                    // 传递参数查询参数
                    size:         params.limit,
                    page:         params.offset / params.limit,
                    // searchValue:    params.search,
                    // orderByColumn:  params.sort,
                    // isAsc:          params.order
                };
                // var currentId = $.common.isEmpty(table.options.formId) ? $('form').attr('id') : table.options.formId;
                // return $.extend(curParams, $.common.formToJSON(currentId));
                return curParams;
            },
            responseHandler: function (result) {
                // console.log(result);
                // return result.data.content;
                return { rows: result.data.content, total: result.data.totalElements };
            },
            columns: [
                // {
                //     title: '账号',
                //     field: 'username',
                //     align: 'center',
                //     valign: 'middle'
                // },
                {
                    title: '账号',
                    field: 'username',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: "登录地址",
                    field: 'ip',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: '登录时间',
                    field: 'createTime',
                    align: 'center',
                    valign: 'middle'
                },
                // {
                //     title: '所在区域',
                //     field: 'location',
                //     align: 'center'
                // },
                // {
                //     title: '法定代表人',
                //     field: 'person',
                //     align: 'center'
                // },
                {
                    title: '操作',
                    field: '',
                    align: 'center',
                    formatter: function (value, row) {
                        var e = '<a  href="#" title="" onclick="edit(\'' + row.id + '\')">查看详情</a> ';
                        var d = '<a  href="#" title="" onclick="edit(\'' + row.id + '\')">单体分析</a> ';
                        return e + d;
                    }
                }
            ]
        });
    });
    function edit() {
        var Name = "单位详情";
        var Href = "conmpanyTail.html";
        var data_id = $("#add").attr('data-id');
        window.parent.$.learuntab.myAddTab(Name, Href, data_id);
    }
    function carAnalysis(){
        var Name = "从业单位分析";
        var Href = "unit_analysis.html";
        var data_id = $("#add").attr('data-id');
        window.parent.$.learuntab.myAddTab(Name, Href, data_id);
    }
    //    function openLayer(){
    //        layer.open({
    //            type: 2,
    //            title: '详情信息',
    //            shade: 0.5,
    //            skin: 'layui-layer-rim',
    //            area: ['98%', '92%'],
    //            shadeClose: true,
    //            closeBtn: 2,
    //            content: 'news_tail.html'
    //        });
    //    }
</script>
</body>
</html>
