<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <title>用户管理</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
</head>
<style>

</style>
<body style="background-color: #ecf0f5;font-family: 微软雅黑;color: #475059;min-width: 1150px;overflow: auto">
<div class="notice_main">
    <table id="bootstrap-table" class="table_style" style="margin: 0 auto"></table>
    <div class="notice_check">
        <form id="search-form">
            <input type="hidden" th:value="${eventTypeId}" name="eventTypeId">
            <p style="display: flex;justify-content: flex-end">
                <input type="button" class="check_btn button_ground" onclick="" value="保存">
            </p>
        </form>
    </div>
<!--    <div class="lian roleBox">-->
<!--        <div class="notice_bot" style="padding-left: 10px">-->
<!--            <div class="r_right but_p girdBtnGroup" id="eventButton" style="justify-content: start!important;">-->
<!--                <button class="but_save" type="button" style="margin-right: 10px" onclick="add()">新增</button>-->
<!--                <button class="but_save" type="button" id="sureOne">删除</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <table id="addTable" class="table_style component"></table>-->
<!--    </div>-->

<!--    <div class="jiean roleBox">-->
<!--        <div class="notice_bot" style="padding-left: 10px">-->
<!--            <div class="r_right but_p girdBtnGroup" id="" style="justify-content: start!important;">-->
<!--                <button class="but_save" type="button" style="margin-right: 10px" onclick="tableCommon()">新增</button>-->
<!--                <button class="but_save" type="button" id="sureTwo">删除</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <table id="tableCommon" class="component"></table>-->
<!--    </div>-->
</div>



<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>

<script type="text/javascript" th:inline="javascript">

    $(function () {
        queryUserList();

        tableRefresh();
        tableRefreshAgain();

        $(document).on("click",".less_table",function(){
            // console.log(row)
        });

        $(document).on("click","#lian",function(){
            // $('#tableCommon').bootstrapTable('destroy');
            // $(".jiean").remove();
            // tableRefresh();
            // $('#addTable').bootstrapTable('refresh');
            $(".lian").removeClass("roleBox");
            $(".jiean").addClass("roleBox");
        });

        $(document).on("click","#jiean",function(){
            // $('#addTable').bootstrapTable('destroy');
            // $(".lian").remove();
            // tableRefreshAgain();
            // $('#tableCommon').bootstrapTable('refresh');
            $(".lian").addClass("roleBox");
            $(".jiean").removeClass("roleBox");
        });
    });

    let eventTypeId = [[${eventTypeId}]];

    let searchUrl = /*[[@{/categoryConfiguration/eventConditionParentList}]]*/ "/categoryConfiguration/eventConditionParentList";
    function queryUserList() {
        let options = {
            url: searchUrl,
            columns: [
                {
                    field: 'index',
                    title: '序号',
                    formatter: function (value, row, index) {
                        let page = $('#bootstrap-table').bootstrapTable("getPage");
                        return page.pageSize * (page.pageNumber - 1) + index + 1;
                    }
                },
                {
                    title: '大类名称',
                    field: 'categoryName'
                },
                {
                    title: '小类名称',
                    field: 'subclassName'
                },

                {
                    title: '立案区域',
                    field: 'region'
                },
                {
                    title: '配置条件',
                    field: '',
                    class: 'radios',
                    formatter: function (value, row) {
                        console.log("row", row);
                        return "<a id='lian' style='margin-right: 10px'>立案条件</a>" +
                            "<a id='jiean'>结案条件</a>";
                    }
                }
            ]
        };
        $.table.init(options);
    }


    function add() {
        let count = $("#addTable").bootstrapTable('getData').length;
        $("#addTable").bootstrapTable('insertRow', {
            index: count,
            row: {
                id: count + 1,
                name: 'test',
                username: '2',
                phone:'第一'
            }
        });
    }

    function tableRefresh() {
        $('#addTable').bootstrapTable({
            //点击全选框时触发的操作
            onCheckAll: function(rows) {
                console.log("点击全选框时触发的操作",rows);
            },
            //  点击每行进行函数的触发
            // onClickRow: function(row, tr, flied) {
            //
            //
            // },
            //点每一个单选框时触发的操作
            onCheck: function(row) {
                console.log("点每一个单选框时触发的操作",row);
            },

            //取消每一个单选框时对应的操作；
            onUncheck: function(row) {
                console.log("取消每一个单选框时对应的操作",row);
            },

            ////取消所有
            onUncheckAll: function(row) {
                console.log("取消所有",row);
            },
            columns: [
                {
                    field: 'id',
                    title: '序号',
                },
                {
                    checkbox: true,
                    title: '编辑',
                    class: "check"
                },
                {
                    title: '类别名称',
                    field: 'name'
                },
                {
                    title: '立案区域',
                    field: 'username'
                },

                {
                    title: '立案条件',
                    field: 'phone',
                    formatter:function (value,row,index) {
                        return "<input type='text' >"
                    }
                },
                {
                    title: '1类',
                    field: 'one',
                    formatter: priceForm
                },
                {
                    title: '2类',
                    field: 'two',
                    formatter: priceForm,
                },
                {
                    title: '3类',
                    field: 'three',
                    formatter: priceForm,
                },
                {
                    title: '操作',
                    field: 'lesstable',
                    formatter: function (value, row)  {
                        let a = "<a class='less_table' id='"+ row.id +"' onclick='delDetail(this)'><img src='../img/lessTable.png'></a>";
                        return a;
                    },
                },
            ]
        });
    }

    function priceForm(value, row, index) {
        return "<input value='2' class='' type='text' style='width: 50px!important;margin-right: 10px;text-align: center'/>" +
            "<select class=''>" +
            "<option>时</option>" +
            "<option>分</option>" +
            "<option>秒</option>" +
            "</select>";
    }

    $("#sureOne").click(function () {
        let rows = $('#tableCommon').bootstrapTable('getSelections');
        alert(rows)
        console.log(JSON.stringify(rows));
    })
    function delDetail(index) {
        console.log((index));
        $('#addTable').bootstrapTable('remove', {
            field: "id",
            values: (index).id
        });
    }



    function tableCommon() {
        let counts = $("#tableCommon").bootstrapTable('getData').length;
        $("#tableCommon").bootstrapTable('insertRow', {
            index: counts,
            row: {
                ids: counts + 1,
                names: 'test',
                usernames: '2',
                phones:'第一'
            }
        });
    }

    function tableRefreshAgain() {
        $('#tableCommon').bootstrapTable({
            //点击全选框时触发的操作
            onCheckAll: function(rows) {
                console.log("点击全选框时触发的操作",rows);
            },
            //  点击每行进行函数的触发
            // onClickRow: function(row, tr, flied) {
            //
            //
            // },
            //点每一个单选框时触发的操作
            onCheck: function(row) {
                console.log("点每一个单选框时触发的操作",row);
            },

            //取消每一个单选框时对应的操作；
            onUncheck: function(row) {
                console.log("取消每一个单选框时对应的操作",row);
            },

            ////取消所有
            onUncheckAll: function(row) {
                console.log("取消所有",row);
            },
            columns: [
                {
                    field: 'ids',
                    title: '序号',
                },
                {
                    checkbox: true,
                    title: '编辑',
                    class: "check"
                },
                {
                    title: '类别名称',
                    field: 'names'
                },
                {
                    title: '立案区域',
                    field: 'usernames'
                },

                {
                    title: '立案条件',
                    field: 'phones'
                }
            ]
        });
    }

    $("#sureTwo").click(function () {
        let num = $('#tableCommon').bootstrapTable('getSelections');
        alert(num)
        console.log(JSON.stringify(num));
    })



</script>
</body>
</html>
