<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>热线上报</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: map_css"/>
    <th:block th:include="page/fragments/common :: fileUpload_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>
    <link th:href="@{/css/publishList.css}" rel="stylesheet" type="text/css">
</head>
<style>

</style>
<body>
<div class="infoBox">
    <div class="radioInput">
        <input type="hidden" id="dataValue" value=""/>
        <input type="hidden" id="dataId" value=""/>
        <div id="publishList"></div>
        <div class="notice_bot">
            <div class="r_right but_p girdBtnGroup">
                <button class="but_save" type="button" onclick="layerPublish()">发布</button>

            </div>
        </div>
    </div>
    <div class="maps">
        <div class="map" id="map" style="width: 100%;height: 100%"></div>
    </div>
</div>

<div id="pictureDiv" style="display: none">

</div>


<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: map_js"/>
<th:block th:include="page/fragments/common :: jquery_validation_js"/>
<th:block th:include="page/fragments/common :: fileUpload_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>

<script type="text/javascript" th:inline="javascript">


    let getPublishListUrl = /*[[@{/publish/getPublishList}]]*/ "/publish/getPublishList";
    let layerPublishUrl = /*[[@{/publish/layerPublish}]]*/ "/publish/layerPublish";

    $(function () {
        getPublishList();
        $(".ol-full-screen-false").html("全屏")

        getGridPublishUrl()
    });

    function getPublishList() {
        $.ajaxUtil.get(getPublishListUrl, function (e) {
            let data = e.data;
            $("#publishList").empty();
            let htmlStr = "";
            for (let i = 0; i < data.length; i++) {
                htmlStr += "<p>"
                htmlStr += "<input type='radio' value='" + data[i].type + "' id='" + data[i].id + "' name='publish' onclick='radioPublish(this)' class='radio'>" + data[i].name
                htmlStr += "</p>"
            }
            $("#publishList").append(htmlStr);
        });
    }

    $('#publishList').on("click", ".radio", function () {
        layerMap.getSource().clear()
    })

    function radioPublish(data) {
        $("#dataId").val(data.id);
        $("#dataValue").val(data.value);
        getPublishOneUrl(data.id);
    }

    let getGridUrl = /*[[@{/event/getGridUrl}]]*/ "/event/getGridUrl";

    function getGridPublishUrl() {
        $.ajaxUtil.get(getGridUrl, function (e) {
            // console.log("e", e);
            /*
            * 初始渲染底图g
            * */
            var urlParam = e.data.split("?");
            var url = urlParam[0];
            var param = urlParam[1];
            // console.log(url+","+param)
            var ImageVector = new ol.layer.Tile({
                source: new ol.source.TileWMS({
                    url: url,
                    params: {
                        'VERSION': '1.1.1',
                        tiled: true,
                        "LAYERS": param,
                        "exceptions": ''
                    }
                })
            });
            var layersArray = map.getLayers();
            layersArray.insertAt(1, ImageVector);
            //获取地图数据s
            map.on('singleclick', function (evt) {
                var viewResolution = map.getView().getResolution();
                var url = ImageVector.getSource().getGetFeatureInfoUrl(
                    evt.coordinate, viewResolution, 'EPSG:4326', {
                        'INFO_FORMAT': 'text/javascript', //geoserver支持jsonp才能输出为jsonp的格式
                        'FEATURE_COUNT': 50 //点击查询能返回的数量上限
                    });
                $.ajax({
                    type: 'GET',
                    url: url,
                    dataType: 'jsonp',
                    jsonp: 'format_options',
                    jsonpCallback: "callback:success_jsonpCallback"
                });
            });
        })
    };
    function success_jsonpCallback(res) {
        var features = geojsonFormat.readFeatures(res);
        console.log('点击查询返回的结果如下：');
        console.log("features", features);
        let mongodbId = features[0].H.mongodb_id;
        console.log("features", mongodbId);
        /*$.ajaxUtil.get(getGridByCheckLayerUrl + "?mongodbId=" + mongodbId, function (e) {
            console.log("e", e);
        })*/
    }

    function getPublishOneUrl(id) {
        let getPublishOneUrl = /*[[@{/publish/getPublishOne/}]]+id*/ "/publish/getPublishOne/" + id;
        $.ajaxUtil.get(getPublishOneUrl, function (e) {
            let data = e.data;
            if (data.length === 0) {
                return false;
            }
            if (data[0].type === "部件") {
                for (let i = 0; i < data.length; i++) {
                    setPoint(data[i].coordinate.split(",")[0], data[i].coordinate.split(",")[1], data[i].id, data[i].type);
                }
            } else if (data[0].type === "网格") {
                for (let i = 0; i < data.length; i++) {
                    let data1 = data[i].coordinate;
                    let split = data1.split("-");
                    let polygonArray = [];
                    let polygonArrayEnd = [];
                    for (let j = 0; j < split.length; j++) {
                        let pointArray = [];
                        pointArray.push(split[j].split(",")[0]);
                        pointArray.push(split[j].split(",")[1]);
                        polygonArray.push(pointArray);
                        polygonArrayEnd.push(polygonArray);
                    }
                    setPolygon(polygonArrayEnd, data[i].id);
                }
            } else {
                console.log("error")
            }
        });

    }

    $(".clear").click(function () {
        layerMap.getSource().clear()
    })


    function layerPublish() {
        let id = $("#dataId").val();
        let type = $("#dataValue").val();
        $.operate.post(layerPublishUrl, {id: id, type: type}, function (e) {
            console.log("e", e);
        })
    }

</script>


<script type="text/javascript" th:inline="javascript">


    var center = ol.proj.transform([115.62, 41.74], "EPSG:4326", "EPSG:3857");
    // 沽源地图
    var center = [115.68192, 41.66462];
    var projection = new ol.proj.Projection({
        code: 'EPSG:4326',
        units: 'degrees',
        axisOrientation: 'neu',
        global: true
    });
    var untiled = new ol.layer.Image({
        source: new ol.source.ImageWMS({
            ratio: 1,
            url: 'http://192.168.24.203:7880/geoserver/guyuan20201010/wms',
            params: {
                'VERSION': '1.1.1',
                "LAYERS": 'guyuan20201010:guyuan',
                "exceptions": 'application/vnd.ogc.se_inimage',
            }
        })
    });
    var source = new ol.source.Vector({wrapX: false});
    var fullScreenControl = new ol.control.FullScreen();
    var map = new ol.Map({
        target: 'map',
        layers: [
            untiled
        ],
        view: new ol.View({
            // projection: projection,
            center:center,
            zoom:17,
            projection: projection
        })
    });
    map.addControl(fullScreenControl)
    var layerMap = new ol.layer.Vector({
        source: new ol.source.Vector(),
    });
    map.addLayer(layerMap);

    function setPoint(x, y, id, type) {
        let point = new ol.Feature({
            geometry: new ol.geom.Point([x, y]),
            data: {
                id: id,
                type: type,
                coordinate: x + "," + y
            }
        });
        layerMap.getSource().addFeature(point);
        point.setStyle(new ol.style.Style({
            image: new ol.style.Circle({
                radius: 10,
                fill: new ol.style.Fill({
                    color: '#ff0000'
                }),
                stroke: new ol.style.Stroke({
                    color: '#ff0000',
                    width: 3
                })
            })
        }));
    }

    function setPolygon(coordinates, id) {

        let Polygon = new ol.Feature({
            geometry: new ol.geom.Polygon(coordinates),
            data: {
                id: id,
                // name: name,
                coordinate: coordinates
            }
        });
        layerMap.getSource().addFeature(Polygon);
    }
</script>
</body>
</html>
