<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>热线上报</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: map_css"/>
    <th:block th:include="page/fragments/common :: fileUpload_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>
    <link th:href="@{/css/publishList.css}" rel="stylesheet" type="text/css">
</head>
<style>

</style>
<body>
<div class="infoBox">
    <div class="radioInput" id="publishList">
        <p>
            <input type="radio" value="1" name="handsom">第一个
        </p>
        <p>
            <input type="radio" value="2" name="handsom">第二个
        </p>
        <p>
            <input type="radio" value="3" name="handsom">第三个
        </p>

    </div>
    <div class="maps">
        <div class="map" id="map" style="width: 100%;height: 100%"></div>
    </div>
</div>

<div id="pictureDiv" style="display: none">

</div>


<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: map_js"/>
<th:block th:include="page/fragments/common :: jquery_validation_js"/>
<th:block th:include="page/fragments/common :: fileUpload_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>

<script type="text/javascript" th:inline="javascript">


    let getPublishListUrl = /*[[@{/publish/getPublishList}]]*/ "/publish/getPublishList";

    $(function () {
        getPublishList();
    });

    function getPublishList() {
        $.ajaxUtil.get(getPublishListUrl, function (e) {
            console.log("e", e);
            let data = e.data;
            $("#publishList").empty();
            let htmlStr = "";
            for (let i = 0; i < data.length; i++) {
                htmlStr += "<p>"
                htmlStr += "<input type='radio' value='" + data[i].id + "' name='publish' onclick='radioPublish(this)'>" + data[i].name
                htmlStr += "</p>"
            }
            $("#publishList").append(htmlStr);
        });
    }

    function radioPublish(data) {
        console.log("value", data.value);
        getPublishOneUrl(data.value);
    }

    function getPublishOneUrl(id) {
        let getPublishOneUrl = /*[[@{/publish/getPublishOne/}]]+id*/ "/publish/getPublishOne/" + id;
        $.ajaxUtil.get(getPublishOneUrl, function (e) {
            console.log("e", e);
        })
    }

</script>


<script type="text/javascript" th:inline="javascript">
    var center = ol.proj.transform([126.62, 45.74], "EPSG:4326", "EPSG:3857");
    var raster = new ol.layer.Tile({
        source: new ol.source.OSM()
    });
    var source = new ol.source.Vector({wrapX: false});
    //ol.layer.Vector用于显示在客户端渲染的矢量数据。
    var vector = new ol.layer.Vector({
        source: source
    });
    var map = new ol.Map({
        target: 'map',
        layers: [raster, vector],
        view: new ol.View({
            // projection: "EPSG:" + epsg,
            center: center,
            zoom: 12
        })
    });

    function setPoint(x, y, data) {
        let point = new ol.Feature({
            geometry: new ol.geom.Point([x, y]),
            data: {
                id: data,
                coordinate: x + "," + y
            }
        });
        layerMap.getSource().addFeature(point);
    }
    // function setLine(res, data, name) {
    //     let lines = new ol.Feature({
    //         geometry: new ol.geom.LineString(res),
    //         data: {
    //             id: data,
    //             name: name,
    //             coordinate: res
    //         }
    //     });
    //     // console.log(lines)
    //     layerMap.getSource().addFeature(lines);
    // }
    function setPolygon(coordinates, data, name) {
        let Polygon = new ol.Feature({
            geometry: new ol.geom.Polygon(coordinates),
            data: {
                id: data,
                name: name,
                coordinate: coordinates
            }
        });
        // console.log(Polygon)
        layerMap.getSource().addFeature(Polygon);
    }
</script>
</body>
</html>
