<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<body>

<!-- 通用CSS -->
<div th:fragment="common_css">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.css}">
    <link rel="stylesheet" th:href="@{/plugins/layer/theme/default/layer.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
</div>
<!-- 通用JS -->
<div th:fragment="common_js">
    <script th:src="@{/plugins/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/plugins/fontawesome-free/js/all.js}"></script>
    <script th:src="@{/plugins/bootstrap/dist/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/plugins/@popperjs/core/dist/umd/popper.min.js}"></script>
    <script th:src="@{/plugins/jquery-serializejson/jquery.serializejson.min.js}"></script>
    <script th:src="@{/plugins/layer/layer.js}"></script>
    <script th:src="@{/js/common.js}"></script>
</div>











<!-- bootstrap-table -->
<div th:fragment="bootstrap_table_css">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-table/dist/bootstrap-table.css}">
</div>
<div th:fragment="bootstrap_table_js">
    <script type="text/javascript" th:src="@{/plugins/bootstrap-table/dist/bootstrap-table.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js}"></script>
</div>










<!-- 日期格式插件 -->
<div th:fragment="bootstrap_datepicker_css">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.min.css}">
</div>
<div th:fragment="bootstrap_datepicker_js">
    <script th:src="@{/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js}" charset="UTF-8"></script>
    <script th:src="@{/plugins/bootstrap-datepicker/datapicker.js}"></script>
</div>









<!--  校验插件  只有js  没有css-->
<div th:fragment="jquery_validation_js">
    <script type="text/javascript" th:src="@{/plugins/jquery-validation/dist/jquery.validate.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/jquery-validation/dist/additional-methods.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/jquery-validation/dist/localization/messages_zh.js}"></script>
</div>








<!--ztree CSS-->
<div th:fragment="ztree_css">
    <link rel="stylesheet" th:href="@{/plugins/zTree/css/zTreeStyle/zTreeStyle.css}">
</div>
<!--ztree JS-->
<div th:fragment="ztree_js">
    <script th:src="@{/plugins/zTree/js/jquery.ztree.core.js}"></script>
    <script th:src="@{/plugins/zTree/js/jquery.ztree.excheck.js}"></script>
    <script th:src="@{/plugins/zTree/js/jquery.ztree.exhide.js}"></script>
    <script th:src="@{/plugins/zTree/js/jquery.ztree.all.js}"></script>
    <script th:src="@{/plugins/zTree/demo/js/fuzzysearch.js}"></script>
    <script th:src="@{/dist/js/ztreetools.js}"></script>
</div>


</body>
</html>