<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<body>

<!-- 通用CSS -->
<div th:fragment="common_css">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/layer/theme/default/layer.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</div>
<!-- 通用JS -->
<div th:fragment="common_js">
    <script th:src="@{/plugins/jquery/dist/jquery.min.js}"></script>
<!--    <script th:src="@{/plugins/fontawesome-free/js/all.min.js}"></script>-->
    <script th:src="@{/plugins/bootstrap/dist/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/plugins/@popperjs/core/dist/umd/popper.min.js}"></script>
    <script th:src="@{/plugins/jquery-serializejson/jquery.serializejson.min.js}"></script>
    <script th:src="@{/plugins/layer/layer.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/ajaxUtil.js}"></script>
</div>



<!-- 图表 echarts 插件-->
<div th:fragment="echarts_js">
    <script th:src="@{/plugins/echarts/echarts.min.js}"></script>
</div>

<!-- 弧  轨迹回放 arc -->
<div th:fragment="arc_js">
    <script th:src="@{/js/arc.js}"></script>
</div>



<!-- 轮播图 swiper 插件-->
<div th:fragment="swiper_css">
    <link rel="stylesheet" th:href="@{/plugins/swiper/dist/css/swiper.min.css}">
</div>
<div th:fragment="swiper_js">
    <script th:src="@{/plugins/swiper/dist/js/swiper.min.js}"></script>
</div>


<!-- bootstrap-table -->
<div th:fragment="bootstrap_table_css">
    <link rel="stylesheet" th:href="@{/plugins/jquery-treegrid/css/jquery.treegrid.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-table/dist/bootstrap-table.min.css}">
</div>
<div th:fragment="bootstrap_table_js">
    <script type="text/javascript" th:src="@{/plugins/jquery-treegrid/js/jquery.treegrid.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/bootstrap-table/dist/bootstrap-table.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/bootstrap-table/dist/extensions/treegrid/bootstrap-table-treegrid.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js}"></script>
</div>





<!-- select2 -->
<div th:fragment="select2_css">
    <link rel="stylesheet" th:href="@{/plugins/select2/dist/css/select2.min.css}">
</div>
<div th:fragment="select2_js">
    <script type="text/javascript" th:src="@{/plugins/select2/dist/js/select2.full.min.js}"></script>
</div>









<!-- 日期格式插件 -->
<div th:fragment="bootstrap_datepicker_css">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.min.css}">
</div>
<div th:fragment="bootstrap_datepicker_js">
    <script th:src="@{/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
<!--    <script th:src="@{/plugins/bootstrap-datepicker/datapicker.js}"></script>-->
    <script th:src="@{/plugins/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js}"></script>
</div>









<!--  校验插件  只有js  没有css-->
<div th:fragment="jquery_validation_js">
    <script type="text/javascript" th:src="@{/plugins/jquery-validation/dist/jquery.validate.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/jquery-validation/dist/additional-methods.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/jquery-validation/dist/localization/messages_zh.js}"></script>
</div>








<!--ztree CSS-->
<div th:fragment="ztree_css">
    <link rel="stylesheet" th:href="@{/plugins/zTree/css/zTreeStyle/zTreeStyle.css}">
</div>
<!--ztree JS-->
<div th:fragment="ztree_js">
    <script th:src="@{/plugins/zTree/js/jquery.ztree.core.js}"></script>
    <script th:src="@{/plugins/zTree/js/jquery.ztree.excheck.js}"></script>
    <script th:src="@{/plugins/zTree/js/jquery.ztree.exhide.js}"></script>
    <script th:src="@{/plugins/zTree/js/jquery.ztree.all.js}"></script>
    <script th:src="@{/plugins/zTree/demo/js/fuzzysearch.js}"></script>
    <script th:src="@{/plugins/zTree/ztreetools.js}"></script>
</div>




<!-- fileUploadFile插件-->
<div th:fragment="fileUpload_css">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-fileinput/css/fileinput.min.css}">
</div>
<div th:fragment="fileUpload_js">
    <script th:src="@{/plugins/bootstrap-fileinput/js/plugins/piexif.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-fileinput/js/plugins/sortable.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-fileinput/js/plugins/purify.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-fileinput/js/fileinput.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-fileinput/js/locales/zh.js}"></script>
    <script th:src="@{/plugins/bootstrap-fileinput/themes/fa/theme.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-fileinput/file_upload.js}"></script>
</div>

<!-- 地图openLayer插件-->
<div th:fragment="map_css">
    <link rel="stylesheet" th:href="@{/plugins/ol/css/ol.css}">
</div>
<div th:fragment="map_js">
    <script th:src="@{/plugins/ol/build/ol.js}"></script>
</div>



</body>
</html>