<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/layer/theme/default/layer.css}">
</head>
<body>

<div class="div_top">城市综合服务管理平台</div>
<div class="login">
    <div class="message">用户登录</div>
    <div id="darkbannerwrap"></div>
    <form id="loginForm">
        <input name="username" placeholder="账号" id="username" type="text">
        <hr class="hr15">
        <input name="password" placeholder="密码" id="password" type="password">
        <hr class="hr15">
        <canvas id="canvas" class="canvas"></canvas>
        <input name="input-val" class="input-val" placeholder="请输入验证码" id="input-val" type="text" >
        <hr class="hr15">
    </form>
    <input value="登录" style="width: 100%;" type="button" onclick="login()" id="login_btn">
    <hr class="hr20">
</div>
<div class="copyright">版权所有&nbsp;<span style="color: #f77118">2020 </span>中国联通</div>
<script type="text/javascript" th:src="@{/plugins/jquery/dist/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery-serializejson/jquery.serializejson.js}"></script>
<script type="text/javascript" th:src="@{/plugins/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jsencrypt/jsencrypt.min.js}"></script>


<script type="text/javascript" th:inline="javascript">

    if (window.top !== window.self) {
        alert('未登录或登录超时。请重新登录');
        window.top.location = window.location
    }


    let loginUrl = /*[[@{/login}]]*/ "/login";

    let PUBLIC_KEY = [[${PUBLIC_KEY}]];


    function login() {
        let password = $('#password').val();
        let data = {
            username: $('#username').val(),
            password: encryptPassword(password)
        }
        if ($('#username').val() == ''){
            alert("请输入用户名密码")
        }


        var val = $(".input-val").val().toLowerCase();
        var num = show_num.join("");
        if(val=='' && $('#username').val() !== '' ){
            alert('请输入验证码！');
        }else if(val == num){
            $.ajax({
                type: 'POST',
                url: loginUrl,
                data: data,
                success: function (result) {
                    if (result.code === '0') {
                        window.location.href = loginUrl;
                    } else {
                        layer.msg(result.message);
                    }
                }
            });
            $(".input-val").val('');
            // draw(show_num);

        }else{
            alert('验证码错误！请重新输入！');
            $(".input-val").val('');
            // draw(show_num);
        }
    }


    function encryptPassword(password) {
        let encrypt = new JSEncrypt();
        encrypt.setPublicKey(PUBLIC_KEY);
        return encrypt.encrypt(password);
    }
    var show_num = []
    draw(show_num)
    function draw(show_num) {
        var canvas_width=$('#canvas').width();
        var canvas_height=$('#canvas').height();
        var canvas = document.getElementById("canvas");
        var context = canvas.getContext("2d");
        canvas.width = canvas_width;
        canvas.height = canvas_height;
        var sCode = "a,b,c,d,e,f,g,h,i,j,k,m,n,p,q,r,s,t,u,v,w,x,y,z,A,B,C,E,F,G,H,J,K,L,M,N,P,Q,R,S,T,W,X,Y,Z,1,2,3,4,5,6,7,8,9,0";
        var aCode = sCode.split(",");
        var aLength = aCode.length;

        for (var i = 0; i < 4; i++) {
            var j = Math.floor(Math.random() * aLength);
            var deg = Math.random() - 0.5;
            var txt = aCode[j];
            show_num[i] = txt.toLowerCase();
            var x = 20 + i * 20;
            var y = 30 + Math.random() * 8;
            context.font = "bold 30px 微软雅黑";

            context.translate(x, y);
            context.rotate(deg);

            context.fillStyle = randomColor();
            context.fillText(txt, 0, 0);

            context.rotate(-deg);
            context.translate(-x, -y);
        }
        for (var i = 0; i <= 5; i++) {
            context.strokeStyle = randomColor();
            context.beginPath();
            context.moveTo(Math.random() * canvas_width, Math.random() * canvas_height);
            context.lineTo(Math.random() * canvas_width, Math.random() * canvas_height);
            context.stroke();
        }
        for (var i = 0; i <= 30; i++) {
            context.strokeStyle = randomColor();
            context.beginPath();
            var x = Math.random() * canvas_width;
            var y = Math.random() * canvas_height;
            context.moveTo(x, y);
            context.lineTo(x + 1, y + 1);
            context.stroke();
        }
    }

    //得到随机的颜色值
    function randomColor() {
        var r = Math.floor(Math.random() * 256);
        var g = Math.floor(Math.random() * 256);
        var b = Math.floor(Math.random() * 256);
        return "rgb(" + r + "," + g + "," + b + ")";
    }

</script>
</body>
</html>
