<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/layer/theme/default/layer.css}">
</head>
<body>

<div class="div_top">城市综合服务管理平台</div>
<div class="login">
    <div class="message">用户登录</div>
    <div id="darkbannerwrap"></div>
    <form method="post" id="loginForm" th:action="@{/login}">
        <input name="action" value="login" type="hidden">
        <input name="username" placeholder="账号" id="username" type="text" value="admin">
        <hr class="hr15">
        <input name="password" placeholder="密码" type="password" id="pass" value="123456">
        <hr class="hr15">
        <input value="登录" style="width: 100%;" type="button" onclick="login()" id="login_btn">
    </form>
    <hr class="hr20">
</div>
<div class="copyright">版权所有&nbsp;<span style="color: #f77118">2020 </span>中国联通</div>
<script type="text/javascript" th:src="@{/plugins/jquery/dist/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery-serializejson/jquery.serializejson.js}"></script>
<script type="text/javascript" th:src="@{/plugins/layer/layer.js}"></script>

<script type="text/javascript" th:inline="javascript">

    if (window.top !== window.self) {
        alert('未登录或登录超时。请重新登录');
        window.top.location = window.location
    }


    let loginUrl = /*[[@{/login}]]*/ "/login";

    function login() {
        let serialize = $('#loginForm').serialize();
        $.ajax({
            type: 'POST',
            url: loginUrl,
            data: serialize,
            success: function (result) {
                if (result.code === '0') {
                    window.location.href = loginUrl;
                } else {
                    layer.msg(result.message);
                }
            }
        });
    }


</script>
</body>
</html>
