<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>用户管理</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>

</head>
<body style="background-color: #ecf0f5;font-family: 微软雅黑;color: #475059;min-width: 1150px;overflow: auto" >
<div class="notice_main ">
    <h6>用户管理</h6>
    <div style="border-bottom: 1px #ccc solid;padding-bottom: 8px">
        <p style="line-height: 24px;font-size: 14px;padding: 4px 0 0 36px ;color:#bb8940;background-image: url(img/ts_03.png);background-repeat: no-repeat;background-position: 10px 8px;font-weight: bold">温馨提示</p>
        <ul class="ts">
            <li><span>*</span>该页面主要显示的是用户信息查询界面。</li>
        </ul>
    </div>




    <div class="notice_check">
        <form id="search-form">
            <p>
                <label class="">账号：</label>
                <input type="text" class="find_input" name="username">
                <label class="">姓名：</label>
                <input type="text" class="find_input" name="name">
                <input type="button" class="check_btn" onclick="$.table.search()" value="查询">
                <input type="button" class="check_btn1" onclick="$.form.reset()" value="重置查询">
            </p>
        </form>
    </div>

    <div class="clear"></div>


    <div class="btn-group-sm" id="toolbar">
        <a class="btn btn-success" onclick="$.operate.addTab()">
            <i class="fa fa-plus"></i> 新增
        </a>
        <a class="btn btn-primary single disabled" onclick="$.operate.editTab()">
            <i class="fa fa-edit"></i> 修改
        </a>
        <a class="btn btn-danger multiple disabled" onclick="$.operate.removeBatch()">
            <i class="fa fa-remove"></i> 删除
        </a>
        <!--    <a class="btn btn-info" onclick="$.table.importExcel()">-->
        <!--        <i class="fa fa-upload"></i> 导入-->
        <!--    </a>-->
        <!--    <a class="btn btn-warning" onclick="$.table.exportExcel()">-->
        <!--        <i class="fa fa-download"></i> 导出-->
        <!--    </a>-->
    </div>


    <table id="bootstrap-table" class="table_style" style="margin: 0 auto" > </table>
</div>




<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>

<script type="text/javascript" th:inline="javascript">

    $(function () {
        queryUserList();
    })


    let searchUrl = /*[[@{/user/search}]]*/ "/json/unit.json";

    let addUrl = /*[[@{/user/add}]]*/ "/user/add";

    let removeUrl = /*[[@{/user/remove}]]*/ "/user/remove";

    let editUrl = /*[[@{/user/edit/{id}}]]*/ "/user/remove";

    function queryUserList() {
        var options = {
            url: searchUrl,
            createUrl: addUrl,
            updateUrl: editUrl,
            removeUrl: removeUrl,
            // exportUrl: prefix + "/export",
            // importUrl: prefix + "/importData",
            // importTemplateUrl: prefix + "/importTemplate",
            uniqueId: "id",
            sortName: "updateTime",
            sortOrder: "desc",
            modalName: "用户",
            columns: [
                {
                    checkbox: true
                },
                {
                    title: '账号',
                    field: 'username'
                },
                {
                    title: '姓名',
                    field: 'name'
                },
                {
                    title: '手机号码',
                    field: 'mobileNumber'
                },
                {
                    title: '创建时间',
                    field: 'createTime',
                    sortable: true
                },
                {
                    title: '修改时间',
                    field: 'updateTime',
                    sortable: true
                },
                {
                    title: '操作',
                    field: '',
                    formatter: function (value, row) {
                        var e = '<a  href="#" title="" onclick="$.operate.remove(\'' + row.id + '\')">删除</a> ';
                        // var d = '<a  href="#" title="" onclick="edit(\'' + row.id + '\')">单体分析</a> ';
                        return e;
                    }
                }
            ]
        };
        $.table.init(options);
    }




    // function edit() {
    //     var Name = "单位详情";
    //     var Href = "conmpanyTail.html";
    //     var data_id = $("#add").attr('data-id');
    //     window.parent.$.learuntab.myAddTab(Name, Href, data_id);
    // }
    // function carAnalysis(){
    //     var Name = "从业单位分析";
    //     var Href = "unit_analysis.html";
    //     var data_id = $("#add").attr('data-id');
    //     window.parent.$.learuntab.myAddTab(Name, Href, data_id);
    // }
    //    function openLayer(){
    //        layer.open({
    //            type: 2,
    //            title: '详情信息',
    //            shade: 0.5,
    //            skin: 'layui-layer-rim',
    //            area: ['98%', '92%'],
    //            shadeClose: true,
    //            closeBtn: 2,
    //            content: 'news_tail.html'
    //        });
    //    }
</script>
</body>
</html>
