<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>登录日志</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>
</head>
<body style="background-color: #ecf0f5;font-family: 微软雅黑;color: #475059;min-width: 1150px;overflow: auto" >
<div class="notice_main ">
    <h6>登录日志</h6>
    <div style="border-bottom: 1px #ccc solid;padding-bottom: 8px">
        <p style="line-height: 24px;font-size: 14px;padding: 4px 0 0 36px ;color:#bb8940;background-image: url(img/ts_03.png);background-repeat: no-repeat;background-position: 10px 8px;font-weight: bold">温馨提示</p>
        <ul class="ts">
            <li><span>*</span>该页面主要显示的是登录日志查询界面。</li>
        </ul>
    </div>

    <div class="notice_check">
        <form id="search-form">
            <p>
                <label class="">账号：</label>
                <input type="text" class="find_input" name="username">
                <label class="">登录时间：</label>
                <input type="text" class="find_input datepicker" name="createTime" readonly="readonly" data-format="yyyy-mm-dd">
                <input type="button" class="check_btn" onclick="$.table.search()" value="查询">
                <input type="button" class="check_btn1" onclick="$.form.reset()" value="重置">
            </p>
        </form>
    </div>

    <div class="clear"></div>

    <table id="bootstrap-table" class="table_style" style="margin: 0 auto" > </table>
</div>


<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>

<script type="text/javascript" th:inline="javascript">

    let url = /*[[@{/loginlog/search}]]*/ "/json/unit.json";


    $(function () {
        query();
    });
    function query() {
        let options = {
            url: url,
            sortName: "loginTime",
            sortOrder: "desc",
            columns: [
                {
                    title: '账号',
                    field: 'username',
                },
                {
                    title: "登录地址",
                    field: 'ip',
                },
                {
                    title: "操作系统",
                    field: 'os',
                },
                {
                    title: "浏览器",
                    field: 'browser',
                },
                {
                    title: "登录结果",
                    field: 'message',
                    formatter: function (value, row, index) {
                        if (value === '0') {
                            return '登录成功';
                        }
                        if (value === '1') {
                            return '账号不存在';
                        }
                        if (value === '2') {
                            return '密码输入错误';
                        }
                        if (value === '3') {
                            return '验证码输入错误';
                        }
                        if (value === '4') {
                            return '验证码已经过期';
                        }
                    }
                },
                {
                    title: '登录时间',
                    field: 'loginTime',
                    sortable: true
                }
            ]
        };
        $.table.init(options);
    }
</script>
</body>
</html>
