<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>热线上报</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: fileUpload_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>
    <th:block th:include="page/fragments/common :: ztree_css"/>
    <link th:href="@{/css/tail.css}" rel="stylesheet" type="text/css">
</head>
<body style="border-radius: 8px;">
<div class="col-md-12" style="height: 100%">
    <h3 class="bigTitle">案件修改</h3>
    <div class="content">
        <div class="leftBox">
            <form id="userForm">
                <div class="top table2_top">
                    <div class="top_out">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><span></span>案卷号</td>
                                <td>
                                    <input type="text" readonly="readonly" th:name="eventCode" id="eventCode"
                                           class="find_input"/>
                                </td>
                                <td><span></span>问题类型</td>
                                <td style="display: flex;justify-content: space-between;align-items: center;margin-top: 4px">
                                    <input type="text" readonly="readonly" id="typeStr" class="find_input"/>
                                    <input type="hidden" readonly="readonly" id="eventTypeId" th:name="eventTypeId"
                                           class="find_input"/>
                                    <button type="button" class="addBtn" onclick="selectEventTypeTree()">
                                        +
                                    </button>
                                    <!--                                    <button type="button" class="addBtn" data-toggle="modal" data-target="#modal-default">-->
                                    <!--                                        +-->
                                    <!--                                    </button>-->
                                </td>

                            </tr>
                            <tr>

                                <td><span></span>立案区域</td>
                                <td>
                                    <select id="eventCondition" onchange="getEventCondition()" required>

                                    </select>
                                </td>
                                <td><span></span>立案条件</td>
                                <td>
                                    <select id="eventTerm" onchange="getTimeTypeList()" name="conditionId" required>

                                    </select>
                                </td>
                            </tr>
                            <tr>

                                <td><span></span>计时等级</td>
                                <td>
                                    <select id="timeType" onchange="getDeptTimeLimitList()" required>

                                    </select>
                                </td>
                                <td><span></span>立案时限</td>
                                <td>
                                    <input th:name="timeLimitId" type="hidden" id="deptTImeLimitId"/>
                                    <input type="text" id="deptTImeLimit" required readonly/>

                                </td>
                            </tr>
                            <tr>
                                <td><span></span>诉求人</td>
                                <td>
                                    <input name="peopleName" type="text" class="" required>
                                </td>
                                <td><span></span>性别</td>
                                <td>
                                    <select name="sex" required>
                                        <option value="男">男</option>
                                        <option value="女">女</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><span></span>联系方式</td>
                                <td>
                                    <input name="petitionerPhone" type="text" class="" required/>
                                </td>
                                <td><span></span>诉求时间</td>
                                <td>
                                    <input th:name="createTime" th:value="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd HH:mm:ss')}" type="text" class=""/>
                                </td>
                            </tr>


                            <tr>

                                <td><span></span>部件编码</td>
                                <td>
                                    <input type="text" readonly="readonly">
                                </td>
                                <td><span></span>案件类型</td>
                                <td>
                                    <select class="form-control" id="recTypeId" th:name="recTypeId" required>
                                        <option th:each="as:${recType}" th:value="${as.id}"
                                                th:text="${as.value}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><span></span>位置坐标</td>
                                <td>
                                    <input type="text" class="" value="经度" name="x" id="longitude" readonly/>
                                </td>
                                <td></td>
                                <td>
                                    <input type="text" class="" value="纬度" name="y" id="latitude" readonly/>
                                </td>
                            </tr>
                            <tr>
                                <td><span></span>所在区域</td>
                                <td>
                                    <select class="form-control" id="grid1" onchange="getStreetList()" required>
                                        <option>--请选择--</option>
                                        <option th:each="as:${gridList}" th:value="${as.id}"
                                                th:text="${as.gridName}"></option>
                                    </select>
                                </td>
                                <td><span></span>所属街道</td>
                                <td>
                                    <select class="form-control" id="grid2" onchange="getCommunityList()" required>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><span></span>所属社区</td>
                                <td>
                                    <select class="form-control" id="grid3" onchange="getGridList()" required>
                                    </select>
                                </td>
                                <td><span></span>所属网格</td>
                                <td>
                                    <select th:name="gridId" id="grid4" onchange="getGridCenter(this)">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><span></span>事件来源</td>
                                <td>
                                    <select class="form-control" id="eventSource" th:name="eventSourceId" required readonly="readonly">
                                        <option th:each="as:${eventSource}" th:value="${as.id}" th:text="${as.value}"></option>
                                    </select>
                                </td>
                                <td><span></span>上报人</td>
                                <td>
                                    <input type="text" readonly th:value="${#authentication.getName()}">
                                    <!--<input type="hidden" value="" id="selectDown">
                                    <input value="1" type="hidden" name="userId">-->
                                </td>
                            </tr>
                            <tr>
                                <td><span></span>监督员</td>
                                <td>
                                    <select class="form-control" id="userId" name="userId" required>
                                        <option th:each="as:${userList}" th:value="${as.id}"
                                                th:text="${as.name}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><span></span>案件地址</td>
                                <td colspan="8">
                                    <input onmouseover="this.title=this.value" id="location" th:name="location"
                                           type="text" class="overInput" required>
                                </td>
                            </tr>
                            <tr>
                                <td><span></span>问题描述</td>
                                <td colspan="8">
                                    <input onmouseover="this.title=this.value" id="problemescription"
                                           th:name="represent" type="text" class="overInput" required>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="send">
                            <div class="sendImg">
                                <div class="sendText"><span>图片:</span></div>
                                <div><input id="input-id" type="file" name="files" multiple="multiple"></div>
                                <input type="hidden" id="imageUrlList" name="imageUrlList" value="">
                            </div>


                            <div class="sendImg">
                                <div class="sendText"><span>视频:</span></div>
                                <div><input id="videoInput" type="file" name="files" multiple="multiple"></div>
                            </div>
                            <div class="sendImg">
                                <div class="sendText"><span>音频:</span></div>
                                <div><input id="musicInput" type="file" name="files" multiple="multiple"></div>
                            </div>

                        </div>
                    </div>

                    <!--                            按钮-->
                    <div class="notice_bot">
                        <!--            <div class="l_left">-->
                        <!--                <input type="checkbox" checked="checked"/>保存并关闭窗口-->
                        <!--            </div>-->
                        <div class="r_right but_p girdBtnGroup">

                            <button class="but_save" type="button" style="margin-right: 10px" data-toggle="modal"
                                    data-target="#modal-sm">相似案件
                            </button>
                            <button class="but_save" type="submit" onclick="submitHandler1()"
                                    style="margin-right: 10px">保存
                            </button>
                            <button class="but_save" type="submit" onclick="submitHandler2()">核实</button>
                            <button class="but_close" onclick="Cancel()">返回</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="rightBox">

            <div class="map" id="map"></div>

            <div id="popup" class="ol-popup">
                <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                <div id="popup-content">
                    <ul id="message">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">默认窗口</h4>
            </div>
            <div class="modal-body">
                <div class="tree">
                    <div class="treeDemo">
                        <ul id="treeDemo" class="ztree">zTree</ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-success closemodal" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-sm">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">相似案件</h4>
            </div>
            <div class="modal-body">
                <div class="such">案件：<a>E0300476522</a></div>
                <div class="same">该事件与以下案件相似：</div>
                <div class="sameArray">
                    <ul>
                        <li>案件：<a>E0300476522</a></li>
                        <li>案件：<a>E0300476522</a></li>
                        <li>案件：<a>E0300476522</a></li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer justify-content-between"
                 style="display: flex;justify-content: flex-end!important;">
                <button type="button" class="btn btn-success" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="pictureDiv" style="display: none">

</div>

<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: jquery_validation_js"/>
<th:block th:include="page/fragments/common :: fileUpload_js"/>
<th:block th:include="page/fragments/common :: map_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>
<th:block th:include="page/fragments/common :: ztree_js"/>
<script type="text/javascript" th:inline="javascript">

    $(function () {

        $(".ol-full-screen-false").html("全屏")
        $(".name").click(function () {
            $(this).addClass("active").siblings(".name").removeClass("active");
            $(".tree").eq($(this).index(".name")).addClass("treeActive").siblings(".tree").removeClass("treeActive");
        });

        $(".enclosure").click(function () {
            alert("附件详情")
        });

        ////日期插件
        $('.form_datetime').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: "yyyy-mm-dd hh:ii:ss"
        });

        getGridPublishUrl();

        $("#input-id").fileinput({
            language: 'zh',                                     // 设置语言
            theme: 'fa',
            uploadUrl: uploadUrl,
            uploadAsync: false,                                       //关闭异步上传，改为同步上传。
            // showUpload: true,
            // previewFileType: 'any',
            // enableResumableUpload: true,
            allowedFileExtensions: ['jpg', 'png', 'gif', 'jpeg'],       // 接收的文件后缀
            maxFileCount: 10,                                    // 最大文件数量
            hideThumbnailContent: false,                        // 上传图片之后 是否隐藏缩略图
            focusCaptionOnBrowse: false,
            showCaption: false,                                 // 是否显示标题
            showPreview: true,                                  // 是否显示预览
            showUpload: false,                                  // 是否显示上传按钮
            showRemove: true,                                   // 显示移除按钮
            dropZoneEnabled: false,                             // 是否显示拖拽区域
            // browseClass: "btn btn-primary",                     // 按钮样式

        }).on('change', function (event) {
            console.log("change()           只要通过文件浏览按钮在文件输入控件中选择单个文件或多个文件，就会触发此事件。");
        }).on('fileselect', function (event, numFiles, label) {
            console.log("fileselect()       通过文件浏览按钮在文件输入中选择文件后触发此事件。这与change事件稍有不同，即使文件浏览对话框被取消，它也会被触发");
        }).on("filebatchselected", function (event, files) {
            $(this).fileinput("upload");
        }).on("fileuploaded", function (event, data) {

        }).on("filebatchuploadsuccess", function (event, data, previewId, index) {
            console.log('filebatchuploadsuccess() 同步上传返回结果处理')
            if (data.response.code === web_status.SUCCESS) {
                let imageUrlList = data.response.data.url;
                $("#imageUrlList").val(imageUrlList);
                console.log("data", imageUrlList);
                $.modal.alertSuccess('上传成功');
            } else {
                $.modal.alertError(data.response.message);
            }
        }).on('filedeleted', function (event, key) {
            console.log('filedeleted()      在删除initialPreview内容集中的每个缩略图文件之后触发此事件');
            console.log('Key = ' + key);
        }).on('filesuccessremove', function (event, id) {
            console.log("使用缩略图删除按钮删除成功上传的缩略图后，会触发此事件。");
            console.log(id);
        }).on('fileclear', function (event) {
            console.log("fileclear()         当文件输入删除按钮或预览窗口关闭图标被按下以清除文件预览时触发此事件。");
            console.log(event);
        }).on('filecleared', function (event) {
            console.log("filecleared()        在预览中的文件被清除后触发此事件。");
            console.log(event);
        }).on('filepredelete', function (event, key) {
            console.log('filepredelete()     在删除initialPreview内容集中的每个缩略图文件之前触发此事件。');
            console.log('Key = ' + key);
        }).on('filesuccessremove', function (event, id) {
            console.log('filesuccessremove()   ')
            console.log(id);
        });

        $("#videoInput").fileinput({
            language: 'zh',                                     // 设置语言
            theme: 'fa',
            uploadUrl: uploadUrl,
            // showUpload: true,
            // previewFileType: 'any',
            // enableResumableUpload: true,
            allowedFileExtensions: ['jpg', 'png', 'gif'],       // 接收的文件后缀
            maxFileCount: 2,                                    // 最大文件数量
            hideThumbnailContent: false,                        // 上传图片之后 是否隐藏缩略图
            focusCaptionOnBrowse: false,
            showCaption: false,                                 // 是否显示标题
            showPreview: true,                                  // 是否显示预览
            showUpload: false,                                  // 是否显示上传按钮
            showRemove: true,                                   // 显示移除按钮
            dropZoneEnabled: false,                             // 是否显示拖拽区域
            // browseClass: "btn btn-primary",                     // 按钮样式
        });

        $("#musicInput").fileinput({
            language: 'zh',                                     // 设置语言
            theme: 'fa',
            uploadUrl: uploadUrl,
            // showUpload: true,
            // previewFileType: 'any',
            // enableResumableUpload: true,
            allowedFileExtensions: ['jpg', 'png', 'gif'],       // 接收的文件后缀
            maxFileCount: 2,                                    // 最大文件数量
            hideThumbnailContent: false,                        // 上传图片之后 是否隐藏缩略图
            focusCaptionOnBrowse: false,
            showCaption: false,                                 // 是否显示标题
            showPreview: true,                                  // 是否显示预览
            showUpload: false,                                  // 是否显示上传按钮
            showRemove: true,                                   // 显示移除按钮
            dropZoneEnabled: false,                             // 是否显示拖拽区域
            // browseClass: "btn btn-primary",                     // 按钮样式
        });

    });

    function setCenterForGrid(data) {
        map.getView().setCenter(data);
    }

    let url = /*[[@{/event/register}]]*/ "/event/register";
    let receiveUrl = /*[[@{/event/receive}]]*/ "/event/receive";
    let dispatchUrl = /*[[@{/event/dispatch}]]*/ "/event/dispatch";
    let uploadUrl = /*[[@{/common/uploads}]]*/ "/json/unit.json";
    let componentTypeUrl = /*[[@{/allEventType}]]*/ "/allEventType";
    let createEventCodeUrl = /*[[@{/event/createEventCode}]]*/ "/event/createEventCode";
    let findEventConditionByEventTypeUrl = /*[[@{/event/findEventConditionByEventType}]]*/ "/event/findEventConditionByEventType";
    let getDeptTimeLimitByLevelUrl = /*[[@{/event/getDeptTimeLimitByLevel}]]*/ "/event/getDeptTimeLimitByLevel";
    let findAllByKvIdUrl = /*[[@{/event/findAllByKvId}]]*/ "/event/findAllByKvId";
    let saveUrl = /*[[@{/event/save}]]*/ "/event/save";
    let getGridUrl = /*[[@{/event/getGridUrl}]]*/ "/event/getGridUrl";

    function getGridPublishUrl() {
        $.ajaxUtil.get(getGridUrl, function (e) {
            // console.log("e", e);
            /*
            * 初始渲染底图g
            * */
            var urlParam = e.data.split("?");
            var url = urlParam[0];
            var param = urlParam[1];
            // console.log(url+","+param)
            var ImageVector = new ol.layer.Tile({
                source: new ol.source.TileWMS({
                    url: url,
                    params: {
                        'VERSION': '1.1.1',
                        tiled: true,
                        "LAYERS": param,
                        "exceptions": ''
                    }
                })
            });
            var layersArray = map.getLayers();
            layersArray.insertAt(1, ImageVector);
            //获取地图数据s
            map.on('singleclick', function (evt) {
                var viewResolution = map.getView().getResolution();
                var url = ImageVector.getSource().getGetFeatureInfoUrl(
                    evt.coordinate, viewResolution, 'EPSG:4326', {
                        'INFO_FORMAT': 'text/javascript', //geoserver支持jsonp才能输出为jsonp的格式
                        'FEATURE_COUNT': 50 //点击查询能返回的数量上限
                    });
                $.ajax({
                    type: 'GET',
                    url: url,
                    dataType: 'jsonp',
                    jsonp: 'format_options',
                    jsonpCallback: "callback:success_jsonpCallback"
                });
            });
        })
    }

    //回调函数接收查询结果
    var geojsonFormat = new ol.format.GeoJSON({defaultDataProjection: "EPSG:4326"});

    let getGridByCheckLayerUrl = /*[[@{/event/getGridByCheckLayer}]]*/ "/event/getGridByCheckLayer";

    /* 点击网格列表赋值 */
    function success_jsonpCallback(res) {
        var features = geojsonFormat.readFeatures(res);
        let mongodbId = features[0].H.mongodb_id;
        $.ajaxUtil.get(getGridByCheckLayerUrl + "?mongodbId=" + mongodbId, function (e) {
            console.log("e", e);
            let data = e.data;
            for (let i = 0; i < data.length; i++) {
                switch (data[i].level) {
                    case 1:
                        $("#grid1").val(data[i].id);
                        break;
                    case 2:
                        $("#grid2").empty();
                        let option2 = "<option value='" + data[i].id + "'>" + data[i].name + "</option>";
                        $("#grid2").html(option2);
                        break;
                    case 3:
                        $("#grid3").empty();
                        let option3 = "<option value='" + data[i].id + "'>" + data[i].name + "</option>";
                        $("#grid3").html(option3);
                        break;
                    case 4:
                        $("#grid4").empty();
                        let option4 = "<option value='" + data[i].id + "'>" + data[i].name + "</option>";
                        $("#grid4").html(option4);
                        break;
                    default:
                        console.log("查询出了网格之外的东西");
                }
            }
            /* todo 上面的方式是单纯的回显 想做一个触发级联之后再赋值的操作 可能需要类似等待的方式 需要执行完一个函数之后通过回调执行下一个 同步 */
            /*let grid1 = getLevelWithList(data, 1);
            $("#grid1").val(grid1.id);
            getStreetList();
            let grid2 = getLevelWithList(data, 2);
            $("#grid2").val(grid2.id);
            getCommunityList();
            let grid3 = getLevelWithList(data, 3);
            $("#grid3").val(grid3.id);
            getGridList();
            let grid4 = getLevelWithList(data, 4);
            $("#grid4").val(grid4.id);*/
        });
    }

    function getLevelWithList(data, level) {
        for (let i = 0; i < data.length; i++) {
            if (data[i].level === level) {
                console.log("data[" + i + "]", data[i]);
                return data[i];
            }
        }
    }


    var setting = {
        callback: {
            onClick: zTreeOnClick
        },
        data: {//数据加载
            keep: {
                parent: true,
                leaf: true
            },
            simpleData: {
                enable: true,
                idKey: 'id',
                pIdKey: 'parent'
            },
            key: {
                name: "name"
            }
        }
    };

    function zTreeOnClick(event, treeId, treeNode) {
        $("#typeStr").val(treeNode.name);
        $("#eventTypeId").val(treeNode.id);
        $(".closemodal").click();
        let eventTypeId = $("#eventTypeId").val();
        createEventCode(eventTypeId);
        //获取立案区域
        findEventConditionByEventType(eventTypeId)
    }

    /**
     * 后台自动生成案卷号
     * @param eventTypeId
     */
    function createEventCode(eventTypeId) {
        var url = createEventCodeUrl + "?eventTypeId=" + eventTypeId
        $.ajaxUtil.get(url, function (e) {
            if (e.code === "0") {
                let eventCode = e.data
                $("#eventCode").val(eventCode);
            }
        })
    }

    /**
     * 获取立案区域
     */
    function findEventConditionByEventType(eventTypeId) {
        let url = findEventConditionByEventTypeUrl + "/?eventTypeId=" + eventTypeId;
        $.ajaxUtil.get(url, function (e) {
            let option = "<option>--请选择--</option>";
            if (e.code === "0") {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.region + "</option>"
                });
                $("#eventCondition").html(option);
            }
        });
    }

    /**
     * 立案条件
     */
    function getEventCondition() {
        let eventConditionId = $("#eventCondition").val();
        let url = "/event/getEventCondition/?conditionId=" + eventConditionId;
        $.ajaxUtil.get(url, function (e) {
            $("#eventTerm").empty();
            let option = "<option>--请选择--</option>";
            if (e.code === "0") {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.conditionValue + "</option>"
                });
            }
            $("#eventTerm").html(option);
        });
    }

    /**
     * 获取立案时限分类
     */
    function getTimeTypeList() {
        let eventTerm = $("#eventTerm").val();
        let url = "/event/findDeptTimeLimitByCondition/?conditionId=" + eventTerm;
        $.ajaxUtil.get(url, function (e) {
            $("#timeType").empty();
            let option = "<option>--请选择--</option>";
            if (e.code === "0") {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.level + "</option>"
                });
            }
            $("#timeType").html(option);
        });
    }

    /**
     * 获取立案时限
     */
    function getDeptTimeLimitList() {
        let deptTimeLimitId = $("#timeType").val();
        let url = "/event/findDeptTimeLimit/?deptTimeLimitId=" + deptTimeLimitId;
        $.ajaxUtil.get(url, function (e) {
            if (e.code === "0") {
                let data = e.data;
                $("#deptTImeLimitId").val(data.id);
                $("#deptTImeLimit").val(data.timeLimit + data.timeType);
            }
        });
    }

    /**
     * 获取街道
     */
    function getStreetList() {
        let parentId = $("#grid1 option:selected").val();
        let url = "/event/findAllByParentId/?parentId=" + parentId;
        $.ajaxUtil.get(url, function (e) {
            let option = "<option>--请选择--</option>";
            if (e.code === "0") {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.gridName + "</option>"
                });
                $("#grid2").html(option);
            }
        });
    }

    /**
     * 获取社区
     */
    function getCommunityList() {
        let parentId = $("#grid2 option:selected").val();
        let url = "/event/findAllByParentId/?parentId=" + parentId;
        $.ajaxUtil.get(url, function (e) {
            let option = "<option>--请选择--</option>";
            if (e.code === "0") {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.gridName + "</option>"
                });
                $("#grid3").html(option);
            }
        });
    }

    /**
     * 获取网格
     */
    function getGridList() {
        let parentId = $("#grid3 option:selected").val();
        let url = "/event/findAllByParentId/?parentId=" + parentId;
        $.ajaxUtil.get(url, function (e) {
            let option = "<option>--请选择--</option>";
            if (e.code === "0") {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.gridName + "</option>"
                });
                $("#grid4").html(option);
            }
        });
    }

    /**
     * 获取网格的中心点
     */
    function getGridCenter() {
        let pointOfCenter = $("#grid4 option:selected").val();
        let url = "/grid/getGridCenter?gridId=" + pointOfCenter;
        $.ajaxUtil.get(url, function (e) {
            let data = e.data;
            let pointArray = [];
            pointArray.push(data.split("-")[0] * 1);
            pointArray.push(data.split("-")[1] * 1);
            setCenterForGrid(pointArray);
        });
    }

    //模态窗 selectEventTypeTree
    function selectEventTypeTree() {
        var treeId = $("#treeId").val();
        var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        var url = /*[[@{/tree/eventtype}]]*/ "/tree/eventtype";
        var options = {
            title: '选择事件类型',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        var body = layer.getChildFrame('body', index);
        $("#eventTypeId").val(body.find('#treeId').val());
        $("#typeStr").val(body.find('#treeName').val());
        let eventTypeId = $("#eventTypeId").val();
        createEventCode(eventTypeId);
        //获取立案区域
        findEventConditionByEventType(eventTypeId)
        layer.close(index);
    }

    function Cancel() {
        $.modal.closeLoading();
    }

    function save() {
        var data = $('#userForm').serialize();
        $.operate.saveTab(url, data);
    }

    function addPicture() {
        // $.modal.open();

    }

    // 更改校验文字
    jQuery.extend(jQuery.validator.messages, {
        required: "必填",
        phone: "必填",
        petitonerPhone: "必填",
        remote: "请修正该字段",
        email: "请输入正确格式的电子邮件",
        url: "请输入合法的网址",
        date: "请输入合法的日期",
        dateISO: "请输入合法的日期 (ISO).",
        number: "请输入合法的数字",
        digits: "只能输入整数",
        creditcard: "请输入合法的信用卡号",
        equalTo: "请再次输入相同的值",
        accept: "请输入拥有合法后缀名的字符串",
        maxlength: jQuery.validator.format("请输入一个 长度最多是 {0} 的字符串"),
        minlength: jQuery.validator.format("请输入一个 长度最少是 {0} 的字符串"),
        rangelength: jQuery.validator.format("请输入 一个长度介于 {0} 和 {1} 之间的字符串"),
        range: jQuery.validator.format("请输入一个介于 {0} 和 {1} 之间的值"),
        max: jQuery.validator.format("请输入一个最大为{0} 的值"),
        min: jQuery.validator.format("请输入一个最小为{0} 的值")
    });

    $("#userForm").validate({
        debug: true,
        ignore: "",
        submitHandler: function (form) {
            var params = $(form).serialize(); //串行化表单参数
            $.post("user", params, function (result) {
                if (result.ok) {//注册成功
                    location.href = "register_ok.html";
                } else {//注册失败
                    alert(result.msg);
                    $("#checkImg").click();
                }
            }, "json");
        },
        rules: {
            userName: {
                required: true
            },
            loginName: {
                required: true,
                // rangelength: [5, 8]
            },
            phonenumber: {
                required: true,
                // rangelength: [6, 12]
            },
            problemescription: {
                required: true,
                // rangelength: [6, 12],
                /*重复密码需要与原密码相同的要求*/
                // equalTo: "#pwd"
            },
            safeLevel: {
                required: true
            },
            findTime: {
                required: true,
                // range: [26, 50]
            },
            enterprise: {
                required: true
            },
            department: {
                required: true
            },
            handleTime: {
                required: true
            }, charge: {
                required: true
            },
            question: {
                required: true
            },
            closeTime: {
                required: true,
                // email: true
            },
            // idcard: {
            //     card: true
            // },
            // phone: {
            //     phone: true
            // }
        },
        messages: {
            // realname: {
            //     required: "真实姓名不能为空"
            // },
            // username: {
            //     required: "登录名不能为空",
            //     rangelength: "登录名长度要在5-8位之间"
            // },
            // pwd: {
            //     required: "密码不能为空",
            //     rangelength: "密码长度在6-12位之间"
            // },
            // pwd2: {
            //     required: "重复密码不能为空",
            //     rangelength: "重复密码长度在6-12位之间",
            //     equalTo: "重复密码与密码不一致"
            // },
            // sex: {
            //     required: "请选择性别"
            // },
            // age: {
            //     required: "年龄不能为空",
            //     range: "年龄必须在26-50岁之间"
            // },
            // email: {
            //     email: "请输入有效邮箱"
            // },
            // idcard: {
            //     card: "请输入有效身份证号"
            // },
            // phone: {
            //     phone: "必填"
            // }
        }
    });
    /*手机号格式验证*/
    $.validator.addMethod("phone", function (value, element, params) {
        var reg = /^1[34578]\d{9}$/;
        return reg.test(value);
    }, "phone error");
    $.validator.addMethod("petitonerPhone", function (value, element, params) {
        var reg = /^1[34578]\d{9}$/;
        return reg.test(value);
    }, "petitonerPhone error");

    function Cancel() {
        $.modal.closeLoading();
    }

    function submitHandler1() {
        //先校验
        if (!$("form").valid()) {
            return;
        }
        let data = $('#userForm').serialize();
        $.operate.saveAndReload(receiveUrl, data);
    }

    function submitHandler2() {
        //先校验
        if (!$("form").valid()) {
            return;
        }
        let data = $('#userForm').serialize();
        $.operate.saveAndReload(dispatchUrl, data);
    }


    var center = ol.proj.transform([115.62, 41.74], "EPSG:4326", "EPSG:3857");
    // 沽源地图
    var center = [115.68192, 41.66462];
    var projection = new ol.proj.Projection({
        code: 'EPSG:4326',
        units: 'degrees',
        axisOrientation: 'neu',
        global: true
    });
    var untiled = new ol.layer.Image({
        source: new ol.source.ImageWMS({
            ratio: 1,
            url: 'http://192.168.24.203:7880/geoserver/guyuan20201010/wms',
            params: {
                'VERSION': '1.1.1',
                "LAYERS": 'guyuan20201010:guyuan',
                "exceptions": 'application/vnd.ogc.se_inimage',
            }
        })
    });
    var source = new ol.source.Vector({wrapX: false});
    var fullScreenControl = new ol.control.FullScreen();

    var map = new ol.Map({
        target: 'map',
        layers: [
            untiled
        ],
        view: new ol.View({
            // projection: projection,
            center: center,
            zoom: 17,
            projection: projection
        })
    });
    map.addControl(fullScreenControl)

    var layerMap = new ol.layer.Vector({
        source: new ol.source.Vector(),
    });
    map.addLayer(layerMap);
    let localReverseGeocoding = /*[[@{/event/localReverseGeocoding}]]*/ "/event/localReverseGeocoding";

    map.on('singleclick', function (evt) {
        let t = evt.coordinate;
        $("#longitude").val(t[0])
        $("#latitude").val(t[1])
        $.ajaxUtil.get(localReverseGeocoding + "?x=" + t[0] + "&y=" + t[1], function (e) {
            $("#location").val(e.data.mongo);
        })
    });
    setPoint()

    function setPoint() {
        let point = new ol.Feature({
            geometry: new ol.geom.Point([115.62, 41.74]),
            data: {
                // id: data,
                // name: name,
                // coordinate: x + "," + y
            }
        });
        let picture = "../img/1.png";
        let imgSize = [100, 100]
        point.setStyle(new ol.style.Style({
            image: new ol.style.Icon({
                src: picture,
                // imgSize:imgSize
            })
        }));
        layerMap.getSource().addFeature(point);
        point.setStyle(new ol.style.Style({
            image: new ol.style.Icon({
                src: '../img/dwpoint3.png'
            })
        }));

    }


</script>
</body>
</html>
