<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>热线上报</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: fileUpload_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>
    <th:block th:include="page/fragments/common :: swiper_css" />
    <link th:href="@{/css/eventList.css}" rel="stylesheet" type="text/css">
</head>
<body style="border-radius: 8px;">
<div class="content">
    <div class="leftContent">
        <div class="selectPoint">
            <form id="userForm">
                <div class="top table2_top">
                    <!--        <div>-->
                    <div class="top_out">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>问题描述<span></span></td>
                                <td>
                                    <input type="text" class="datepicker" name="represent">
                                </td>
                                <td>所在网格<span></span></td>
                                <td>
                                    <select class="form-control" id="grid1" name="grid" onchange="getStreetList()" required>
                                        <option value="">--请选择--</option>
                                        <option th:each="as:${gridList}" th:value="${as.id}"
                                                th:text="${as.gridName}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>事件来源<span></span></td>
                                <td>
                                    <select class="form-control" id="eventSource" name="eventSourceId" required>
                                        <option value="">--请选择--</option>
                                        <option th:each="as:${eventSource}" th:value="${as.id}"
                                                th:text="${as.value}"></option>
                                    </select>
                                </td>
                                <td>问题类型<span></span></td>
                                <td style="display: flex;justify-content: space-between;align-items: center;margin-top: 4px">
                                    <input type="text" readonly="readonly" id="typeStr" class="find_input"/>
                                    <input type="hidden" readonly="readonly" id="eventTypeId" name="eventTypeId"
                                           class="find_input"/>
                                    <button type="button" class="addBtn" onclick="selectEventTypeTree()">
                                        +
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>立案区域<span></span></td>
                                <td>
                                    <select id="eventCondition" name="eventCondition" onchange="getEventCondition()"
                                            required>
                                        <option value="">--请选择--</option>
                                    </select>
                                </td>
                                <td>立案条件<span></span></td>
                                <td>
                                    <select id="eventTerm" onchange="getTimeTypeList()" name="conditionId" required>
                                        <option value="">--请选择--</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>计时等级<span></span></td>
                                <td>
                                    <select id="timeType" name="timeType" required>
                                        <option value="">--请选择--</option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--    </div>-->
            </form>
            <div class="notice_check">
                <form id="search-form">
                    <p style="display: flex;justify-content: flex-end">
                        <input type="button" class="check_btn button_ground" onclick="$.table.search()" value="查询">
                        <input type="button" class="check_btn1 button_ground" onclick="$.form.reset()" value="重置">
                    </p>
                </form>
            </div>
        </div>
        <div style="width: 100%;width: 100%;display: flex;justify-content: center">
            <div class="xiala"><i class="selectmenu"></i></div>
        </div>
        <table id="bootstrap-table" class="table_style" style="margin: 0 auto" > </table>

    </div>
    <div class="rightContent">
        <div class="tabTitle">
            <span class="active">地图</span>
            <span>案件详情</span>
            <span>流转记录</span>
            <span>流程图</span>
            <span>阶段图</span>
        </div>
        <div class="tabInfo">
            <div class="banner blockActive">
                <div class="map" id="map" style="width: 100%;height: 90%"></div>
                <div id="popup" class="ol-popup">
                    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                    <div id="popup-content">
                        <ul id="message">

                        </ul>
                    </div>
                </div>
            </div>
            <div class="banner">
                <h3 class="bigTitle">无效案件</h3>
                <form class="details">
                    <div class="top table2_top">
                        <div class="top_out">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><span></span>案卷号</td>
                                    <td>
                                        <input id="eventCode" placeholder="" class="" type="text" readonly="readonly"
                                               required>
                                    </td>
                                    <td><span></span>问题类型</td>
                                    <td>
                                        <input id="eventTypeStr" type="text" maxlength="30" required
                                               readonly="readonly">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span></span>立案区域</td>
                                    <td>
                                        <input id="regionStr" type="text" maxlength="30" required readonly="readonly">
                                    </td>
                                    <td><span></span>立案条件</td>
                                    <td>
                                        <input id="conditionValue" type="text" maxlength="30" required
                                               readonly="readonly">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span></span>案件等级</td>
                                    <td>
                                        <input id="level" type="text" maxlength="30" required readonly="readonly">

                                    </td>
                                    <td><span></span>处理时限</td>
                                    <td>
                                        <input id="timeLimitStr" type="text" readonly required>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span></span>问题描述</td>
                                    <td colspan="8"><textarea id="represent" required readonly></textarea></td>
                                </tr>
                                <tr class="col-12">
                                    <td><span></span>案件地址</td>
                                    <td>
                                        <input id="location" name="location" placeholder="" class="" readonly
                                               type="text">
                                    </td>
                                    <td><span></span>案件类型</td>
                                    <td>
                                        <input id="recTypeStr" name="location" placeholder="" class="" readonly
                                               type="text">
                                    </td>
                                </tr>
                                <tr class="col-12">
                                    <td><span></span>所属区域</td>
                                    <td>
                                        <input id="eventRegion" name="location" placeholder="" class="" readonly
                                               type="text">
                                    </td>
                                    <td><span></span>所属街道</td>
                                    <td>
                                        <input id="street" name="location" placeholder="" class="" readonly type="text">
                                    </td>
                                </tr>
                                <tr class="col-12">
                                    <td><span></span>所属社区</td>
                                    <td>
                                        <input id="community" name="location" placeholder="" class="" readonly
                                               type="text">
                                    </td>
                                    <td><span></span>单元网格</td>
                                    <td>
                                        <input id="girdStr" name="location" placeholder="" class="" readonly
                                               type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span></span>问题来源</td>
                                    <td>
                                        <input name="eventSourceStr" id="eventSourceStr" placeholder="" class=""
                                               type="text" readonly="readonly">
                                    </td>
                                    <td><span></span>上报人</td>
                                    <td>
                                        <input id="userName" name="userName" placeholder="" class="" readonly
                                               type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span></span>诉求人</td>
                                    <td>
                                        <input id="petitionerName" name="petitionerName" placeholder="" class=""
                                               readonly type="text">
                                    </td>
                                    <td><span></span>联系方式</td>
                                    <td><input id="petitionerPhone" name="petitionerPhone" type="text" value=""
                                               readonly="readonly"></td>
                                </tr>
                                <tr>
                                    <td><span></span>性别</td>
                                    <td>
                                        <input id="petitionerSex" name="petitionerSex" placeholder="" class="" readonly
                                               type="text">
                                    </td>
                                    <td><span></span>创建时间</td>
                                    <td>
                                        <input id="cdate" name="cdate" placeholder="" class="" readonly type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span></span>位置坐标</td>
                                    <td>
                                        <input id="x" type="text" class="find_input" readonly="readonly" value="经度">
                                    </td>
                                    <td></td>
                                    <td>
                                        <input id="y" type="text" class="find_input" readonly="readonly" value="纬度">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="send">
                                <div class="sendImg">
                                    <div class="sendText"><span>照片:</span></div>
                                    <div>
                                        <div id="imageList">
                                            <div class="innerPic" style="float:left;">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="sendImg">
                                    <div class="sendText"><span>视频:</span></div>
                                    <div>
                                        <!--                                        <input class="videoInput" type="file" name="file" multiple="multiple">-->
                                        <div class="innerPic">
                                            无
                                        </div>
                                    </div>
                                </div>
                                <div class="sendImg">
                                    <div class="sendText"><span>音频:</span></div>
                                    <div>
                                        <!--                                        <input class="musicInput" type="file" name="file" multiple="multiple">-->
                                        <div class="innerPic">
                                            无
                                        </div>
                                    </div>
                                </div>

                            </div>
                                <div class="sendImg">
                                    <div class="sendText"><span>音频:</span></div>
                                    <div>
                                        <!--                                        <input class="musicInput" type="file" name="file" multiple="multiple">-->
                                        <div class="innerPic">
                                            无
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--                            按钮-->
                        <div class="notice_bot">
                            <!--            <div class="l_left">-->
                            <!--                <input type="checkbox" checked="checked"/>保存并关闭窗口-->
                            <!--            </div>-->
                            <div class="r_right but_p girdBtnGroup">
                                <button class="but_close" onclick="Cancel()">返回</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="banner">
                <div class='g_con'>
                    <!-- 物流时间轴 -->
                    <div class='expressRecord' id="timeAxis">
                        <div>暂时没有数据，请进入流程处理案件</div>
                    </div>
                </div>
            </div>
            <div class="banner"><img id="eventImg"></div>
            <div class="banner">
                <div class="conduct">
                    <div class="rootBox">
                        <a class="alist alist1">
                            <span class="spanlist"></span>
                            <span class="spanlist"></span>
                            <span class="spanlist"></span>
                            <span class="spanlist"></span> 1.信息收集<input style="display: none" value="1">
                        </a>
                        <i>→</i>
                        <a class="alist alist2">
                            <span class="spanlist"></span>
                            <span class="spanlist"></span>
                            <span class="spanlist"></span>
                            <span class="spanlist"></span> 2.案件建立<input style="display: none" value="0">
                        </a>
                        <i>→</i>
                        <a class="alist alist3">
                            <span class="spanlist"></span>
                            <span class="spanlist"></span>
                            <span class="spanlist"></span>
                            <span class="spanlist"></span> 3.任务派遣<input style="display: none" value="">
                        </a>
                    </div>
                    <div class="downIn">
                        <span class="downi">↓</span>
                    </div>
                    <div class="rootBox">
                        <a class="alist alist4">
                            <span class="spanlist"></span>
                            <span class="spanlist"></span>
                            <span class="spanlist"></span>
                            <span class="spanlist"></span> 6.核查结案<input style="display: none" value="">
                        </a>
                        <i>←</i>
                        <a class="alist alist5">
                            <span class="spanlist"></span>
                            <span class="spanlist"></span>
                            <span class="spanlist"></span>
                            <span class="spanlist"></span> 5.处理反馈<input style="display: none" value="">
                        </a>
                        <i>←</i>
                        <a class="alist alist6">
                            <span class="spanlist"></span>
                            <span class="spanlist"></span>
                            <span class="spanlist"></span>
                            <span class="spanlist"></span> 4.任务处理<input style="display: none" value="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">不予受理详情</h4>
                    </div>
                    <div class="modal-body">
                        <div class="top table2_top">
                            <!--        <div>-->
                            <div class="top_out">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>当前处理部门<span></span></td>
                                        <td>
                                            <input type="text"  readonly="readonly" id="dept">
                                        </td>
                                        <td>当前处理人<span></span></td>
                                        <td>
                                            <input type="text" required readonly="readonly" id="handler" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span></span>不予受理意见</td>
                                        <td colspan="8"><textarea  name="problemescription" id="opinions" required readonly></textarea></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between" style="display: flex;justify-content: flex-end!important;">
                        <input type="hidden" id="eventId" name="eventId" />
                        <input type="hidden" id="buttonText" name="buttonText" />
                        <div class="modal-footer justify-content-between" id="eventButton">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: jquery_validation_js"/>
<th:block th:include="page/fragments/common :: fileUpload_js"/>
<th:block th:include="page/fragments/common :: map_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>
<th:block th:include="page/fragments/common :: swiper_js"/>
<script type="text/javascript" th:inline="javascript">
    /**
     * 立案条件
     */
    function getEventCondition() {
        let eventConditionId = $("#eventCondition").val();
        let url = "/event/getEventCondition/?conditionId=" + eventConditionId;
        $.ajaxUtil.get(url, function (e) {
            $("#eventTerm").empty();
            let option = "<option value=''>--请选择--</option>";
            if (e.code === "0") {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.conditionValue + "</option>"
                });
            }
            $("#eventTerm").html(option);
        });
    }
    /**
     * 获取立案时限分类
     */
    function getTimeTypeList() {
        let eventTerm = $("#eventTerm").val();
        let url = "/event/findDeptTimeLimitByCondition/?conditionId=" + eventTerm;
        $.ajaxUtil.get(url, function (e) {
            $("#timeType").empty();
            let option = "<option value=''>--请选择--</option>";
            if (e.code === "0") {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.level + "</option>"
                });
            }
            $("#timeType").html(option);
        });
    }
    /**
     * 获取街道
     */
    function getStreetList(){
        let parentId = $("#grid1 option:selected").val();
        let url = "/event/findAllByParentId?parentId="+parentId;
        $.ajaxUtil.get(url, function (e) {
            let option="<option>--请选择--</option>";
            if (e.code === "0") {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.gridName + "</option>"
                });
                $("#grid2").html(option);
            }
        });
    }
    function selectEventTypeTree() {
        var treeId = $("#treeId").val();
        var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        var url = /*[[@{/tree/eventtype}]]*/ "/tree/eventtype";
        var options = {
            title: '选择事件类型',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var body = layer.getChildFrame('body', index);
        $("#eventTypeId").val(body.find('#treeId').val());
        $("#typeStr").val(body.find('#treeName').val());
        let eventTypeId = $("#eventTypeId").val();
        //获取立案区域
        findEventConditionByEventType(eventTypeId)
        layer.close(index);
    }

    let findEventConditionByEventTypeUrl = /*[[@{/event/findEventConditionByEventType}]]*/ "/event/findEventConditionByEventType";

    /**
     * 获取立案区域
     */
    function findEventConditionByEventType(eventTypeId) {
        console.log("eventTypeId",eventTypeId)
        let url = findEventConditionByEventTypeUrl + "/?eventTypeId=" + eventTypeId;
        $.ajaxUtil.get(url, function (e) {
            let option = "<option value=''>--请选择--</option>";
            if (e.code === "0") {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.region + "</option>"
                });
                $("#eventCondition").html(option);
            }
        });
    }

    $(function () {

        //步骤进行到
        var bgmNum = 2;
        setConduct(bgmNum)

        queryUserList();
        $(".tabTitle span").click(function() {
            $(this).addClass("active").siblings(".tabTitle span").removeClass("active");
            $(".banner").eq($(this).index(".tabTitle span")).addClass("blockActive").siblings(".banner").removeClass("blockActive");
        })

        getGridPublishUrl()

        $(".duk_close").click(function() {
            $("#pictureBoxDuc").fadeOut(300)
        });

        $(".banner").on("click", ".innerPic", function() {
            $("#pictureBoxDuc").fadeIn(300)
        });

        //全屏
        $("#fullScreen").click(function() {
            $("#allTiel").addClass("allTielFont");
            $("#exitfullScreen").css("display", "block");
            $(this).css("display", "none")
        });

        $("#exitfullScreen").click(function() {
            $("#allTiel").removeClass("allTielFont");
            $(this).css("display", "none");
            $("#fullScreen").css("display", "block");
        })
        var r = 0;
        $(".xiala").click(function() {
            r += 180;
            $(".selectPoint").slideToggle(300);
            $(".selectmenu").css('transform', 'rotate(' + r + 'deg)');
        })

        var swiper2 = new Swiper('.sw2', {
            pagination: '.pg2',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            slidesPerView: 1,
            paginationClickable: true,
            spaceBetween: 30,
            // loop: true,
            observer: true, //修改swiper自己或子元素时，自动初始化swiper
            observeParents: true //修改swiper的父元素时，自动初始化swiperd
        });

        var swiper = new Swiper('.sw1', {
            pagination: '.pg1',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            slidesPerView: 1,
            paginationClickable: true,
            spaceBetween: 30,
            // loop: true,
            observer: true, //修改swiper自己或子元素时，自动初始化swiper
            observeParents: true //修改swiper的父元素时，自动初始化swiperd
        });
    })

    let getGridUrl = /*[[@{/event/getGridUrl}]]*/ "/event/getGridUrl";

    function getGridPublishUrl() {
        $.ajaxUtil.get(getGridUrl, function (e) {
            // console.log("e", e);
            /*
            * 初始渲染底图g
            * */
            var urlParam = e.data.split("?");
            var url = urlParam[0];
            var param = urlParam[1];
            // console.log(url+","+param)
            var ImageVector = new ol.layer.Tile({
                source: new ol.source.TileWMS({
                    url: url,
                    params: {
                        'VERSION': '1.1.1',
                        tiled: true,
                        "LAYERS": param,
                        "exceptions": ''
                    }
                })
            });
            var layersArray = map.getLayers();
            layersArray.insertAt(1, ImageVector);
            //获取地图数据s
            map.on('singleclick', function (evt) {
                var viewResolution = map.getView().getResolution();
                var url = ImageVector.getSource().getGetFeatureInfoUrl(
                    evt.coordinate, viewResolution, 'EPSG:4326', {
                        'INFO_FORMAT': 'text/javascript', //geoserver支持jsonp才能输出为jsonp的格式
                        'FEATURE_COUNT': 50 //点击查询能返回的数量上限
                    });
                $.ajax({
                    type: 'GET',
                    url: url,
                    dataType: 'jsonp',
                    jsonp: 'format_options',
                    jsonpCallback: "callback:success_jsonpCallback"
                });
            });
        })
    }
    //回调函数接收查询结果
    var geojsonFormat = new ol.format.GeoJSON({defaultDataProjection: "EPSG:4326"});

    let getGridByCheckLayerUrl = /*[[@{/event/getGridByCheckLayer}]]*/ "/event/getGridByCheckLayer";

    function success_jsonpCallback(res) {
        var features = geojsonFormat.readFeatures(res);
        console.log('点击查询返回的结果如下：');
        console.log("features", features);
        let mongodbId = features[0].H.mongodb_id;
        console.log("features", mongodbId);
        $.ajaxUtil.get(getGridByCheckLayerUrl + "?mongodbId=" + mongodbId, function (e) {
            console.log("e", e);
        });
    }


    //职位角色按钮组
    var roleNum = 1;
    if(roleNum =1){
        $("#leader").addClass("blockActive")
    }else if (roleNum =2){
        $("#dispatcher").addClass("blockActive")
    }else if (roleNum =3){
        $("#departments").addClass("blockActive")
    }else if (roleNum =4){
        $("#case").addClass("blockActive")
    }else if (roleNum =5){
        $("#treatment").addClass("blockActive")
    }

    let img = /*[[@{/common/img/}]]*/ "/common/img/";
    let searchUrl = /*[[@{/event/caseInvalidList}]]*/ "/event/caseInvalidList";
    let event = /*[[@{/event/findOne}]]*/ "/event/findOne";
    let statisticsByEventIdUrl = /*[[@{/statistics/byEventId}]]*/ "/statistics/byEventId";
    let uploadUrl = /*[[@{/common/upload}]]*/ "/common/upload";
    let findOpinionsUrl = /*[[@{/statistics/findOpinions}]]*/ "/statistics/findOpinions";
    let num = 1;
    let getNodeNameUrl = /*[[@{/event/getNodeName}]]*/ "/event/getNodeName";
    function getNodeName(eventId) {
        $.ajaxUtil.get(getNodeNameUrl + "?eventId=" + eventId, function (e) {
            setConduct(e.data);
        });
    }
    function queryUserList() {
        var options = {
            num: num,
            url: searchUrl,
            uniqueId: "id",
            sortName: "updateTime",
            sortOrder: "desc",
            modalName: "用户",
            onClickRow: function (row,index) {
                console.log("row",row);
                layerMap.getSource().clear()
                getTimeAxis(row.id);
                getEventDetail(row.id);
                findOpinions(row.statisticsId);
                //步骤图
                getNodeName(row.id);
            },
            columns: [
                {
                    field: 'index',
                    title: '序号',
                    formatter : function (value, row, index){
                        var page = $('#bootstrap-table').bootstrapTable("getPage");
                        return page.pageSize * (page.pageNumber - 1) + index + 1;
                    }
                },
                {
                    title: '问题描述',
                    field: 'represent'
                },
                {
                    title: '上报人',
                    field: 'userName'
                },
                {
                    title: '案件类型',
                    field: 'eventTypeName'
                },
                {
                    title: '创建时间',
                    field: 'createTime',
                    sortable: true,
                },
                {
                    title: '状态',
                    field: 'eventTypeName',
                    formatter: function (value,row) {
                        var e = '<a  data-toggle=\"modal\" data-target=\"#modal-default\" onclick="findOpinions(\'' + row.processInstanceId + '\')">不予受理意见</a> '
                        return e;
                    }
                },

            ]
        };
        $.table.init(options);
    }
    function findOpinions(statisticsId){
        $.ajaxUtil.get(findOpinionsUrl + "/?statisticsId=" + statisticsId, function (e) {
            let data = e.data;
            if (data != null) {
                $("#opinions").val(data.opinions);
                $("#handler").val(data.name);
            }
        });
    }

    function getTimeAxis(eventId) {
        $.ajaxUtil.get(statisticsByEventIdUrl + "/?eventId=" + eventId, function (e) {
            let data = e.data;
            $("#timeAxis").empty();
            let html = "";
            if (data.length === 0) {
                html += "<div>暂时没有数据，请进入流程处理案件</div>";
            } else {
                for (let i = 0; i < data.length; i++) {
                    html += "<div class='expressRecord-single-close'>";
                    html += "<div class='expressRecord-single-noReach-online-top-close'>";
                    if (i === 0) {
                        html += "<div class='online-top-closing'></div>";
                    } else {
                        html += "<div class='online-top-close'></div>";
                    }
                    html += "<div class='dot-close'>";
                    if (i === 0) {
                        html += "<div class='yes blockActive'></div>";
                    } else {
                        html += "<div class='yes'></div>";
                    }
                    html += "</div>";
                    if (i === (data.length - 1)) {
                        html += "<div class='online-bottom-start'></div>";
                    } else {
                        html += "<div class='online-bottom'></div>";
                    }
                    html += "</div>";
                    html += "<div class='expressRecord-text'>";
                    html += "<div class='gameEnd'>";
                    html += "<div class='endBox'>";
                    html += "回复内容:<em class='roleSize'>"+ data[i].opinions +"</em> ";
                    html += "</div>";
                    if (data[i].fileName.length > 0) {
                        html += "<div class='endBox enclosure'><i></i>附件详情</div>";
                    }
                    html += "</div>";
                    html += "<div class='gameEnd'>";
                    html += "<div class='endBox'>";
                    html += "by:<em class='roleSize'>"+ data[i].user + "</em> ";
                    html += "</div>";
                    html += "</div>";
                    html += "<div class='gameEnd'>";
                    html += "<div class='endBox RecordTime'>";
                    html += "<div>开始时间:<em>"+ data[i].starTime +"</em></div>";
                    html += "</div>";
                    html += "</div>";
                    html += "<div class='gameEnd'>";
                    html += "<div class='endBox RecordTime'>";
                    html += "结束时间:<em>"+ data[i].endTime +"</em>"
                    html += "</div>";
                    html += "</div>";
                    html += "<div class='gameEnd'>";
                    html += "<div class='endBox'>";
                    html += "<em></em>"
                    html += "</div>";
                    if (data[i].fileName.length > 0) {
                        html += "<div class='endBox enclosure'><i></i>附件详情</div>";
                    }
                    html += "</div>";
                    html += "</div>";
                    html += "<div class='expressRecord-date'>";
                    html += "<div class='expressRecord-date-text'>" + data[i].link + "</div>";
                    html += "</div>";
                    html += "</div>"
                }
            }
            $("#timeAxis").append(html);
        });
    }
    function getEventDetail(eventId) {
        $.ajaxUtil.get(event + "?eventId=" + eventId, function (e) {
            eventId = e.data.id;
            /*详情*/
            $("#eventCode").val(e.data.eventCode);
            $("#eventTypeStr").val(e.data.eventTypeStr);
            $("#represent").text(e.data.represent);
            $("#location").val(e.data.location);
            $("#regionStr").val(e.data.regionStr);
            $("#conditionValue").val(e.data.conditionValue);
            $("#level").val(e.data.level);
            $("#timeLimitStr").val(e.data.timeLimitStr);
            $("#girdStr").val(e.data.girdStr);
            $("#community").val(e.data.community);
            $("#street").val(e.data.street);
            $("#eventRegion").val(e.data.eventRegion);
            $("#x").val(e.data.x);
            $("#y").val(e.data.y);
            $("#eventSourceStr").val(e.data.eventSourceStr);
            $("#cdate").val(e.data.cdate);
            $("#petitionerSex").val(e.data.petitionerSex);
            $("#petitionerPhone").val(e.data.petitionerPhone);
            $("#petitionerName").val(e.data.petitionerName);
            $("#userName").val(e.data.userName);
            $("#recTypeStr").val(e.data.recTypeStr);
            let file = e.data.file;
            if (file.length > 0) {
                let showUrl = [[${@fastProperties.nginxUrl}]];
                $("#imageList").empty();
                let imageHtml = "";
                for (let i = 0; i < file.length; i++) {
                    imageHtml += "<img class='img-rounded' src='" + showUrl + file[i].url + "'>";
                }
                $("#imageList").html(imageHtml);
            }
            /*流程图*/
            $("#eventImg").attr('src', img + e.data.processInstanceId);
            /* 坐标 */
            setPoint(e.data.x, e.data.y);
        });
    }
    jQuery.extend(jQuery.validator.messages, {
        required: "必填",
        phone: "必填",
        remote: "请修正该字段",
        email: "请输入正确格式的电子邮件",
        url: "请输入合法的网址",
        date: "请输入合法的日期",
        dateISO: "请输入合法的日期 (ISO).",
        number: "请输入合法的数字",
        digits: "只能输入整数",
        creditcard: "请输入合法的信用卡号",
        equalTo: "请再次输入相同的值",
        accept: "请输入拥有合法后缀名的字符串",
        maxlength: jQuery.validator.format("请输入一个 长度最多是 {0} 的字符串"),
        minlength: jQuery.validator.format("请输入一个 长度最少是 {0} 的字符串"),
        rangelength: jQuery.validator.format("请输入 一个长度介于 {0} 和 {1} 之间的字符串"),
        range: jQuery.validator.format("请输入一个介于 {0} 和 {1} 之间的值"),
        max: jQuery.validator.format("请输入一个最大为{0} 的值"),
        min: jQuery.validator.format("请输入一个最小为{0} 的值")
    });

    $("#userForm").validate({
        debug: true,
        ignore:"",
        submitHandler:function(form){
            var params = $(form).serialize(); //串行化表单参数
            $.post("user",params,function(result){
                if (result.ok) {//注册成功
                    location.href = "register_ok.html";
                }else{//注册失败
                    alert(result.msg);
                    $("#checkImg").click();

                }
            },"json");
        },
        rules: {
            userName: {
                required: true
            },
            loginName: {
                required: true,
                // rangelength: [5, 8]
            },
            phonenumber: {
                required: true,
                // rangelength: [6, 12]
            },
            problemescription: {
                required: true,
                // rangelength: [6, 12],
                /*重复密码需要与原密码相同的要求*/
                // equalTo: "#pwd"
            },
            safeLevel: {
                required: true
            },
            findTime: {
                required: true,
                // range: [26, 50]
            },
            enterprise: {
                required: true
            },
            department: {
                required: true
            },
            handleTime: {
                required: true
            },charge: {
                required: true
            },
            question: {
                required: true
            },
            closeTime: {
                required: true,
                // email: true
            },
            // idcard: {
            //     card: true
            // },
            // phone: {
            //     phone: true
            // }
        },
        messages: {
            // realname: {
            //     required: "真实姓名不能为空"
            // },
            // username: {
            //     required: "登录名不能为空",
            //     rangelength: "登录名长度要在5-8位之间"
            // },
            // pwd: {
            //     required: "密码不能为空",
            //     rangelength: "密码长度在6-12位之间"
            // },
            // pwd2: {
            //     required: "重复密码不能为空",
            //     rangelength: "重复密码长度在6-12位之间",
            //     equalTo: "重复密码与密码不一致"
            // },
            // sex: {
            //     required: "请选择性别"
            // },
            // age: {
            //     required: "年龄不能为空",
            //     range: "年龄必须在26-50岁之间"
            // },
            // email: {
            //     email: "请输入有效邮箱"
            // },
            // idcard: {
            //     card: "请输入有效身份证号"
            // },
            // phone: {
            //     phone: "必填"
            // }
        }
    });
    /*手机号格式验证*/
    $.validator.addMethod("phone", function (value, element, params) {
        var reg = /^1[34578]\d{9}$/;
        return reg.test(value);
    }, "phone error");

    function Cancel() {
        $.modal.closeLoading();
    }

    function submitHandler(){
        //先校验
        if (!$("form").valid()) {
            return;

        }
        var data = $('#userForm').serialize();
        $.operate.saveTab(url, data);
    }
    $(function () {

    })

    var center = ol.proj.transform([115.62, 41.74], "EPSG:4326", "EPSG:3857");
    // 沽源地图
    var center = [115.68192, 41.66462];
    var projection = new ol.proj.Projection({
        code: 'EPSG:4326',
        units: 'degrees',
        axisOrientation: 'neu',
        global: true
    });
    var untiled = new ol.layer.Image({
        source: new ol.source.ImageWMS({
            ratio: 1,
            url: 'http://192.168.24.203:7880/geoserver/guyuan20201010/wms',
            params: {
                'VERSION': '1.1.1',
                "LAYERS": 'guyuan20201010:guyuan',
                "exceptions": 'application/vnd.ogc.se_inimage',
            }
        })
    });
    var source = new ol.source.Vector({wrapX: false});

    var map = new ol.Map({
        target: 'map',
        layers: [
            untiled
        ],
        view: new ol.View({
            // projection: projection,
            center: center,
            zoom: 17,
            projection: projection
        })
    });

    var layerMap = new ol.layer.Vector({
        source: new ol.source.Vector(),
    });
    map.addLayer(layerMap);

    function setPoint(x, y) {
        let point = new ol.Feature({
            geometry: new ol.geom.Point([x, y]),
            data: {
                // id: data,
                // name: name,
                coordinate: x + "," + y
            }
        });
        layerMap.getSource().addFeature(point);
        point.setStyle(new ol.style.Style({
            image: new ol.style.Circle({
                radius: 10,
                fill: new ol.style.Fill({
                    color: '#ff0000'
                }),
                stroke: new ol.style.Stroke({
                    color: '#ff0000',
                    width: 3
                })
            })
        }));
    }
</script>
</body>
</html>
