<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>热线上报</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: fileUpload_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>
    <th:block th:include="page/fragments/common :: ztree_css"/>
    <link th:href="@{/css/eventList.css}" rel="stylesheet" type="text/css">
</head>
<body style="border-radius: 8px;">
<div class="content">
    <div class="leftContent">
        <div class="notice_check">
            <form id="search-form">

            </form>
            <div class="tree">
                <div class="treeDemo">
                    <ul id="treeDemo" class="ztree"></ul>
                </div>
            </div>
        </div>


    </div>
    <div class="rightContent">
        <form class="details" id="areaForm">
            <div class="top table2_top">

                <div class="top_out">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><span></span>名称</td>
                            <td>
                                <input id="gridName" name="gridName" placeholder="" class="" type="text">
                                <input id="id" name="gridId" placeholder="" class="" type="hidden">
                                <input id="level" name="level" placeholder="" class="" type="hidden" value="1">
                            </td>
                        </tr>
                        <tr>
                            <td><span></span>父节点</td>
                            <td style="display: flex;justify-content: space-between;align-items: center;margin-top: 4px">
                                <input type="text" id="parentName" readonly="readonly" class="find_input"/>
                                <input name="pid" type="hidden" readonly="readonly" id="pid" class="find_input"/>
                                <button type="button" class="addBtn" onclick="selectGridTree()">
                                    +
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="notice_bot">
                    <div class="r_right but_p girdBtnGroup" id="eventButton">
                        <button class="but_save" id="collocation" type="button" style="margin-right: 10px;display: none"
                                onclick="toCollocation()">
                            配置
                        </button>
                        <button class="but_save" type="button" style="margin-right: 10px" id="updateRoleBtn"
                                onclick="formReset()">清空
                        </button>
                        <button class="but_save" type="button" style="margin-right: 10px" id="deleteRoleBtn"
                                onclick="deleteRole()">删除
                        </button>
                        <button class="but_save" type="button" onclick="area()">保存</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: jquery_validation_js"/>
<th:block th:include="page/fragments/common :: fileUpload_js"/>
<th:block th:include="page/fragments/common :: map_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>
<th:block th:include="page/fragments/common :: ztree_js"/>
<script type="text/javascript" th:inline="javascript">

    let gridTreeUrl = /*[[@{/grid/getGridTree}]]*/ "/gird/getGridTree";
    let areaUrl = /*[[@{/grid/area}]]*/ "/gird/area";
    let delUrl = /*[[@{/grid/gridDelete}]]*/ "/gird/gridDelete";

    let setting = {
        callback: {
            onClick: zTreeOnClick
        },
        data: {
            keep: {
                parent: true,
                leaf: true
            },
            simpleData: {
                enable: true,
                idKey: 'id',
                pIdKey: 'parentId'
            },
            key: {
                name: "name"
            }
        }
    };

    function selectGridTree() {
        var url = /*[[@{/tree/grid?num=two}]]*/ "/tree/grid?num=two";
        var options = {
            title: '请选择区域',
            width: "380",
            url: url,
            callBack: gridDoSubmit
        };
        $.modal.openOptions(options);
    }

    function gridDoSubmit(index, layero) {
        var body = layer.getChildFrame('body', index);
        $("#pid").val(body.find('#treeId').val());
        $("#parentName").val(body.find('#treeName').val());
        $("#level").val(body.find('#treeLevel').val());

        layer.close(index);
    }

    $(function () {

        gridTree();

        $(".datepicker").datetimepicker({format: 'yyyy-mm', autoclose: true, todayBtn: true, startView: 4, minView: 3});
        ////日期插件
        $('.form_datetime').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: "yyyy-mm-dd hh:ii:ss"
        });

    });

    function gridTree() {
        $.ajaxUtil.get(gridTreeUrl, function (e) {
            $.fn.zTree.init($("#treeDemo"), setting, e.data);
        });
    }


    function toCollocation() {
        var id = $("#id").val();
        window.parent.$.learuntab.myAddTab('配置网格', '/grid/toCollocation?id='+id, 'data_id')
    }

    function zTreeOnClick(event, treeId, treeNode) {
        if (treeNode.level === 2) {
            $("#collocation").css("display", "block")
        }
        $("#id").val(treeNode.id);
        $("#level").val(treeNode.level + 1);
        $("#gridName").val(treeNode.name);
        if (treeNode.getParentNode() !== null) {
            $("#parentName").val(treeNode.getParentNode().name);
            $("#pid").val(treeNode.getParentNode().id);
        } else {
            $("#parentName").val("");
            $("#pid").val("");
        }


    }

    function formReset() {
        $("#id").val("");
        $("#level").val(1);
        $("#gridName").val("");
        $("#parentName").val("");
        $("#pid").val("");
    }


    function area() {
        let data = $('#areaForm').serialize();
        $.operate.saveAndReload(areaUrl, data);
    }


    function deleteRole() {
        let data = $('#areaForm').serialize();
        $.operate.saveAndReload(delUrl, data);
    }

</script>
</body>
</html>
