<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>热线上报</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: fileUpload_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>
    <th:block th:include="page/fragments/common :: swiper_css" />
    <link th:href="@{/css/caseAnalysis.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="warp" style="position: relative">
    <div class="fullScreen_index"><i class="fa fa-arrows-alt" aria-hidden="true"></i></div>
    <div class="top">
        <div class="once">
            <button class="btn btn-primary loopIcon_search">按条件搜索</button>
            <button class="btn btn-primary" style="margin-left: 5px" type="button" onclick="getCaseAnalysisTitle()"><i class="fa fa-search" aria-hidden="true"></i></button>
            <div class="condition_sear">
                <form id="userForm">
                    <div class="table2_top">
                        <div class="top_out">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>问题描述<span></span></td>
                                    <td>
                                        <input type="text" class="datepicker" name="represent">
                                    </td>
                                </tr>
                                <tr>
                                    <td>所在网格<span></span></td>
                                    <td>
                                        <select class="form-control" id="grid1" name="grid" onchange="getStreetList()" required>
                                            <option value="">--请选择--</option>
                                            <option th:each="as:${gridList}" th:value="${as.id}"
                                                    th:text="${as.gridName}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>问题来源<span></span></td>
                                    <td>
                                        <select class="form-control" id="eventSource" name="eventSourceId" required>
                                            <option value="">--请选择--</option>
                                            <option th:each="as:${eventSource}" th:value="${as.id}"
                                                    th:text="${as.value}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>案件类型<span></span></td>
                                    <td style="display: flex;justify-content: space-between;align-items: center;margin-top: 4px">
                                        <input type="text" readonly="readonly" id="typeStr" class="find_input"/>
                                        <input type="hidden" readonly="readonly" id="eventTypeId" name="eventTypeId"
                                               class="find_input"/>
                                        <button type="button" class="addBtn" onclick="selectEventTypeTree()">
                                            +
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>立案区域<span></span></td>
                                    <td>
                                        <select class="form-control" id="eventCondition" name="eventCondition" onchange="getEventCondition()"
                                                required>
                                            <option value="">--请选择--</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>立案条件<span></span></td>
                                    <td>
                                        <select class="form-control" id="eventTerm" onchange="getTimeTypeList()" name="conditionId" required>
                                            <option value="">--请选择--</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>计时等级<span></span></td>
                                    <td>
                                        <select class="form-control" id="timeType" name="timeType" required>
                                            <option value="">--请选择--</option>
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--    </div>-->
                </form>
                <div class="up_condition"><i class="fa fa-caret-up" id="up_condition" aria-hidden="true"></i></div>
            </div>
        </div>
        <div class="onceoption" id="caseAnalysisTitle">
            <div>
                <span>上限</span>
                <span>···</span>
            </div>
            <div>
                <span>受理</span>
                <span style="color: #00FF4E;">···</span>
            </div>
            <div>
                <span>立案</span>
                <span style="color: #FF6600;">···</span>
            </div>
            <div>
                <span>派遣</span>
                <span style="color: #F600FF;">···</span>
            </div>
            <div>
                <span>处置</span>
                <span style="color: #FFBF36;">···</span>
            </div>
            <div>
                <span>核查</span>
                <span style="color: #5BFEE5;">···</span>
            </div>
            <div>
                <span>结案</span>
                <span style="color: #FF4901;">···</span>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="map" id="map" style="width: 100%;height: 100%"></div>
<!--        <div class="show_map">-->
<!--            <div class="checkBox">-->
<!--                <div class="mapLayers">-->
<!--                    <div class="clickLayer">-->
<!--                        <img th:src="@{/img/1.jpg}" alt="">-->
<!--                    </div>-->
<!--                    <span class="clickName">热力图</span>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="viewGroup">-->
<!--                <div class="mapView">-->
<!--                    <div class="optionLayers">-->
<!--                        <div class="layerGrounp" id="map1">-->
<!--                            <div class="layerInfo">-->
<!--                                <img th:src="@{/img/1.jpg}" alt="">-->
<!--                            </div>-->
<!--                            <span class="layerName">热力图</span>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="optionLayers">-->
<!--                        <div class="layerGrounp" id="map2">-->
<!--                            <div class="layerInfo">-->
<!--                                <img th:src="@{/img/2.jpg}" alt="">-->
<!--                            </div>-->
<!--                            <span class="layerName">人群图</span>-->
<!--                        </div>-->
<!--                    </div>-->


<!--                    <div class="optionLayers">-->
<!--                        <div class="layerGrounp" id="map3">-->
<!--                            <div class="layerInfo">-->
<!--                                <img th:src="@{/img/3.jpg}" alt="">-->
<!--                            </div>-->
<!--                            <span class="layerName">街道图</span>-->
<!--                        </div>-->
<!--                    </div>-->


<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
</body>


</div>
<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: jquery_validation_js"/>
<th:block th:include="page/fragments/common :: fileUpload_js"/>
<th:block th:include="page/fragments/common :: map_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>
<th:block th:include="page/fragments/common :: swiper_js"/>
<script th:src="@{/js/index.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        $("#up_condition").click(function () {
            $(".condition_sear").slideUp(300)
        });
        $(".loopIcon_search").click(function () {
            $(".condition_sear").slideToggle(300)
        })

        $(".checkBox").click(function() {
            $(this).fadeOut(300);
            $(".viewGroup").fadeIn(300);
        });

        $(".layerGrounp").click(function () {
            $(".clickLayer").html($(this).children(".layerInfo").html())
            $(".clickName").html($(this).children(".layerName").html())
            $(".viewGroup").fadeOut(300);
            $(".checkBox").fadeIn(300);
        });

        var map_click = map.on('click', function (evt) {
            var pixel = map.getEventPixel(evt.originalEvent);
            var feature = map.forEachFeatureAtPixel(pixel, function (feature) {
                return feature;
            });
            //判断当前单击处是否有要素，捕获到要素时弹出popup
            var coordinate = evt.coordinate;
            if (feature !== undefined) {
                removeAllOverlay(map);
                let popup_element = document.createElement('div');
                popup_element.className = 'ol-popup';
                let closer = document.createElement('a');
                closer.href = '#';
                closer.className = 'ol-popup-closer';
                let title = document.createElement('div');
                title.className = 'title';
                let content = document.createElement('div');
                content.className = 'popup-content';
                $(popup_element).append(closer);
                $(popup_element).append(title);
                $(popup_element).append(content);
                let info_popup = new ol.Overlay(({
                    element: popup_element,
                    autoPan: true,
                    autoPanAnimation: {
                        duration: 250   //当Popup超出地图边界时，地图移动的速度
                    }
                }));
                map.addOverlay(info_popup);
                $(closer).on('click', function (event) {
                    event.preventDefault();
                    info_popup.setPosition(undefined);
                });// 点击关闭的按钮
                let data = feature.H.data;
                let eventId = data.eventId;
                if(eventId !== null && eventId !== undefined){
                    let getDetailUrl = /*[[@{/commandSubsystem/toIndexDetails}]]*/ "/commandSubsystem/toIndexDetails";
                    let url = getDetailUrl + "?eventId=" + eventId;
                    $("#eventId_map").val(eventId);
                    $("#url_map").val(url);
                }
                title.innerHTML = '<div><strong>案件信息</strong></div></div>';
                content.innerHTML = '<div>' +
                    '<div>案件编号:'+ data.eventCode +'</div>' +
                    '<div>案件分类:'+ data.eventTypeName +'</div>' +
                    '<div>问题描述:'+ data.represent +'</div>' +
                    '<div class="details"><span class="">查看详情>></span></div>' +
                    '</div>';
                info_popup.setPosition(coordinate);
                //查看详情跳页
                $(".details").click(function () {
                    let url = $("#url_map").val();
                    let eventId = $("#eventId_map").val();
                    window.parent.$.learuntab.myAddTab('详情', url, 'eventId');
                })
            }
        });

        // 清空上一个弹框
        function removeAllOverlay(map) {
            map.getOverlays().getArray().slice(0).forEach(function (overlay) {
                map.removeOverlay(overlay);
            });
        }

        getCaseAnalysisTitle();

    });

    let getCaseAnalysisTitleUrl = /*[[@{/commandSubsystem/getCaseAnalysisTitle}]]*/ "/commandSubsystem/getCaseAnalysisTitle";

    function getCaseAnalysisTitle() {
        let serialize = $("#userForm").serialize();
        $.ajaxUtil.get(getCaseAnalysisTitleUrl+"?"+serialize, function (e) {
            let data = e.data;
            $("#caseAnalysisTitle").empty();
            let html = "";
            if (data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    html += "<button type='button' value ='" + JSON.stringify(data[i].data) + "' onclick='setPointAndData(this.value)'>"
                    html += "<span>" + data[i].name + "</span>"
                    html += "<span class='colorRandom'>" + data[i].data.length + "</span>"
                    html += "</button>"
                }
            } else {
                html += "<div>"
                html += "<span>未获取数据</span>"
                html += "</div>"
            }
            $("#caseAnalysisTitle").html(html);
        });
    }

    function setPointAndData(data) {
        let json = $.parseJSON(data);
        console.log("data", json);
        for (let i = 0; i < json.length; i++) {
            setPoint(json[i].coordinate.split(" ")[0],
                json[i].coordinate.split(" ")[1],
                json[i].eventId, json[i].eventCode, json[i].represent, json[i].eventTypeName);
        }
    }

    function selectEventTypeTree() {
        var treeId = $("#treeId").val();
        var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        var url = /*[[@{/tree/eventtype}]]*/ "/tree/eventtype";
        var options = {
            title: '选择事件类型',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var body = layer.getChildFrame('body', index);
        $("#eventTypeId").val(body.find('#treeId').val());
        $("#typeStr").val(body.find('#treeName').val());
        let eventTypeId = $("#eventTypeId").val();
        //获取立案区域
        findEventConditionByEventType(eventTypeId)
        layer.close(index);
    }
    let findEventConditionByEventTypeUrl = /*[[@{/event/findEventConditionByEventType}]]*/ "/event/findEventConditionByEventType";

    /**
     * 获取立案区域
     */
    function findEventConditionByEventType(eventTypeId) {
        let url = findEventConditionByEventTypeUrl + "/?eventTypeId=" + eventTypeId;
        $.ajaxUtil.get(url, function (e) {
            let option = "<option value=''>--请选择--</option>";
            if (e.code === 0) {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.region + "</option>"
                });
                $("#eventCondition").html(option);
            }
        });
    }

    /**
     * 立案条件
     */
    function getEventCondition() {
        let eventConditionId = $("#eventCondition").val();
        let url = "/event/getEventCondition/?conditionId=" + eventConditionId;
        $.ajaxUtil.get(url, function (e) {
            $("#eventTerm").empty();
            let option = "<option value=''>--请选择--</option>";
            if (e.code === 0) {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.conditionValue + "</option>"
                });
            }
            $("#eventTerm").html(option);
        });
    }

    /**
     * 获取立案时限分类
     */
    function getTimeTypeList() {
        let eventTerm = $("#eventTerm").val();
        let url = "/event/findDeptTimeLimitByCondition/?conditionId=" + eventTerm;
        $.ajaxUtil.get(url, function (e) {
            $("#timeType").empty();
            let option = "<option value=''>--请选择--</option>";
            if (e.code === 0) {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.level + "</option>"
                });
            }
            $("#timeType").html(option);
        });
    }

    function setPoint(x, y, id, eventCode, represent, eventTypeName) {
        let point = new ol.Feature({
            geometry: new ol.geom.Point([x, y]),
            data: {
                eventId: id,
                eventCode: eventCode,
                represent: represent,
                eventTypeName: eventTypeName,
                coordinate: x + "," + y
            }
        });
        point.setStyle(new ol.style.Style({
            image: new ol.style.Icon({
                src: '../img/dwpoint3.png'
            })
        }));
        layerMap.getSource().addFeature(point);
    }

</script>
<th:block th:include="page/fragments/common :: mapinit_js"/>
</body>
</html>
