<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>热线上报</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: fileUpload_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>
    <th:block th:include="page/fragments/common :: swiper_css" />
    <link th:href="@{/css/caseAnalysis.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="warp" style="position: relative">
    <div class="fullScreen_index"><i class="fa fa-arrows-alt" aria-hidden="true"></i></div>
    <div class="top">
        <div class="once">
            <div class="texts">按条件搜索：</div>
            <div class="searchInput">
                <input type="text" placeholder="请输入搜索条件" class="searchoption" >
                <i class="i_mirror"></i>
            </div>
            <div class="condition_sear">
                <form id="userForm">
                    <input id="eventIdListByBox" name="eventIdListByBox" value="" type="hidden">
                    <input th:name="eventId" th:value="${eventId}" id="eventIdFromWorkBench" type="hidden">
                    <div class="table2_top">
                        <!--        <div>-->
                        <div class="top_out">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>问题描述<span></span></td>
                                    <td>
                                        <input type="text" class="datepicker" name="represent">
                                    </td>
                                </tr>
                                <tr>
                                    <td>所在网格<span></span></td>
                                    <td>
                                        <select class="form-control" id="grid1" name="grid" onchange="getStreetList()" required>
                                            <option value="">--请选择--</option>
                                            <option th:each="as:${gridList}" th:value="${as.id}"
                                                    th:text="${as.gridName}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>问题来源<span></span></td>
                                    <td>
                                        <select class="form-control" id="eventSource" name="eventSourceId" required>
                                            <option value="">--请选择--</option>
                                            <option th:each="as:${eventSource}" th:value="${as.id}"
                                                    th:text="${as.value}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>案件类型<span></span></td>
                                    <td style="display: flex;justify-content: space-between;align-items: center;margin-top: 4px">
                                        <input type="text" readonly="readonly" id="typeStr" class="find_input"/>
                                        <input type="hidden" readonly="readonly" id="eventTypeId" name="eventTypeId"
                                               class="find_input"/>
                                        <button type="button" class="addBtn" onclick="selectEventTypeTree()">
                                            +
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>立案区域<span></span></td>
                                    <td>
                                        <select class="form-control" id="eventCondition" name="eventCondition" onchange="getEventCondition()"
                                                required>
                                            <option value="">--请选择--</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>立案条件<span></span></td>
                                    <td>
                                        <select class="form-control" id="eventTerm" onchange="getTimeTypeList()" name="conditionId" required>
                                            <option value="">--请选择--</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>计时等级<span></span></td>
                                    <td>
                                        <select class="form-control" id="timeType" name="timeType" required>
                                            <option value="">--请选择--</option>
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--    </div>-->
                </form>
                <div class="up_condition"><i class="fa fa-caret-up" id="up_condition" aria-hidden="true"></i></div>
            </div>
        </div>
        <div class="onceoption" id="caseAnalysisTitle">
            <div>
                <span>上限</span>
                <span>···</span>
            </div>
            <div>
                <span>受理</span>
                <span style="color: #00FF4E;">···</span>
            </div>
            <div>
                <span>立案</span>
                <span style="color: #FF6600;">···</span>
            </div>
            <div>
                <span>派遣</span>
                <span style="color: #F600FF;">···</span>
            </div>
            <div>
                <span>核查</span>
                <span style="color: #5BFEE5;">···</span>
            </div>
            <div>
                <span>处置</span>
                <span style="color: #FFBF36;">···</span>
            </div>
            <div>
                <span>结案</span>
                <span style="color: #FF4901;">···</span>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="map" id="map" style="width: 100%;height: 100%"></div>
<!--        <div class="show_map">-->
            <div class="checkBox">
                <div class="mapLayers">
                    <div class="clickLayer">
                        <img th:src="@{/img/1.jpg}" alt="">
                    </div>
                    <span class="clickName">热力图</span>
                </div>
            </div>
            <div class="viewGroup">
                <div class="mapView">
                    <div class="optionLayers">
                        <div class="layerGrounp" id="map1">
                            <div class="layerInfo">
                                <img th:src="@{/img/1.jpg}" alt="">
                            </div>
                            <span class="layerName">热力图</span>
                        </div>
                    </div>

                    <div class="optionLayers">
                        <div class="layerGrounp" id="map2">
                            <div class="layerInfo">
                                <img th:src="@{/img/2.jpg}" alt="">
                            </div>
                            <span class="layerName">人群图</span>
                        </div>
                    </div>


                    <div class="optionLayers">
                        <div class="layerGrounp" id="map3">
                            <div class="layerInfo">
                                <img th:src="@{/img/3.jpg}" alt="">
                            </div>
                            <span class="layerName">街道图</span>
                        </div>
                    </div>


                </div>
            </div>
<!--        </div>-->
    </div>
</div>
</body>


</div>
<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: jquery_validation_js"/>
<th:block th:include="page/fragments/common :: fileUpload_js"/>
<th:block th:include="page/fragments/common :: map_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>
<th:block th:include="page/fragments/common :: swiper_js"/>
<script th:src="@{/js/index.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        $("#up_condition").click(function () {
            $(".condition_sear").slideUp(300)
        });
        $(".i_mirror").click(function () {
            $(".condition_sear").slideDown(300)
        })

        $(".checkBox").click(function() {
            $(this).fadeOut(300);
            $(".viewGroup").fadeIn(300);
        });

        $(".layerGrounp").click(function () {
            $(".clickLayer").html($(this).children(".layerInfo").html())
            $(".clickName").html($(this).children(".layerName").html())
            $(".viewGroup").fadeOut(300);
            $(".checkBox").fadeIn(300);
        });


        var center = ol.proj.transform([115.62, 41.74], "EPSG:4326", "EPSG:3857");
        // 沽源地图
        var center = [115.68192, 41.66462];
        var projection = new ol.proj.Projection({
            code: 'EPSG:4326',
            units: 'degrees',
            axisOrientation: 'neu',
            global: true
        });
        var untiled = new ol.layer.Image({
            source: new ol.source.ImageWMS({
                ratio: 1,
                url: 'http://192.168.24.203:7880/geoserver/guyuan20201010/wms',
                params: {
                    'VERSION': '1.1.1',
                    "LAYERS": 'guyuan20201010:guyuan',
                    "exceptions": 'application/vnd.ogc.se_inimage',
                }
            })
        });
        var source = new ol.source.Vector({wrapX: false});

        var map = new ol.Map({
            target: 'map',
            layers: [
                untiled
            ],
            view: new ol.View({
                center: center,
                zoom: 17,
                projection: projection
            })
        });

        var layerMap = new ol.layer.Vector({
            source: new ol.source.Vector(),
        });
        map.addLayer(layerMap);

        getCaseAnalysisTitle();

    });

    var getCaseAnalysisTitleUrl = /*[[@{/commandSubsystem/getCaseAnalysisTitle}]]*/ "/commandSubsystem/getCaseAnalysisTitle";

    function getCaseAnalysisTitle() {
        $.ajaxUtil.get(getCaseAnalysisTitleUrl, function (e) {
            let data = e.data;
            $("#caseAnalysisTitle").empty();
            let html = "";
            if (data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    html += "<div>"
                    html += "<span>" + data[i].name + "</span>"
                    html += "<span class='colorRandom'>" + data[i].data + "</span>"
                    html += "</div>"
                }
            } else {
                html += "<div>"
                html += "<span>为获取数据</span>"
                html += "</div>"
            }
            $("#caseAnalysisTitle").html(html);
        });
    }


    function selectEventTypeTree() {
        var treeId = $("#treeId").val();
        var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        var url = /*[[@{/tree/eventtype}]]*/ "/tree/eventtype";
        var options = {
            title: '选择事件类型',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var body = layer.getChildFrame('body', index);
        $("#eventTypeId").val(body.find('#treeId').val());
        $("#typeStr").val(body.find('#treeName').val());
        let eventTypeId = $("#eventTypeId").val();
        //获取立案区域
        findEventConditionByEventType(eventTypeId)
        layer.close(index);
    }
    let findEventConditionByEventTypeUrl = /*[[@{/event/findEventConditionByEventType}]]*/ "/event/findEventConditionByEventType";

    /**
     * 获取立案区域
     */
    function findEventConditionByEventType(eventTypeId) {
        let url = findEventConditionByEventTypeUrl + "/?eventTypeId=" + eventTypeId;
        $.ajaxUtil.get(url, function (e) {
            let option = "<option value=''>--请选择--</option>";
            if (e.code === 0) {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.region + "</option>"
                });
                $("#eventCondition").html(option);
            }
        });
    }

    /**
     * 立案条件
     */
    function getEventCondition() {
        let eventConditionId = $("#eventCondition").val();
        let url = "/event/getEventCondition/?conditionId=" + eventConditionId;
        $.ajaxUtil.get(url, function (e) {
            $("#eventTerm").empty();
            let option = "<option value=''>--请选择--</option>";
            if (e.code === 0) {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.conditionValue + "</option>"
                });
            }
            $("#eventTerm").html(option);
        });
    }

    /**
     * 获取立案时限分类
     */
    function getTimeTypeList() {
        let eventTerm = $("#eventTerm").val();
        let url = "/event/findDeptTimeLimitByCondition/?conditionId=" + eventTerm;
        $.ajaxUtil.get(url, function (e) {
            $("#timeType").empty();
            let option = "<option value=''>--请选择--</option>";
            if (e.code === 0) {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.level + "</option>"
                });
            }
            $("#timeType").html(option);
        });
    }
</script>
<th:block th:include="page/fragments/common :: mapinit_js"/>
</body>
</html>
