<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>热线上报</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: fileUpload_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>
    <th:block th:include="page/fragments/common :: swiper_css" />
    <link th:href="@{/css/ealuations.css}" rel="stylesheet" type="text/css">
</head>

<body>
<div class="warp" style="position: relative">
    <div class="fullScreen_index"><i class="fa fa-arrows-alt" aria-hidden="true"></i></div>
    <div class="leftwarp">
        <div class="inner">
            <div class="group">
                <div class="grouptitle">考核周期</div>
                <div class="inputs">
                    <div class="dateIn">
                        <input size="16" class="form_datetime" type="text" value="" readonly>
                    </div>
                    <div class="dateIn">
                        <input size="16" class="form_datetime" type="text" value="" readonly>
                    </div>
                </div>
            </div>
            <div class="group">
                <div class="grouptitle">区域</div>
                <div class="inputs">
                    <div class="dateIn">
                        <select class="girdselect">
                            <option selected>区域1</option>
                            <option>区域二</option>
                            <option>区域三</option>
                        </select>
                    </div>
                    <div class="dateIn">
                        <div class="search">查询</div>
                    </div>
                </div>
            </div>
            <div class="tablegroup">
                <table id="bootstrap-table" class="table_style" style="margin: 0 auto"></table>
            </div>
        </div>
    </div>
    <div class="rightwarp">
        <div class="tables">
            <div class="title">处置数排行榜</div>
            <div class="tablesInner">
                <div class="rellTable">
                    <table id="bootstrap-table-did" class="table_style" style="margin: 0 auto"></table>
                </div>
            </div>
        </div>
        <div class="tables">
            <div class="title">处置率排行榜</div>
            <div class="tablesInner">
                <div class="rellTable">
                    <table id="bootstrap-table2" class="table_style" style="margin: 0 auto"></table>
                </div>
            </div>
        </div>
        <div class="tables">
            <div class="title">按期处置率排行榜</div>
            <div class="tablesInner">
                <div class="rellTable">
                    <table id="bootstrap-table3" class="table_style" style="margin: 0 auto"></table>
                </div>
            </div>
        </div>
        <div class="tables">
            <div class="title">返工率排行榜</div>
            <div class="tablesInner">
                <div class="rellTable">
                    <table id="bootstrap-table4" class="table_style" style="margin: 0 auto"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


</div>
<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: jquery_validation_js"/>
<th:block th:include="page/fragments/common :: fileUpload_js"/>
<th:block th:include="page/fragments/common :: map_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>
<th:block th:include="page/fragments/common :: swiper_js"/>
<script th:src="@{/js/index.js}"></script>
<script type="text/javascript" th:inline="javascript">

    $(function () {
        $('.form_datetime').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: "yyyy-mm-dd hh:ii:ss"
        });

        queryUserList()
    })

    function queryUserList() {
        var options = {
            // num: num,
            showRefresh: false,
            showColumns: false,
            showToggle: false,
            // // url: searchUrl,
            // createUrl: addUrl,
            // updateUrl: editUrl,
            // removeUrl: removeUrl,
            uniqueId: "id",
            sortName: "updateTime",
            sortOrder: "desc",
            modalName: "用户",
            onClickRow: function (row, index) {
                layerMap.getSource().clear()
                checkRow(row.id);
            },
            columns: [
                // {
                //     field: 'index',
                //     title: '序号',
                //     formatter: function (value, row, index) {
                //         var page = $('#bootstrap-table').bootstrapTable("getPage");
                //         return page.pageSize * (page.pageNumber - 1) + index + 1;
                //     }
                // },
                {
                    title: '部门名称',
                    field: 'typeName'
                },
                {
                    title: '处置数',
                    field: 'eventCode'
                },
                {
                    title: '应处置数',
                    field: 'codeEvented'
                },
                {
                    title: '超期处置数',
                    field: 'overTime'
                },
                {
                    title: '返工数',
                    field: 'reWork'
                },
            ]
        };
        $.table.init(options);
    }

    $('#bootstrap-table-did').bootstrapTable({
        columns: [
            {
                field: 'index',
                title: '排名',
                formatter: medal
            },
            {
                title: '考核部门',
                field: "typename"
            },
            {
                field: 'gridOnwer',
                title: '处置数',
            },
            {
                field: 'patrolReport',
                title: '趋势',
                formatter: trend
            },
        ],
        data: [
            {
                index:"1",
                typename:"道里区执法",
                gridOnwer:"0",
                patrolReport:'1'
            },
            {
                index:"2",
                typename:"南岗区执法",
                gridOnwer:"0",
                patrolReport:'2'
            },
            {
                index:"3",
                typename:"香坊区执法",
                gridOnwer:"0",
                patrolReport:'1'
            },
            {
                index:"4",
                typename:"道外区执法",
                gridOnwer:"0",
                patrolReport:'2'
            },
            {
                index:"5",
                typename:"平方区执法",
                gridOnwer:"0",
                patrolReport:'2'
            }
        ]
    });

    $('#bootstrap-table2').bootstrapTable({
        columns: [
            {
                field: 'index',
                title: '排名',
                formatter: medal
            },
            {
                title: '考核部门',
                field: "typename"
            },
            {
                field: 'gridOnwer',
                title: '处置率',
            },
            {
                field: 'patrolReport',
                title: '趋势',
                formatter: trend
            },
        ],
        data: [
            {
                index:"1",
                typename:"道里区执法",
                gridOnwer:"0.00%",
                patrolReport:'1'
            },
            {
                index:"2",
                typename:"南岗区执法",
                gridOnwer:"0.00%",
                patrolReport:'2'
            },
            {
                index:"3",
                typename:"香坊区执法",
                gridOnwer:"0.00%",
                patrolReport:'1'
            },
            {
                index:"4",
                typename:"道外区执法",
                gridOnwer:"0.00%",
                patrolReport:'2'
            },
            {
                index:"5",
                typename:"平方区执法",
                gridOnwer:"0",
                patrolReport:'2'
            }
        ]
    });

    $('#bootstrap-table3').bootstrapTable({
        columns: [
            {
                field: 'index',
                title: '排名',
                formatter: medal
            },
            {
                title: '考核部门',
                field: "typename"
            },
            {
                field: 'gridOnwer',
                title: '按期处置率',
            },
            {
                field: 'patrolReport',
                title: '趋势',
                formatter: trend
            },
        ],
        data: [
            {
                index:"1",
                typename:"道里区执法",
                gridOnwer:"0",
                patrolReport:'1'
            },
            {
                index:"2",
                typename:"南岗区执法",
                gridOnwer:"0",
                patrolReport:'2'
            },
            {
                index:"3",
                typename:"香坊区执法",
                gridOnwer:"0",
                patrolReport:'1'
            },
            {
                index:"4",
                typename:"道外区执法",
                gridOnwer:"0",
                patrolReport:'2'
            },
            {
                index:"5",
                typename:"平方区执法",
                gridOnwer:"0",
                patrolReport:'2'
            }
        ]
    });

    $('#bootstrap-table4').bootstrapTable({
        columns: [
            {
                field: 'index',
                title: '排名',
                formatter: medal
            },
            {
                title: '考核部门',
                field: "typename"
            },
            {
                field: 'gridOnwer',
                title: '返工率',
            },
            {
                field: 'patrolReport',
                title: '趋势',
                formatter: trend
            },
        ],
        data: [
            {
                index:"1",
                typename:"道里区执法",
                gridOnwer:"0",
                patrolReport:'1'
            },
            {
                index:"2",
                typename:"南岗区执法",
                gridOnwer:"0",
                patrolReport:'2'
            },
            {
                index:"3",
                typename:"香坊区执法",
                gridOnwer:"0",
                patrolReport:'1'
            },
            {
                index:"4",
                typename:"道外区执法",
                gridOnwer:"0",
                patrolReport:'2'
            },
            {
                index:"5",
                typename:"平方区执法",
                gridOnwer:"0",
                patrolReport:'2'
            }
        ]
    });

    //金牌 银牌 铜牌
    function medal(index){
        if (index == 1){
            var demo = "<div style='width: 25px;height: 25px;border-radius: 50%;overflow: hidden;margin: 0 auto' class='timeSet'>" +
                "<img src='../img/goldcard.png' style='width: 100%;height: 100%'></div>";
        }else if(index == 2) {
            var demo ="<div style='width: 25px;height: 25px;border-radius: 50%;overflow: hidden;margin: 0 auto' class='timeSet'>" +
                "<img src='../img/ycard.png' style='width: 100%;height: 100%'></div>";
        }else if(index == 3) {
            var demo= "<div style='width: 25px;height: 25px;border-radius: 50%;overflow: hidden;margin: 0 auto' class='timeSet'>" +
                "<img src='../img/tcard.png' style='width: 100%;height: 100%'></div>";
        }else {
            var demo = index
        }
        return demo;
    }

    //趋势 上下
    function trend(patrolReport) {
        if (patrolReport == 1){
            var line = "<div style='width: 15px;height: 15px;border-radius: 50%;overflow: hidden;margin: 0 auto' class='timeSet'>" +
                "<img src='../img/riseup.png' style='width: 100%;height: 100%'></div>";
        }else{
            var line ="<div style='width: 15px;height: 15px;border-radius: 50%;overflow: hidden;margin: 0 auto' class='timeSet'>" +
                "<img src='../img/godown.png' style='width: 100%;height: 100%'></div>";
        }
        return line;
    }
</script>
</body>
</html>
