<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>热线上报</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: fileUpload_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>
    <th:block th:include="page/fragments/common :: swiper_css" />
    <link th:href="@{/css/gridOwner.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="warp">
    <div class="humenversion">
        <div class="directivity"></div>
        <div class="myOption">
            <div class="myleft">
                <div class="myhead"></div>
                <div class="mayname" onclick="window.parent.$.learuntab.myAddTab('轨迹回放', '/commandSubsystem/trajectory', 'data_id')">轨迹回放</div>
            </div>
            <div class="myright">
                <span>
                    <div class="chuangmy">姓名:</div>
                    <i class="whoMy" id="am">南岗区第一</i>
                </span>
                <span>
                    <div class="chuangmy">工卡:</div>
                    <i class="whoMy">KDA18231231239991231266162399129312399912766182399129873129</i>
                </span>
                <span>
                    <div class="chuangmy">联系电话:</div>
                    <i class="whoMy">南岗区第一</i>
                </span>
                <span>
                    <div class="chuangmy">出生日期:</div>
                    <i class="whoMy">南岗区第一</i>
                </span>
                <span>
                    <div class="chuangmy">登录时间:</div>
                    <i class="whoMy">南岗区第一</i>
                </span>
                <span>
                    <div class="chuangmy">位置更新:</div>
                    <i class="whoMy">南岗区第一</i>
                </span>
            </div>
        </div>
    </div>

    <div class="map" id="map" style="width: 100%;height: 100%"></div>

    <div class="jober">
        <div class="search">
            <input type="text" name="" placeholder="搜索" class="serchinput">
            <i class="i_search"></i>
        </div>
        <div class="inner">
            <div class="joberTitle">
                <span class="titleActive">全部</span>
                <span>监督员</span>
                <span>处理人员</span>
            </div>
            <div class="jobBox">
                <div class="joberNameBox jobActive">
                    <div class="fenlei">
                        <span>南岗区</span>
                        <i></i>
                    </div>
                    <ul class="peopleMation">
                        <li>
                            <div class="header">
                                <img th:src="@{/img/1.jpg}" alt="">
                            </div>
                            <span class="name">张三</span>
                        </li>
                        <li>
                            <div class="header">
                                <img th:src="@{/img/2.jpg}" alt="">
                            </div>
                            <span class="name">李四</span>
                        </li>
                        <li>
                            <div class="header">
                                <img th:src="@{/img/3.jpg}" alt="">
                            </div>
                            <span class="name">王无</span>
                        </li>
                        <li>
                            <div class="header">
                                <img th:src="@{/img/2.jpg}" alt="">
                            </div>
                            <span class="name">刘能</span>
                        </li>
                    </ul>

                    <div class="fenlei">
                        <span>道里区</span>
                        <i></i>
                    </div>
                    <ul class="peopleMation">
                        <li>
                            <div class="header">
                                <img th:src="@{/img/01.png}" alt="">
                            </div>
                            <span class="name">张三</span>
                        </li>
                        <li>
                            <div class="header">
                                <img th:src="@{/img/01.png}" alt="">
                            </div>
                            <span class="name">张三</span>
                        </li>
                        <li>
                            <div class="header">
                                <img th:src="@{/img/01.png}" alt="">
                            </div>
                            <span class="name">张三</span>
                        </li>
                    </ul>
                </div>
<!--                监督员-->
                <div class="joberNameBox">
                    <div class="fenlei">
                        <span>道外区</span>
                        <i></i>
                    </div>
                    <ul class="peopleMation">
                        <li>
                            <div class="header">
                                <img th:src="@{/img/1.jpg}" alt="">
                            </div>
                            <span class="name">道外区北方大道472号南通北往第四井盖</span>
                        </li>
                        <li>
                            <div class="header">
                                <img th:src="@{/img/2.jpg}" alt="">
                            </div>
                            <span class="name">马云</span>
                        </li>
                        <li>
                            <div class="header">
                                <img th:src="@{/img/3.jpg}" alt="">
                            </div>
                            <span class="name">马化腾</span>
                        </li>
                        <li>
                            <div class="header">
                                <img th:src="@{/img/2.jpg}" alt="">
                            </div>
                            <span class="name">刘能</span>
                        </li>
                    </ul>

                    <div class="fenlei">
                        <span>道里区</span>
                        <i></i>
                    </div>
                    <ul class="peopleMation">
                        <li>
                            <div class="header">
                                <img th:src="@{/img/01.png}" alt="">
                            </div>
                            <span class="name">张三</span>
                        </li>
                        <li>
                            <div class="header">
                                <img th:src="@{/img/01.png}" alt="">
                            </div>
                            <span class="name">张三</span>
                        </li>
                        <li>
                            <div class="header">
                                <img th:src="@{/img/01.png}" alt="">
                            </div>
                            <span class="name">张三</span>
                        </li>
                    </ul>
                </div>
<!--               处理人员 -->
                <div class="joberNameBox">
                    <div class="fenlei">
                        <span>香坊区</span>
                        <i></i>
                    </div>
                    <ul class="peopleMation">
                        <li>
                            <div class="header">
                                <img th:src="@{/img/1.jpg}" alt="">
                            </div>
                            <span class="name">张三</span>
                        </li>
                        <li>
                            <div class="header">
                                <img th:src="@{/img/2.jpg}" alt="">
                            </div>
                            <span class="name">李四</span>
                        </li>
                        <li>
                            <div class="header">
                                <img th:src="@{/img/3.jpg}" alt="">
                            </div>
                            <span class="name">王无</span>
                        </li>
                        <li>
                            <div class="header">
                                <img th:src="@{/img/2.jpg}" alt="">
                            </div>
                            <span class="name">刘能</span>
                        </li>
                    </ul>

                    <div class="fenlei">
                        <span>道里区</span>
                        <i></i>
                    </div>
                    <ul class="peopleMation">
                        <li>
                            <div class="header">
                                <img th:src="@{/img/01.png}" alt="">
                            </div>
                            <span class="name">张三</span>
                        </li>
                        <li>
                            <div class="header">
                                <img th:src="@{/img/01.png}" alt="">
                            </div>
                            <span class="name">张三</span>
                        </li>
                        <li>
                            <div class="header">
                                <img th:src="@{/img/01.png}" alt="">
                            </div>
                            <span class="name">张三</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="peopleNum">
        <div class="logo">
            <div class="logoIn"><img th:src="@{/img/peopleGroup.png}" alt=""></div>
        </div>
        <div class="peopleName">在岗监督员:</div>
        <div class="onlineNum">20人</div>
    </div>

    <div class="checkBox">
        <div class="mapLayers">
            <div class="clickLayer">
                <img th:src="@{/img/1.jpg}" alt="">
            </div>
            <span class="clickName">热力图</span>
        </div>
    </div>

    <div class="viewGroup">
        <div class="mapView">
            <div class="optionLayers">
                <div class="layerGrounp" id="map1">
                    <div class="layerInfo">
                        <img th:src="@{/img/1.jpg}" alt="">
                    </div>
                    <span class="layerName">热力图</span>
                </div>
            </div>

            <div class="optionLayers">
                <div class="layerGrounp" id="map2">
                    <div class="layerInfo">
                        <img th:src="@{/img/2.jpg}" alt="">
                    </div>
                    <span class="layerName">人群图</span>
                </div>
            </div>


            <div class="optionLayers">
                <div class="layerGrounp" id="map3">
                    <div class="layerInfo">
                        <img th:src="@{/img/3.jpg}" alt="">
                    </div>
                    <span class="layerName">街道图</span>
                </div>
            </div>


        </div>
    </div>

<!--    <div class="warpmap">-->

<!--    </div>-->
</div>
</body>


</div>
<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: jquery_validation_js"/>
<th:block th:include="page/fragments/common :: fileUpload_js"/>
<th:block th:include="page/fragments/common :: map_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>
<th:block th:include="page/fragments/common :: swiper_js"/>
<script type="text/javascript" th:inline="javascript">
    $(function () {

        $(".peopleMation").fadeOut(0.1)

        $(".fenlei").click(function() {
            $(this).addClass("fenleiActive").siblings(".fenlei").removeClass("fenleiActive");
            $(".peopleMation").eq($(this).index(".fenlei")).stop().slideToggle(300).siblings(".peopleMation").slideUp(300)
        });

        $(".peopleMation li").click(function() {
            $(".humenversion").css("right", "0")
            $(".directivity").css("display", "block")
            $(".myhead").html($(this).children(".header").html())
            $("#am").html($(this).children(".name").html())
        });

        $(".directivity").click(function() {
            $(".humenversion").css("right", "-30%")
            $(".directivity").css("display", "none")
        });

        $(".humenversion").on("mouseover", ".whoMy", function() {
            var problemTitle = $(this).html()
            $(".whoMy").attr("title", problemTitle);
        })

        $(".checkBox").click(function() {
            $(this).fadeOut(300);
            $(".viewGroup").fadeIn(300);
        });

        $(".layerGrounp").click(function() {
            $(".clickLayer").html($(this).children(".layerInfo").html())
            $(".clickName").html($(this).children(".layerName").html())
            $(".viewGroup").fadeOut(300);
            $(".checkBox").fadeIn(300);
        });

        $(".joberTitle span").click(function() {
            $(this).addClass("titleActive").siblings(".joberTitle span").removeClass("titleActive");
            $(".joberNameBox").eq($(this).index(".joberTitle span")).addClass("jobActive").siblings(".joberNameBox").removeClass("jobActive");
        })

        $(".serchinput").mouseover(function() {
            $(".i_search").css("display", "none")
        })

        $(".serchinput").mouseout(function() {
            $(".i_search").css("display", "block")
        })


        $("#map1").click(function() {
            let getGridUrl = /*[[@{/event/getGridUrl}]]*/ "/event/getGridUrl";
            $.ajaxUtil.get(getGridUrl, function (e) {
                var urlParam = e.data.split("?");
                var url = urlParam[0];
                var param = urlParam[1];
                var ImageVector = new ol.layer.Tile({
                    source: new ol.source.TileWMS({
                        url: url,
                        params: {
                            'VERSION': '1.1.1',
                            tiled: true,
                            "LAYERS": param,
                            "exceptions": ''
                        }
                    })
                });
                map.addLayer(ImageVector);
            })
        })

        $("#map2").click(function() {})

        $("#map3").click(function() {})

        var center = ol.proj.transform([115.62, 41.74], "EPSG:4326", "EPSG:3857");
        // 沽源地图
        var center = [115.68192, 41.66462];
        var projection = new ol.proj.Projection({
            code: 'EPSG:4326',
            units: 'degrees',
            axisOrientation: 'neu',
            global: true
        });
        var untiled = new ol.layer.Image({
            source: new ol.source.ImageWMS({
                ratio: 1,
                url: 'http://192.168.24.203:7880/geoserver/guyuan20201010/wms',
                params: {
                    'VERSION': '1.1.1',
                    "LAYERS": 'guyuan20201010:guyuan',
                    "exceptions": 'application/vnd.ogc.se_inimage',
                }
            })
        });
        var source = new ol.source.Vector({wrapX: false});

        var map = new ol.Map({
            target: 'map',
            layers: [
                untiled
            ],
            view: new ol.View({
                // projection: projection,
                center: center,
                zoom: 17,
                projection: projection
            })
        });

        var layerMap = new ol.layer.Vector({
            source: new ol.source.Vector(),
        });
        map.addLayer(layerMap);

    })
</script>
</body>
</html>
