<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>网格人员</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: fileUpload_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>
    <th:block th:include="page/fragments/common :: swiper_css" />
    <link th:href="@{/css/gridOwner.css}" rel="stylesheet" type="text/css">
    <th:block th:include="page/fragments/common :: ztree_css"/>
</head>
<body>
<div class="warp" style="background-color:#17335B;">
    <div class="fullScreen_index"><i class="fa fa-arrows-alt" aria-hidden="true"></i></div>
    <div class="humenversion">
        <div class="directivity"></div>
        <div class="myOption">
            <div class="myleft">
                <div class="myhead"></div>
                <div class="mayname" onclick="lookGui()">轨迹回放</div>
                <input type="hidden" id="guiJiId">
            </div>
            <div class="myright">
                <span>
                    <div class="chuangmy">姓名:</div>
                    <i class="whoMy" id="am">南岗区第一</i>
                </span>
                <span>
                    <div class="chuangmy">工卡:</div>
                    <i class="whoMy">KDA18231231239991231266162399129312399912766182399129873129</i>
                </span>
                <span>
                    <div class="chuangmy">联系电话:</div>
                    <i class="whoMy">南岗区第一</i>
                </span>
                <span>
                    <div class="chuangmy">出生日期:</div>
                    <i class="whoMy">南岗区第一</i>
                </span>
                <span>
                    <div class="chuangmy">登录时间:</div>
                    <i class="whoMy">南岗区第一</i>
                </span>
                <span>
                    <div class="chuangmy">位置更新:</div>
                    <i class="whoMy" id="halfCheck">南岗区第一</i>
                </span>
            </div>
        </div>
    </div>

    <div class="mengBan"></div>
    <div id="container" style="width: 100%;height: 100%;"></div>
    <div class="map" id="map" style="width: 100%;height: 100%"></div>

    <div class="jober">
        <div class="search">
            <input type="text" name="" placeholder="搜索" class="serchinput">
            <i class="i_search"></i>
        </div>
        <div class="inner">
            <div class="joberTitle">
                <span class="titleActive">全部</span>
                <span>监督员</span>
                <span>处理人员</span>
            </div>
            <div class="jobBox">
                <div class="joberNameBox jobActive">
                    <div class="tree">
                        <div class="treeDemo">
                            <ul id="treeDemo" class="ztree"></ul>
                        </div>
                    </div>

                </div>
<!--                监督员-->
                <div class="joberNameBox">
                    <div class="fenlei">
                        <span>道外区</span>
                        <i></i>
                    </div>
                    <div class="silodMenu">
                        <ul class="peopleMation">
                            <li>
                                <div class="header">
                                    <img th:src="@{/img/1.jpg}" alt="">
                                </div>
                                <span class="name">道外区北方大道472号南通北往第四井盖</span>
                            </li>
                            <li>
                                <div class="header">
                                    <img th:src="@{/img/2.jpg}" alt="">
                                </div>
                                <span class="name">马云</span>
                            </li>
                            <li>
                                <div class="header">
                                    <img th:src="@{/img/3.jpg}" alt="">
                                </div>
                                <span class="name">马化腾</span>
                            </li>
                            <li>
                                <div class="header">
                                    <img th:src="@{/img/2.jpg}" alt="">
                                </div>
                                <span class="name">刘能</span>
                            </li>
                        </ul>
                    </div>


                    <div class="fenlei">
                        <span>道里区</span>
                        <i></i>
                    </div>
                    <div class="silodMenu">
                        <ul class="peopleMation">
                            <li>
                                <div class="header">
                                    <img th:src="@{/img/0.png}" alt="">
                                </div>
                                <span class="name">张三</span>
                            </li>
                            <li>
                                <div class="header">
                                    <img th:src="@{/img/1.png}" alt="">
                                </div>
                                <span class="name">张三</span>
                            </li>
                            <li>
                                <div class="header">
                                    <img th:src="@{/img/2.png}" alt="">
                                </div>
                                <span class="name">张三</span>
                            </li>
                        </ul>
                    </div>

                </div>
<!--               处理人员 -->
                <div class="joberNameBox">
                    <div class="fenlei">
                        <span>香坊区</span>
                        <i></i>
                    </div>
                    <div class="silodMenu">
                        <ul class="peopleMation">
                            <li>
                                <div class="header">
                                    <img th:src="@{/img/1.jpg}" alt="">
                                </div>
                                <span class="name">张三</span>
                            </li>
                            <li>
                                <div class="header">
                                    <img th:src="@{/img/2.jpg}" alt="">
                                </div>
                                <span class="name">李四</span>
                            </li>
                            <li>
                                <div class="header">
                                    <img th:src="@{/img/3.jpg}" alt="">
                                </div>
                                <span class="name">王无</span>
                            </li>
                            <li>
                                <div class="header">
                                    <img th:src="@{/img/2.jpg}" alt="">
                                </div>
                                <span class="name">刘能</span>
                            </li>
                        </ul>
                    </div>


                    <div class="fenlei">
                        <span>道里区</span>
                        <i></i>
                    </div>
                    <div class="silodMenu">
                        <ul class="peopleMation">
                            <li>
                                <div class="header">
                                    <img th:src="@{/img/1.png}" alt="">
                                </div>
                                <span class="name">张三</span>
                            </li>
                            <li>
                                <div class="header">
                                    <img th:src="@{/img/2.png}" alt="">
                                </div>
                                <span class="name">张三</span>
                            </li>
                            <li>
                                <div class="header">
                                    <img th:src="@{/img/0.png}" alt="">
                                </div>
                                <span class="name">张三</span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="peopleNum">
        <div class="logo">
            <div class="logoIn"><img th:src="@{/img/peopleGroup.png}" alt=""></div>
        </div>
        <div class="peopleName">在岗监督员:</div>
        <div class="onlineNum">20人</div>
    </div>

<!--    <div class="checkBox">-->
<!--        <div class="mapLayers">-->
<!--            <div class="clickLayer">-->
<!--                <img th:src="@{/img/1.jpg}" alt="">-->
<!--            </div>-->
<!--            <span class="clickName">热力图</span>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="viewGroup">-->
<!--        <div class="mapView">-->
<!--            <div class="optionLayers">-->
<!--                <div class="layerGrounp" id="map1">-->
<!--                    <div class="layerInfo">-->
<!--                        <img th:src="@{/img/1.jpg}" alt="">-->
<!--                    </div>-->
<!--                    <span class="layerName">热力图</span>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="optionLayers">-->
<!--                <div class="layerGrounp" id="map2">-->
<!--                    <div class="layerInfo">-->
<!--                        <img th:src="@{/img/2.jpg}" alt="">-->
<!--                    </div>-->
<!--                    <span class="layerName">人群图</span>-->
<!--                </div>-->
<!--            </div>-->


<!--            <div class="optionLayers">-->
<!--                <div class="layerGrounp" id="map3">-->
<!--                    <div class="layerInfo">-->
<!--                        <img th:src="@{/img/3.jpg}" alt="">-->
<!--                    </div>-->
<!--                    <span class="layerName">街道图</span>-->
<!--                </div>-->
<!--            </div>-->


<!--        </div>-->
<!--    </div>-->

<!--    <div class="warpmap">-->

<!--    </div>-->
</div>
</body>


</div>
<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: jquery_validation_js"/>
<th:block th:include="page/fragments/common :: fileUpload_js"/>
<th:block th:include="page/fragments/common :: map_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>
<th:block th:include="page/fragments/common :: swiper_js"/>
<th:block th:include="page/fragments/common :: ztree_js"/>
<script th:src="@{/js/index.js}"></script>
<th:block th:include="page/fragments/common :: bmap_js" />
<script type="text/javascript" th:inline="javascript">


    $(function () {

        let gridAndUserTree = /*[[@{/grid/gridAndUserTree}]]*/ "/grid/gridAndUserTree";

        let setting = {
            callback: {
                onClick: zTreeOnClick
            },
            data: {
                keep: {
                    parent: true,
                    leaf: true
                },
                simpleData: {
                    enable: true,
                    idKey: 'id',
                    pIdKey: 'parentId'
                },
                key: {
                    name: "name"
                }
            }
        };




        function gridAndUser() {
            $.ajaxUtil.get(gridAndUserTree, function (e) {
                $.fn.zTree.init($("#treeDemo"), setting, e.data);
            });
        }

        function zTreeOnClick(event, treeId, treeNode) {
            $(".humenversion").css("right", "0")
            $(".directivity").css("display", "block")
            $(".myhead").html($(this).children(".header").html())
            $("#am").html(treeNode.name);
            $("#halfCheck").html(treeNode.id)
            $("#guiJiId").val(treeNode.id)
        }

        $(".fenlei").click(function() {
            $(this).addClass("fenleiActive").siblings(".fenlei").removeClass("fenleiActive");
            $(".silodMenu").eq($(this).index(".fenlei")).stop().slideToggle(300).siblings(".silodMenu").slideUp(300)
        });


        $(".directivity").click(function() {
            $(".humenversion").css("right", "-30%")
            $(".directivity").css("display", "none")
        });

        $(".humenversion").on("mouseover", ".whoMy", function() {
            var problemTitle = $(this).html()
            $(".whoMy").attr("title", problemTitle);
        })

        $(".checkBox").click(function() {
            $(this).fadeOut(300);
            $(".viewGroup").fadeIn(300);
        });

        $(".layerGrounp").click(function() {
            $(".clickLayer").html($(this).children(".layerInfo").html())
            $(".clickName").html($(this).children(".layerName").html())
            $(".viewGroup").fadeOut(300);
            $(".checkBox").fadeIn(300);
        });

        $(".joberTitle span").click(function() {
            $(this).addClass("titleActive").siblings(".joberTitle span").removeClass("titleActive");
            $(".joberNameBox").eq($(this).index(".joberTitle span")).addClass("jobActive").siblings(".joberNameBox").removeClass("jobActive");
        })

        $(".serchinput").mouseover(function() {
            $(".i_search").css("display", "none")
        })

        $(".serchinput").mouseout(function () {
            $(".i_search").css("display", "block")
        });

        gridAndUser()

    })

    function lookGui() {
        let id = $("#guiJiId").val()
        window.parent.$.learuntab.myAddTab('轨迹回放', '/commandSubsystem/trajectory?id=' + id,  'data_id')
    }
</script>
<th:block th:include="page/fragments/common :: mapinit_js"/>
</body>
</html>
