<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>综合评价</title>
    <th:block th:include="page/fragments/common :: common_css" />
    <th:block th:include="page/fragments/common :: fileUpload_css" />
    <th:block th:include="page/fragments/common :: bootstrap_table_css" />
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css" />
    <th:block th:include="page/fragments/common :: swiper_css" />
    <link th:href="@{/css/ealuations.css}" rel="stylesheet" type="text/css">
</head>

<body>
<div class="warp" style="position: relative">
    <div class="fullScreen_index"><i class="fa fa-arrows-alt" aria-hidden="true"></i></div>
    <div class="leftwarp">
        <div class="inner">
            <form id="userForm">
                <div class="group">
                    <div class="grouptitle">考核周期</div>
                    <div class="inputs">
                        <div class="dateIn">
                            <input size="16" class="form_datetime" name="startTime" id="begin" type="text" value="" readonly>
                        </div>
                        <div class="dateIn">
                            <input size="16" class="form_datetime" name="endTime" id="end" type="text" value="" readonly>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="grouptitle">岗位类别</div>
                    <div class="inputs">
                        <div class="dateIn">
                            <select class="girdselect" style="padding: 5px 10px!important;" id="searchPost">
                                <option value="1">监督员</option>
                                <option value="2">受理员</option>
                                <option value="3">值班长</option>
                                <option value="4">派遣员</option>
                            </select>
                        </div>
                        <div class="dateIn"></div>
                    </div>
                </div>
                <div class="group">
                    <div class="grouptitle">区域</div>
                    <div class="inputs">
                        <div class="dateIn">
                            <input type="text" readonly="readonly" id="grid" class="find_input" style="width: 100%;" />
                            <input type="hidden" readonly="readonly" name="gridId" id="gridId" class="find_input" />
                            <button type="button" class="addBtn" onclick="selectGridTree()">
                                +
                            </button>
                        </div>
                        <div class="notice_check">
                            <form id="search-form">
                                <p style="display: flex;justify-content: flex-end">
                                    <input type="button" class="check_btn button_ground closeSearch" onclick="search()" value="查询">
                                    <input type="button" class="check_btn1 button_ground closeSearch" onclick="$.form.reset()" value="重置">
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tablegroup">
                    <table id="bootstrap-table" class="table_style" style="margin: 0 auto"></table>
                </div>
            </form>
        </div>
    </div>
    <div class="rightwarp">
        <div class="tables" id="tablesOne">
            <div class="title">处置数排行榜</div>
            <div class="tablesInner">
                <div class="rellTable">
                    <table id="bootstrap-table-did" class="table_style" style="margin: 0 auto"></table>
                </div>
            </div>
        </div>
        <div class="tables" id="tablesTwo">
            <div class="title">处置率排行榜</div>
            <div class="tablesInner">
                <div class="rellTable">
                    <table id="bootstrap-table2" class="table_style" style="margin: 0 auto"></table>
                </div>
            </div>
        </div>
        <div class="tables" id="tablesThree">
            <div class="title">按期处置率排行榜</div>
            <div class="tablesInner">
                <div class="rellTable">
                    <table id="bootstrap-table3" class="table_style" style="margin: 0 auto"></table>
                </div>
            </div>
        </div>
        <div class="tables" id="tablesFour">
            <div class="title">返工率排行榜</div>
            <div class="tablesInner">
                <div class="rellTable">
                    <table id="bootstrap-table4" class="table_style" style="margin: 0 auto"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">默认窗口</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-success closemodal" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>

</div>
<th:block th:include="page/fragments/common :: common_js" />
<th:block th:include="page/fragments/common :: jquery_validation_js" />
<th:block th:include="page/fragments/common :: fileUpload_js" />
<th:block th:include="page/fragments/common :: map_js" />
<th:block th:include="page/fragments/common :: bootstrap_table_js" />
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js" />
<th:block th:include="page/fragments/common :: swiper_js" />
<th:block th:include="page/fragments/common :: ztree_js" />
<script th:src="@{/js/index.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /**
     * 模态窗 selectGridTree
     */
    function selectGridTree() {
        var url = /*[[@{/tree/grid}]]*/ "/tree/grid";
        var options = {
            title: '选择区域',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        var body = layer.getChildFrame('body', index);
        $("#gridId").val(body.find('#treeId').val());
        $("#grid").val(body.find('#treeName').val());
        layer.close(index);
    }
    $(function() {
        /*
         * 岗位查询
         * */
        $("#searchPost").change(function() {
            let selectedOptionNum = $("#searchPost option:selected").val();
            if (selectedOptionNum == 1) {
                $("#tablesFour").removeClass("roleBox");
                $("#tablesOne .title").html("上报数排行榜");
                $("#tablesTwo .title").html("有效上报率排行榜");
                $("#tablesThree .title").html("按期核实率排行榜");
                $("#tablesFour .title").html("按期核查率排行榜");
                $('#bootstrap-table').bootstrapTable('destroy');
                supervisorEvaluationSearch();
                supervisorEvaluationRankingList();
            } else if (selectedOptionNum == 2) {
                $("#tablesOne .title").html("受理数排行榜");
                $("#tablesTwo .title").html("按时派发核实率排行榜");
                $("#tablesThree .title").html("按时派发核查率排行榜");
                $('#bootstrap-table').bootstrapTable('destroy');
                $("#tablesFour").addClass("roleBox");
                operatorEvaluationSearch();
                operatorEvaluationRankingList();
            } else if (selectedOptionNum == 3) {
                $("#tablesFour").removeClass("roleBox");
                $("#tablesOne .title").html("立案数排行榜");
                $("#tablesTwo .title").html("按时立案率排行榜");
                $("#tablesThree .title").html("准确立案率排行榜");
                $("#tablesFour .title").html("按时结案率排行榜");
                $('#bootstrap-table').bootstrapTable('destroy');
                instHumanEvaluationSearch();
                instHumanEvaluationRankingList();
            } else if (selectedOptionNum == 4) {
                $("#tablesFour").addClass("roleBox");
                $("#tablesOne .title").html("派遣数排行榜");
                $("#tablesTwo .title").html("按时派遣率率排行榜");
                $("#tablesThree .title").html("准确派遣率排行榜");
                $('#bootstrap-table').bootstrapTable('destroy');
                dispatcherEvaluationSearch();
                dispatcherEvaluationRankingList();
            }
        })


        $('.form_datetime').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: "yyyy-mm-dd hh:ii:ss"
        });
        supervisorEvaluationSearch()
        supervisorEvaluationRankingList();
    })

    function search() {
        let selectedOptionNum = $("#searchPost option:selected").val();
        if (selectedOptionNum == 1) {
            supervisorEvaluationSearch();
            supervisorEvaluationRankingList();
        } else if (selectedOptionNum == 2) {
            operatorEvaluationSearch();
            operatorEvaluationRankingList();
        } else if (selectedOptionNum == 3) {
            instHumanEvaluationSearch();
            instHumanEvaluationRankingList();
        } else if (selectedOptionNum == 4) {
            dispatcherEvaluationSearch();
            dispatcherEvaluationRankingList();
        }
    }

    /**
     * 岗位评价-监督员排行榜
     *
     * @return
     */
    function supervisorEvaluationRankingList() {
        let startTime = $("#begin").val();
        let endTime = $("#end").val();
        let gridId = $("#gridId").val();
        let url = "/commandSubsystem/supervisorEvaluationRankingList"
        $.ajaxUtil.get(url+"?startTime="+startTime+"&endTime="+endTime+"&gridId="+gridId, function (e) {
            var patrolReportRanking = e.data.patrolReportRanking;
            var reportVaildNumRate = e.data.reportVaildNumRate;
            var inTimeVerifyRate = e.data.inTimeVerifyRate;
            var inTimeCheckRate = e.data.inTimeCheckRate;
            $("#tablesOne").bootstrapTable('load',patrolReportRanking);
            $("#tablesTwo").bootstrapTable('load',reportVaildNumRate);
            $("#tablesThree").bootstrapTable('load',inTimeVerifyRate);
            $("#tablesFour").bootstrapTable('load',inTimeCheckRate);
            $('#bootstrap-table-did').bootstrapTable({
                columns: [
                    {
                        field: 'index',
                        title: '排名',
                        formatter: medal
                    },
                    {
                        title: '考核人员',
                        field: "supervisorName"
                    },
                    {
                        title: '上报数',
                        field: 'patrolReport',
                    },
                    // {
                    //     field: 'patrolReport',
                    //     title: '趋势',
                    //     formatter: trend
                    // },
                ],
                data: patrolReportRanking
            });

            $('#bootstrap-table2').bootstrapTable({
                columns: [
                    {
                        field: 'index',
                        title: '排名',
                        formatter: medal
                    },
                    {
                        title: '考核人员',
                        field: "supervisorName"
                    },
                    {
                        title: '有效上报率',
                        field: 'reportVaildNumRate',
                    },
                    // {
                    //     field: 'patrolReport',
                    //     title: '趋势',
                    //     formatter: trend
                    // },
                ],
                data: reportVaildNumRate
            });

            $('#bootstrap-table3').bootstrapTable({
                columns: [
                    {
                        field: 'index',
                        title: '排名',
                        formatter: medal
                    },
                    {
                        title: '考核人员',
                        field: "supervisorName"
                    },
                    {
                        title: '按期核实率',
                        field: 'inTimeVerifyRate',
                    },
                    // {
                    //     field: 'patrolReport',
                    //     title: '趋势',
                    //     formatter: trend
                    // },
                ],
                data: inTimeVerifyRate
            });

            $('#bootstrap-table4').bootstrapTable({
                columns: [
                    {
                        field: 'index',
                        title: '排名',
                        formatter: medal
                    },
                    {
                        title: '考核人员',
                        field: "supervisorName"
                    },
                    {
                        title: '按期核查率',
                        field: 'inTimeCheckRate',
                    },
                    // {
                    //     field: 'patrolReport',
                    //     title: '趋势',
                    //     formatter: trend
                    // },
                ],
                data: inTimeCheckRate
            });
        });

    }

    function operatorEvaluationRankingList() {
        let startTime = $("#begin").val();
        let endTime = $("#end").val();
        let gridId = $("#gridId").val();
        let url = "/commandSubsystem/operatorEvaluationRankingList"
        $.ajaxUtil.get(url + "?startTime=" + startTime + "&endTime=" + endTime + "&gridId=" + gridId, function(e) {
            var operateRanking = e.data.operateRanking;
            var needSendVerifyRate = e.data.needSendVerifyRate;
            var needSendCheckRate = e.data.needSendCheckRate;

            $('#bootstrap-table-did').bootstrapTable('destroy');
            $("#bootstrap-table2").bootstrapTable('destroy');
            $("#bootstrap-table3").bootstrapTable('destroy');
            $("#bootstrap-table4").bootstrapTable('destroy');

            $("#bootstrap-table-did").bootstrapTable('load', operateRanking);
            $("#bootstrap-table2").bootstrapTable('load', needSendVerifyRate);
            $("#bootstrap-table3").bootstrapTable('load', needSendCheckRate);
            $('#bootstrap-table-did').bootstrapTable({
                columns: [{
                    field: 'index',
                    title: '排名',
                    formatter: medal
                }, {
                    title: '考核人员',
                    field: "operateHumanName"
                }, {
                    title: '受理数',
                    field: 'operate',
                },
                    // {
                    //     field: 'patrolReport',
                    //     title: '趋势',
                    //     formatter: trend
                    // },
                ],
                data: operateRanking
            });

            $('#bootstrap-table2').bootstrapTable({
                columns: [{
                    field: 'index',
                    title: '排名',
                    formatter: medal
                }, {
                    title: '考核人员',
                    field: "operateHumanName"
                }, {
                    title: '按时派发核实率',
                    field: 'sendVerifyRate',
                },
                    // {
                    //     field: 'patrolReport',
                    //     title: '趋势',
                    //     formatter: trend
                    // },
                ],
                data: needSendVerifyRate
            });

            $('#bootstrap-table3').bootstrapTable({
                columns: [{
                    field: 'index',
                    title: '排名',
                    formatter: medal
                }, {
                    title: '考核人员',
                    field: "operateHumanName"
                }, {
                    title: '按时派发核查率',
                    field: 'needSendCheckRate',
                },
                    // {
                    //     field: 'patrolReport',
                    //     title: '趋势',
                    //     formatter: trend
                    // },
                ],
                data: needSendCheckRate
            });
        });

    }

    function instHumanEvaluationRankingList() {
        let startTime = $("#begin").val();
        let endTime = $("#end").val();
        let gridId = $("#gridId").val();
        let url = "/commandSubsystem/instHumanEvaluationRankingList"
        $.ajaxUtil.get(url + "?startTime=" + startTime + "&endTime=" + endTime + "&gridId=" + gridId, function(e) {
            var instRanking = e.data.instRanking;
            var inTimeInstRate = e.data.inTimeInstRate;
            var exactInstRate = e.data.exactInstRate;
            var inTimeCloseRate = e.data.inTimeCloseRate;
            $('#bootstrap-table-did').bootstrapTable('destroy');
            $("#bootstrap-table2").bootstrapTable('destroy');
            $("#bootstrap-table3").bootstrapTable('destroy');
            $("#bootstrap-table4").bootstrapTable('destroy');

            $("#bootstrap-table-did").bootstrapTable('load', instRanking);
            $("#bootstrap-table2").bootstrapTable('load', inTimeInstRate);
            $("#bootstrap-table3").bootstrapTable('load', exactInstRate);
            $("#bootstrap-table4").bootstrapTable('load', inTimeCloseRate);
            $('#bootstrap-table-did').bootstrapTable({
                columns: [{
                    field: 'index',
                    title: '排名',
                    formatter: medal
                }, {
                    title: '考核人员',
                    field: "instHumanName"
                }, {
                    title: '立案数',
                    field: 'inst',
                },
                    // {
                    //     field: 'patrolReport',
                    //     title: '趋势',
                    //     formatter: trend
                    // },
                ],
                data: instRanking
            });

            $('#bootstrap-table2').bootstrapTable({
                columns: [{
                    field: 'index',
                    title: '排名',
                    formatter: medal
                }, {
                    title: '考核人员',
                    field: "instHumanName"
                }, {
                    title: '按时立案率',
                    field: 'intimeInstRate',
                },
                    // {
                    //     field: 'patrolReport',
                    //     title: '趋势',
                    //     formatter: trend
                    // },
                ],
                data: inTimeInstRate
            });

            $('#bootstrap-table3').bootstrapTable({
                columns: [{
                    field: 'index',
                    title: '排名',
                    formatter: medal
                }, {
                    title: '考核人员',
                    field: "instHumanName"
                }, {
                    title: '准确立案率',
                    field: 'exactInstRate',
                },
                    // {
                    //     field: 'patrolReport',
                    //     title: '趋势',
                    //     formatter: trend
                    // },
                ],
                data: exactInstRate
            });

            $('#bootstrap-table4').bootstrapTable({
                columns: [{
                    field: 'index',
                    title: '排名',
                    formatter: medal
                }, {
                    title: '考核人员',
                    field: "instHumanName"
                }, {
                    title: '按时结案率',
                    field: 'inTimeCloseRate',
                },
                    // {
                    //     field: 'patrolReport',
                    //     title: '趋势',
                    //     formatter: trend
                    // },
                ],
                data: inTimeCloseRate
            });
        });

    }

    function dispatcherEvaluationRankingList() {
        let startTime = $("#begin").val();
        let endTime = $("#end").val();
        let gridId = $("#gridId").val();
        let url = "/commandSubsystem/dispatcherEvaluationRankingList"
        $.ajaxUtil.get(url + "?startTime=" + startTime + "&endTime=" + endTime + "&gridId=" + gridId, function(e) {
            var dispatchRanking = e.data.dispatchRanking;
            var intimeDispatchRate = e.data.intimeDispatchRate;
            var accuracyDispatchRate = e.data.accuracyDispatchRate;
            $('#bootstrap-table-did').bootstrapTable('destroy');
            $("#bootstrap-table2").bootstrapTable('destroy');
            $("#bootstrap-table3").bootstrapTable('destroy');
            $("#bootstrap-table4").bootstrapTable('destroy');

            $("#bootstrap-table-did").bootstrapTable('load', dispatchRanking);
            $("#bootstrap-table2").bootstrapTable('load', intimeDispatchRate);
            $("#bootstrap-table3").bootstrapTable('load', accuracyDispatchRate);
            $('#bootstrap-table-did').bootstrapTable({
                columns: [{
                    field: 'index',
                    title: '排名',
                    formatter: medal
                }, {
                    title: '考核人员',
                    field: "dispatch"
                }, {
                    title: '派遣数',
                    field: 'toDispatch',
                },
                    // {
                    //     field: 'patrolReport',
                    //     title: '趋势',
                    //     formatter: trend
                    // },
                ],
                data: dispatchRanking
            });

            $('#bootstrap-table2').bootstrapTable({
                columns: [{
                    field: 'index',
                    title: '排名',
                    formatter: medal
                }, {
                    title: '考核人员',
                    field: "dispatch"
                }, {
                    title: '按时派遣率',
                    field: 'intimeDispatchRate',
                },
                    // {
                    //     field: 'patrolReport',
                    //     title: '趋势',
                    //     formatter: trend
                    // },
                ],
                data: intimeDispatchRate
            });

            $('#bootstrap-table3').bootstrapTable({
                columns: [{
                    field: 'index',
                    title: '排名',
                    formatter: medal
                }, {
                    title: '考核人员',
                    field: "dispatch"
                }, {
                    title: '准确派遣率',
                    field: 'accuracyDispatchRate',
                },
                    // {
                    //     field: 'patrolReport',
                    //     title: '趋势',
                    //     formatter: trend
                    // },
                ],
                data: accuracyDispatchRate
            });
        });
    }

    function supervisorEvaluationSearch() {
        let searchUrlIn = /*[[@{/commandSubsystem/supervisorEvaluationSearch}]]*/ "/commandSubsystem/supervisorEvaluationSearch";
        $("#bootstrap-table").bootstrapTable("refresh");
        let startTime = $("#begin").val();
        let endTime = $("#end").val();
        let gridId = $("#gridId").val();
        $.ajaxUtil.get(searchUrlIn+"?startTime="+startTime+"&endTime="+endTime+"&gridId="+gridId, function (e) {
            $("#bootstrap-table").bootstrapTable({
                columns: [
                    {
                        title: '人员',
                        field: 'supervisorName',
                    },
                    {
                        title: '上报数',
                        field: 'patrolReport',
                    },
                    {
                        title: '有效上报数',
                        field: 'validPatrolReport'
                    },
                    {
                        title: '按时核查数',
                        field: 'inTimeCheck',
                    },
                    {
                        title: '按时核实数',
                        field: 'intimeVerify',
                    },
                ],
                data: e.data.content
            });
        });
        var options = {
            url: searchUrlIn,
            uniqueId: "id",
            sortName: "updateTime",
            sortOrder: "desc",
            modalName: "用户",
            columns: [
                {
                    title: '人员',
                    field: 'supervisorName',
                },
                {
                    title: '上报数',
                    field: 'patrolReport',
                },
                {
                    title: '有效上报数',
                    field: 'validPatrolReport'
                },
                {
                    title: '按时核查数',
                    field: 'inTimeCheck',
                },
                {
                    title: '按时核实数',
                    field: 'intimeVerify',
                },
            ]
        };
        $.table.init(options);


    }

    function operatorEvaluationSearch() {
        let searchUrlIn = /*[[@{/commandSubsystem/operatorEvaluationSearch}]]*/ "/commandSubsystem/operatorEvaluationSearch";
        $("#bootstrap-table").bootstrapTable("refresh");
        let startTime = $("#begin").val();
        let endTime = $("#end").val();
        let gridId = $("#gridId").val();
        $.ajaxUtil.get(searchUrlIn+"?startTime="+startTime+"&endTime="+endTime+"&gridId="+gridId, function (e) {
            $("#bootstrap-table").bootstrapTable({
                columns: [
                    {
                        title: '人员',
                        field: 'operateHumanName',
                        sortable: true
                    },
                    {
                        title: '受理数',
                        field: 'operate',
                    },
                    {
                        title: '按时核实派发数',
                        field: 'intimeSendVerify'
                    },
                    {
                        title: '核实应派发数',
                        field: 'needSendVerify',
                    },
                    {
                        title: '按时核查派发数',
                        field: 'intimeSendCheck',
                    },
                    {
                        title: '核查应派发数',
                        field: 'needSendCheck'
                    },
                ],
                data: e.data.content
            });
        });

        var options = {
            url: searchUrlIn,
            uniqueId: "id",
            sortName: "updateTime",
            sortOrder: "desc",
            modalName: "用户",
            columns: [
                {
                    title: '人员',
                    field: 'operateHumanName',
                    sortable: true
                },
                {
                    title: '受理数',
                    field: 'operate',
                },
                {
                    title: '按时核实派发数',
                    field: 'intimeSendVerify'
                },
                {
                    title: '核实应派发数',
                    field: 'needSendVerify',
                },
                {
                    title: '按时核查派发数',
                    field: 'intimeSendCheck',
                },
                {
                    title: '核查应派发数',
                    field: 'needSendCheck'
                },
            ]
        };
        $.table.init(options);
    }

    function instHumanEvaluationSearch() {
        let searchUrlIn = /*[[@{/commandSubsystem/instHumanEvaluationSearch}]]*/ "/commandSubsystem/instHumanEvaluationSearch";
        $("#bootstrap-table").bootstrapTable("refresh");
        let startTime = $("#begin").val();
        let endTime = $("#end").val();
        let gridId = $("#gridId").val();
        $.ajaxUtil.get(searchUrlIn+"?startTime="+startTime+"&endTime="+endTime+"&gridId="+gridId, function (e) {
            $("#bootstrap-table").bootstrapTable({
                columns: [
                    {
                        title: '人员',
                        field: 'instHumanName',
                    },
                    {
                        title: '立案数',
                        field: 'inst',
                    },
                    {
                        title: '按时立案数',
                        field: 'intimeInst'
                    },
                    {
                        title: '准确立案数',
                        field: 'exactInst',
                    },
                    {
                        title: '按时结案数',
                        field: 'inTimeClose',
                    },
                    {
                        title: '应结案数',
                        field: 'close'
                    },
                ],
                data: e.data.content
            });
        });
        var options = {
            url: searchUrlIn,
            uniqueId: "id",
            sortName: "updateTime",
            sortOrder: "desc",
            modalName: "用户",
            columns: [
                {
                    title: '人员',
                    field: 'instHumanName',
                },
                {
                    title: '立案数',
                    field: 'inst',
                },
                {
                    title: '按时立案数',
                    field: 'intimeInst'
                },
                {
                    title: '准确立案数',
                    field: 'exactInst',
                },
                {
                    title: '按时结案数',
                    field: 'inTimeClose',
                },
                {
                    title: '应结案数',
                    field: 'close'
                },
            ]
        };
        $.table.init(options);
    }

    function dispatcherEvaluationSearch() {
        let searchUrlIn = /*[[@{/commandSubsystem/dispatcherEvaluationSearch}]]*/ "/commandSubsystem/dispatcherEvaluationSearch";
        $("#bootstrap-table").bootstrapTable("refresh");
        let startTime = $("#begin").val();
        let endTime = $("#end").val();
        let gridId = $("#gridId").val();
        $.ajaxUtil.get(searchUrlIn+"?startTime="+startTime+"&endTime="+endTime+"&gridId="+gridId, function (e) {
            $("#bootstrap-table").bootstrapTable({
                columns: [
                    {
                        title: '人员',
                        field: 'dispatch',
                    },
                    {
                        title: '派遣数',
                        field: 'toDispatch',
                    },
                    {
                        title: '按时派遣数',
                        field: 'intimeDispatch'
                    },
                    {
                        title: '应派遣数',
                        field: 'needDispatch',
                    },
                    {
                        title: '准确派遣数',
                        field: 'accuracyDispatch'
                    },
                ],
                data: e.data.content
            });
        });
        var options = {
            url: searchUrlIn,
            uniqueId: "id",
            sortName: "updateTime",
            sortOrder: "desc",
            modalName: "用户",
            columns: [
                {
                    title: '人员',
                    field: 'dispatch',
                },
                {
                    title: '派遣数',
                    field: 'toDispatch',
                },
                {
                    title: '按时派遣数',
                    field: 'intimeDispatch'
                },
                {
                    title: '应派遣数',
                    field: 'needDispatch',
                },
                {
                    title: '准确派遣数',
                    field: 'accuracyDispatch'
                },
            ]
        };
        $.table.init(options);
    }

    //金牌 银牌 铜牌
    function medal(index) {
        if (index == 1) {
            var demo = "<div style='width: 25px;height: 25px;border-radius: 50%;overflow: hidden;margin: 0 auto' class='timeSet'>" +
                "<img src='../img/goldcard.png' style='width: 100%;height: 100%'></div>";
        } else if (index == 2) {
            var demo = "<div style='width: 25px;height: 25px;border-radius: 50%;overflow: hidden;margin: 0 auto' class='timeSet'>" +
                "<img src='../img/ycard.png' style='width: 100%;height: 100%'></div>";
        } else if (index == 3) {
            var demo = "<div style='width: 25px;height: 25px;border-radius: 50%;overflow: hidden;margin: 0 auto' class='timeSet'>" +
                "<img src='../img/tcard.png' style='width: 100%;height: 100%'></div>";
        } else {
            var demo = index
        }
        return demo;
    }

    //趋势 上下
    function trend(patrolReport) {
        if (patrolReport == 1) {
            var line = "<div style='width: 15px;height: 15px;border-radius: 50%;overflow: hidden;margin: 0 auto' class='timeSet'>" +
                "<img src='../img/riseup.png' style='width: 100%;height: 100%'></div>";
        } else {
            var line = "<div style='width: 15px;height: 15px;border-radius: 50%;overflow: hidden;margin: 0 auto' class='timeSet'>" +
                "<img src='../img/godown.png' style='width: 100%;height: 100%'></div>";
        }
        return line;
    }
</script>
</body>

</html>