<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>热线上报</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: fileUpload_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>
    <th:block th:include="page/fragments/common :: ztree_css"/>
    <link th:href="@{/css/tail.css}" rel="stylesheet" type="text/css">
</head>

<body style="border-radius: 8px;">
<div class="col-md-12" style="height: 100%">
    <div class="content">
        <div class="leftBox">
            <h5>监督员</h5>
            <div class="onmer_box" id="userList">

            </div>
            <div class="notice_bot">
                <div class="r_right but_p girdBtnGroup" id="eventButton">
                    <button class="but_save" type="button" id="saveGridOwner" onclick="saveGridOwner()">
                        保存
                    </button>
                </div>
            </div>
        </div>
        <div class="rightBox" style="position: relative">
            <div class="map_masion">
                <p>
                    <span class="span1">所属区域</span><span class="span2" id="region">南岗区</span>
                    <span class="span1">所属街道</span><span class="span2" id="street">南岗街道</span>
                </p>
                <p>
                    <span class="span1">所属社区</span><span class="span2" id="community">南岗社区</span>
                    <span class="span1">所属网格</span><span class="span2" id="remark">南岗网格</span>
                </p>
            </div>
            <div class="map" id="map"></div>
        </div>
    </div>
</div>
<div id="pictureDiv" style="display: none">

</div>

<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: jquery_validation_js"/>
<th:block th:include="page/fragments/common :: fileUpload_js"/>
<th:block th:include="page/fragments/common :: map_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>
<th:block th:include="page/fragments/common :: ztree_js"/>
<script type="text/javascript" th:inline="javascript">

    $(function () {
        $(".ol-full-screen-false").html("全屏")

        getSupervisorUserList();
        getGridData();
    });

    let gridId = [[${gridId}]];

    let url = /*[[@{/event/register}]]*/ "/event/register";
    let uploadUrl = /*[[@{/common/uploads}]]*/ "/json/unit.json";
    let findEventConditionByEventTypeUrl = /*[[@{/event/findEventConditionByEventType}]]*/ "/event/findEventConditionByEventType";
    let getGridByCheckLayerUrl = /*[[@{/event/getGridByCheckLayer}]]*/ "/event/getGridByCheckLayer";
    let getGridDataUrl = /*[[@{/gridOwner/getGridData}]]*/ "/gridOwner/getGridData";
    let getSupervisorUserListUrl = /*[[@{/gridOwner/getSupervisorUserList}]]*/ "/gridOwner/getSupervisorUserList";
    let saveUrl = /*[[@{/gridOwner/save}]]*/ "/gridOwner/save";

    //回调函数接收查询结果
    let geoJsonFormat = new ol.format.GeoJSON({defaultDataProjection: "EPSG:4326"});
    let container = document.getElementById('popup');
    let content = document.getElementById('popup-content');
    let closer = document.getElementById('popup-closer');
    let center = [115.68192, 41.66462];
    let overlay = new ol.Overlay({
        element: container,
        autoPan: true,
        autoPanAnimation: {
            duration: 250
        }
    });
    let projection = new ol.proj.Projection({
        code: 'EPSG:4326',
        units: 'degrees',
        axisOrientation: 'neu',
        global: true
    });
    let untiled = new ol.layer.Image({
        source: new ol.source.ImageWMS({
            ratio: 1,
            url: 'http://192.168.24.203:7880/geoserver/guyuan20201010/wms',
            params: {
                'VERSION': '1.1.1',
                "LAYERS": 'guyuan20201010:guyuan',
                "exceptions": 'application/vnd.ogc.se_inimage',
            }
        })
    });
    let source = new ol.source.Vector({wrapX: false});
    let fullScreenControl = new ol.control.FullScreen();
    let layerMap = new ol.layer.Vector({
        source: new ol.source.Vector(),
    });
    let map = new ol.Map({
        target: 'map',
        overlays: [overlay],
        layers: [
            untiled
        ],
        view: new ol.View({
            center: center,
            zoom: 17,
            projection: projection
        })
    });

    map.addOverlay(overlay);
    map.addControl(fullScreenControl)
    map.addLayer(layerMap);
    map.on('singleclick', function (evt) {
        layerMap.getSource().clear()
    });

    function getSupervisorUserList() {
        $.ajaxUtil.get(getSupervisorUserListUrl + "?gridId=" + gridId, function (e) {
            let data = e.data;
            let html = "";
            $("#userList").empty();
            if (data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    html += "<p>"
                    if (data[i].sts === 1) {
                        html += "<input name='owner' type='checkbox' checked id='" + data[i].id + "' onclick='getUserList()'>"
                    } else {
                        html += "<input name='owner' type='checkbox' id='" + data[i].id + "' onclick='getUserList()'>"
                    }
                    html += "<span>" + data[i].name + "</span>"
                    html += "</p>"
                }
            } else {
                html += "<p>"
                html += "<span>暂无人员</span>"
                html += "</p>"
            }
            $("#userList").html(html);
            getUserList();
        });
    }

    var userList = [];

    function getUserList() {
        userList = [];
        $.each($('input[name*="owner"]:checked'), function (k, v) {
            userList.push(v.id);
        });
        if (userList.length > 0) {
            $("#saveGridOwner").removeAttr("disabled", "disabled");
        } else {
            $("#saveGridOwner").attr("disabled", "disabled");
        }
    }

    function getGridData() {
        $.ajaxUtil.get(getGridDataUrl + "?gridId=" + gridId, function (e) {
            let data = e.data;
            $("#community").text(data.community);
            $("#region").text(data.region);
            $("#remark").text(data.remark);
            $("#street").text(data.street);
        });
    }

    function setPolygon(coordinates) {
        let Polygon = new ol.Feature({
            geometry: new ol.geom.Polygon(coordinates),
            data: {
                coordinate: coordinates
            }
        });
        layerMap.getSource().addFeature(Polygon);
    }

    function saveGridOwner() {
        // let data = $('#userForm').serialize();
        $.operate.saveAndReload(saveUrl, {gridId: gridId, userList: userList});
    }

</script>
</body>
</html>
