.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.leftContent{
    width: 65%;
}
.rightContent{
    width: 33%;
}
.leftContent,rightContent{
    height: 100%;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 6px 0px rgba(228, 228, 228, 0.5);
}
.r_right{
    display: flex!important;
    justify-content: flex-end!important;
}
.r_right button{
    margin: 0 10px;
}
.tabTitle{
    width: 100%;
    height: 10%;
    display: flex;
}
.tabTitle span{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.active{
    background-color: skyblue;
    color: white;
}
.tabInfo{
    width: 100%;
    height: 90%;
    position: relative;
}
.banner{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.but_p{
    display: flex;
    justify-content: start;
}
/*.details input{*/
/*    border: none!important;*/
/*}*/