.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.table tr td:nth-child(2n+1){
    width: 20% !important;
}
.titlenav{
    height: 30px;
    position: absolute;
    top: 11px;
    left: 30px;
    display: flex;
    align-items: center;
    z-index: 99;
}
.topFun{
    width: 65px;
    height: 40px;
    padding: 2px;
    margin: 0px 10px;
    border-radius: 4px;
    border: none!important;
    padding:5px 10px;
}

.leftBox,.rightBox{width: 49%;padding:5px;border: 1px solid #F2F3F5;box-shadow: 1px 1px 6px 0px rgba(228, 228, 228, 0.5);border-radius: 5px;}
.leftContent{
    width: 49%;
}
.rightContent{
    width: 49%;
    border-radius: 10px;
    overflow: hidden;
}
.leftContent,rightContent{
    height: 100%;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 6px 0px rgba(228, 228, 228, 0.5);
}