.card{
    margin-top: 10px;
}
.title_card{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
.form-control{
    width: 80%;
}