* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: #031636;
}

.warp {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;
}

.warpmap {
	position: absolute;
	top: 0;left: 0;
	width: 100%;
	height: 100%;
	background: url("../img/randermap.png");
	background-size: 100% 100%;
}

.checkBox {
	width: 10%;
	height: 14%;
	position: absolute;
	bottom: 5%;
	right: 3%;
	border-radius: 10px;
	z-index: 2;
	overflow: hidden;
	/* display: none; */
}

.mapLayers {
	width: 100%;
	height: 100%;
}

.viewGroup {
	width: 32%;
	height: 14%;
	position: absolute;
	bottom: 5%;
	right: 3%;
	border-radius: 10px;
	z-index: 1;
	display: none;
}

.mapView {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.mapView div:nth-child(2) {
	margin: 0 10px;
}

.optionLayers {
	flex: 1;
	border-radius: 10px;
}

.layerGrounp {
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
}

.layerName,
.clickName {
	width: 100%;
	height: 10%;
	position: absolute;
	bottom: 18%;
	right: 0px;
	display: flex;
	justify-content: flex-end;
	font-size: 12px;
	color: #fff;
	padding-right: 5%;
}

.layerInfo,
.clickLayer {
	width: 100%;
	height: 100%;
}

.clickLayer img,
.layerInfo img {
	width: 100%;
	height: 100%;
}

.peopleNum {
	width: 353px;
	height: 73px;
	background: #3349CA;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 5%;
	left: 50%;
	margin-left: -172px;
	z-index: 9;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logoIn {
	width: 70%;
	height: 70%;
}

.logo img {
	width: 100%;
	height: 100%;
}

.peopleName {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 49%;
	height: 100%;
	font-size: 28px;
	font-family: Microsoft YaHei;
	font-weight: bold;
	color: #FFFFFF;
}

.onlineNum {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
	height: 100%;
	font-size: 28px;
	font-family: Microsoft YaHei;
	font-weight: bold;
	color: #FFFFFF;
}

.jober {
	width: 15%;
	height: 55%;
	position: absolute;
	top: 5%;
	left: 3%;z-index: 9;
	background: #182843;
	border: 1px solid #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.search {
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.serchinput {
	width: 90%;
	height: 70%;
	background: #FFFFFF;
	opacity: 0.4;
	text-align: center;
}

.i_search {
	width: 10px;
	height: 10px;
	position: absolute;
	top: 50%;
	margin-top: -5px;
	left: 38%;
	background: url("../img/search.png");
	background-size: 100% 100%;
}

.inner {
	width: 100%;
	height: 89%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.joberTitle {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #024B83;
}

.joberTitle span {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	color: #00C0FF;
}

.jobBox {
	width: 100%;
	height: 89%;
	position: relative;
}

.joberNameBox {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.jobActive {
	display: block;
}

.titleActive {
	color: #FEFEFF!important;
}
.joberNameBox {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.jobActive {
	display: block;
}

.titleActive {
	color: #FEFEFF!important;
}

.fenlei {
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	color: #00C0FF;
}

.fenlei span {
	padding-left: 20px;
}

.fenlei i {
	margin-right: 10px;
	width: 20px;
	height: 20px;
	background: url("../img/selectballdown.png");
	background-size: 100% 100%;
}
.silodMenu{
	display: none;
	width: 100%;
	background-color: #024B83;
}
.peopleMation {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #024B83;
	padding: 5px 0;
}

.fenleiActive {
	background-color: #031636;
	color: #fff;
}

.peopleMation li {
	height: 80px;
	width: 24.5%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding: 2px 0;
}

.header {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}

.header img {
	width: 100%;
	height: 100%;
}

.name {
	width: 100%;
	height: 19px;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 19px;
	color: #fff;
	text-align: center;
}

.humenversion {
	width: 30%;
	height: 40%;
	position: fixed;
	top: 0;
	right: -30%;
	background-color: #fff;
	transition: all 1s;
	z-index: 999;
	border-radius: 5px;
	box-shadow: 1px 4px 10px 2px #ccc;
}

.directivity {
	width: 15px;
	height: 100px;
	background-color: #024B83;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: -15px;
	display: none;
}

.myOption {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.myleft {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.myright {
	width: 59%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.myhead {
	width: 80%;
	height: 60%;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 10%;
}

.myhead img {
	width: 100%;
	height: 100%;
}

.mayname {
	width: 70%;
	height: 20%;
	margin-bottom: 10%;
	background-color: #00C0FF;
	border-radius: 5px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 800;
}

.myright span {
	width: 100%;
	height: 16%;
	display: flex;
	align-items: center;
	justify-content: start;
}

.chuangmy {
	width: 30%;
	height: 100%;
	padding-top: 20px;
	text-align: justify;
	font-size: 14px;
	font-weight: 400;
	color: #00C0FF;
}

.whoMy {
	width: 68%;
	height: 100%;
	font-size: 12px;
	padding-top: 20px;
	/* display: flex; */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}