* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: url('../img/pgone.png');
    background-size: 100%;
    overflow: hidden;
    /* position: relative; */
}

.surround-box,
.center-point {
    position: absolute;
    top: 50%;
    left: 12.5%;
    width: 275px;
    height: 275px;
    margin-left: 33px;
    margin-top: -108.5px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(1, 94, 234, 0.68), rgba(0, 192, 250, 0.68));
    /* background-size: 100% 100%; */
}

.post {
    width: 360px;
    height: 100%;
    position: relative;
    float: left;
}

.get {
    width: 835px;
    height: 400px;
    float: right;
    margin-top: 82px;
    /* margin-right: 50px; */
    color: blue;
    position: relative;
    text-align: center;

}
.intoBtn{
    width: 135px;
    height: 53px;
    background: url('../img/bborder.png');
    background-size: 100%;
    position: absolute;
    bottom: 15px;
    right: 170px;
    text-align: center;
    line-height: 53px;
    cursor:pointer;
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #FFFFFF;
    display: none;
}
.robot{
    width: 77px;
    height: 85px;
    position: absolute;
    left: -40px;
    bottom: 0;
    background: url('../img/robot.png');
    background-size: 100% 100%;
}

.info {
    position: relative;
    width: 672px;
    height: 278px;
    font-family: BDZongYi-A001;
    font-weight: normal;
    color: #BFDCFF;
    margin-top: 70px;
    text-align: center;
font-size: 21px;
}

.test {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
/*.test1{*/
/*    line-height: 99px;*/
/*}*/
.textsInbig{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;justify-content: center;
    text-align: left;
}

.active {
    width: 285px!important;
    height: 160px!important;
    font-size: 22px;
    font-weight: 500;
    background-image: url('../img/back.png')!important;
}

.testActive {
    display: block!important;
}

.otherActive {
    display: block!important;
}

.solid {
    position: absolute;
    top: 0;
    left: 5%;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 1400px;
    height: 560px;
    /* margin: 0 auto; */
    background: url("../img/solidbig.png") no-repeat;
    background-size: 100% 100%;
}

.circle {
    /* 这里一定要绝对定位，这样位置才能铺开来 */
    position: absolute;
    top: 68px;
    left: 9px;
    width: 275px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    color: #fff;
    background-size: 100% 100%;
    background-image: url('../img/back.png');
    transition: all 0.3s;
    cursor:pointer;
    font-size: 18px;
}

.circle1 {
    /* rotateZ控制方向，每个元素旋转30度，12个元素刚好360度。translateY控制每个元素距中心点的距离 */
    transform: rotateZ(196deg) translateY(272px);
    z-index: 9;
}

.circle2 {
    transform: rotateZ(157deg) translateY(278px) translateX(10px);
    z-index: 8;
}

.circle3 {
    transform: rotateZ(111deg) translateY(277px) translateX(-16px);
    z-index: 7;
}

.circle4 {
    transform: rotateZ(71deg) translateY(271px) translateX(-5px);
    z-index: 6;
}

.circle5 {
    z-index: 5;
    transform: rotateZ(31deg) translateY(273px) translateX(5px);
}

.circle6 {
    transform: rotateZ(-12deg) translateY(277px) translateX(-3px);
    z-index: 4;
}

.active.circle1 {
    transform: rotateZ(199deg) translateY(284px) translateX(14px);
    z-index: 9;
}

.active.circle2 {
    transform: rotateZ(154deg) translateY(295px) translateX(2px);
    z-index: 9;
}

.active.circle3 {
    transform: rotateZ(112deg) translateY(298px) translateX(-18px);
    z-index: 9;
}

.active.circle4 {
    transform: rotateZ(70deg) translateY(277px) translateX(-21px);
    z-index: 9;
}

.active.circle5 {
    transform: rotateZ(30deg) translateY(275px) translateX(-10px);
    z-index: 9;
}

.active.circle6 {
    transform: rotateZ(-12deg) translateY(271px) translateX(-1px);
    z-index: 9;
}

.top {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 15px;
    left: 0;
}

.title {
    width: 240px;
    height: 100%;
    margin-left: 24px;
    float: left;
}

img {
    width: 100%;
    height: 100%;
}

.logo {
    width: 38px;
    height: 38px;
    float: left;
    margin-right: 20px;
}

.name {
    height: 18px;
    font-size: 18px;
    font-family: Microsoft YaHei;
    line-height: 40px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.6;
}

.users {
    width: 120px;
    height: 100%;
    float: right;
    margin-right: 100px;
}

.head {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    overflow: hidden;
}

.username_nn {
    font-size: 13px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.6;
    line-height: 40px;
}

.quit {
    width: 27px;
    height: 28px;
    border: 1px solid #FFFFFF;
    opacity: 0.6;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    right: 30px;
    top: 6px;
    cursor:pointer;
}
.noFlat{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;left: 0;
    z-index: 99;
    border-radius: 50%;
    display: none;

}
.lion{
    width: 100%;height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lionIn{
    width: 33px;
    height: 39px;
}
.footer {
    width: 380px;
    height: 12px;
    font-size: 10px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 17px;
    opacity: 0.6;
    text-align: center;
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin-left: -190px;
}

.inner,
.other {
    width: 100%;
    height: 50%;
}

.other {
    font-size: 8px;
    position: absolute;
    top: 20px;
    display: none;
}

.inner1,
.inner2,
.inner3 {
    transform: rotate(180deg);
    line-height: 0px;
}

.other1,
.other2,
.other3 {
    transform: rotate(180deg);
    line-height: 0px;
}

.work {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    display: none;
}
.workActive{
    display: block;
}
.computer {
    width: 100px;
    height: 100px;
    margin: 70px auto 20px auto;
}

.worktable {
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: white;
}

.otherActive.other1,
.otherActive.other2,
.otherActive.other3{
    top: -14px;
}
.active .inner1,
.active .inner2,
.active .inner3{
    margin-top: 10px;
}
.intoBtn a{
    text-decoration: none!important;
    color: white!important;
}
.login_frame{
    width: 100%;height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-image: url("../img/bg.png");
    background-size: 100% 100%;
}


/*登录*/
.inpBox{
    position: relative;
}
.icon{
    width: 18px;
    height: 18px;
    position: absolute;
    background-size: 100% 100%;
    top: 50%;
    margin-top: -9px;
    left: 15px;
}
.icon1{
    background-image: url("../img/user.png");
}
.icon2{
    background-image: url("../img/pass.png");
}
.icon3{
    background-image: url("../img/code.png");
}
.login {
    max-height: 330px;
    max-width: 380px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    /* overflow-x: hidden; */
    background-image: url("../img/solid.png");
    background-size: 100% 100%;
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    margin: auto;
}

a.logo {
    display: block;
    height: 58px;
    width: 167px;
    margin: 0 auto 30px auto;
    background-size: 167px 42px;
}

.message {
    margin-top: -30px;
    text-align: center;
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #AED4FF;
    line-height: 24px;
}

#darkbannerwrap {
    width: 18px;
    height: 10px;
    margin: 0px;
    position: relative;
}
.username,.password,.input-val{
    padding-left: 45px!important;
    /*color: white!important;*/
}

.username,.password,.input-val,.login_btn{

    background: #FFFFFF!important;
    border: none;
    opacity: 0.3;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    position: relative;
    font-size: 16px;
    font-weight: 800;
}
.login_btn{
    background: linear-gradient(0deg, #5A82D2, #2A4B90, #122244)!important;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    opacity: 1;
    cursor:pointer;
}
.forget{
    width: 100%;
    display: block;
    text-align: center;
    color: white;
    font-size: 12px;
}
hr.hr15 {
    height: 15px;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

hr.hr20 {
    height: 13px;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    color: #2e619a;
}

.copyright {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.85);
    display: block;
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    text-shadow: 5px 5px 5px #000;
}

.input-val {
    width: 55% !important;
}

.canvas {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    width: 40%;
    height: 50px;
    border-radius: 5px;
    float: right;
    cursor:pointer;
}
.ortion{
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
}
.leftChange,.rightChage{
    width: 90px;
    color: white;
}
.leftChange{
    float: left;
}
.rightChage{
    text-align: right;
    float: right;
}
.checkbox{
    margin: 2px;
    display: block;
    float: left;
}
.check{
    margin-left: 20px;
}