/*详情页面*/
::-webkit-scrollbar-track{border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);}/*滚动条的滑轨背景颜色*/
::-webkit-scrollbar-thumb{background-color: rgba(0,0,0,0.05);border-radius: 10px;-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);}/*滑块颜色*/
::-webkit-scrollbar-thumb{background-color: rgba(0,0,0,0.2);border-radius: 10px;-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);}
::-webkit-scrollbar{width: 16px;height: 16px;}/* 滑块整体设置*/
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb{border-radius: 999px;border: 5px solid transparent;}
::-webkit-scrollbar-track{box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;}
::-webkit-scrollbar-thumb{min-height: 20px;background-clip: content-box;box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;}
::-webkit-scrollbar-corner{background: transparent;}/* 横向滚动条和纵向滚动条相交处尖角的颜色 */
*,h1,label,td,tr{padding: 0 ;margin: 0 }
.l_left{float: left}
td{border: none !important;}
.table tr td:nth-child(2n+1){font-size: 12px;width:84px;line-height: 28px;}
.top_out{margin: 20px 0 20px 0}
.top td{padding: 0 0 8px 0 !important;}
.top td span{color: red;margin:3px 1px 0 2px;display: inline-block ;vertical-align: middle;line-height: 28px;width: 6px;text-align: center;}
.top select,.top input[type=text],.top input[type=password]{color: #999;text-align: left;width: 247px;height:28px;border-radius: 4px;font-size: 12px;border: 1px #ccc solid}
.top td textarea{width: 100%;height: 70px;resize: none;border-radius: 4px;border: 1px #ccc solid;padding: 0 5px}

.notice_bot>div{font-size: 12px;margin-left: 10px;color: #07141e;line-height: 28px}
.notice_bot{margin: 10px}
.notice_bot>div input{margin:0 2px 0 0;vertical-align: middle}
.div_form>div{margin: 5px}
.but_p{margin-right: 10px}
.but_p button{width: 58px;height: 28px;line-height: 28px;border: none;background-color: #5cb85c;color: #fff;border-radius: 4px;cursor: pointer}
.but_p .but_close{background-color: #d9534f;margin-left: 10px}
.top .td_select{width: 78px;margin-right: 2px}

/*log页面*/
.form_label{width: 100%;line-height: 28px;display: block;text-align: left;font-size: 12px;  }
.form_input{border-radius: 5px;font-size: 12px;height: 28px; width: 100%;border: 1px solid #CCCCCC;  }



.top td span{color: red;margin:3px 1px 0 2px;display: inline-block ;vertical-align: middle;line-height: 28px;width: 6px;text-align: center;}
.top .frist_input{width: 791px !important;}
.top select,.top input[type=text],.top input[type=password]{color: #999;text-align: left;width: 342px;height:28px;border-radius: 4px;font-size: 12px;border: 1px #ccc solid}

.top .td_select{width: 78px;margin-right: 2px}
.form_area{width: 791px}

::-webkit-input-placeholder,:-ms-input-placeholder  {color:#999;}
.table tr td:nth-child(2n+1){font-size: 12px;width:84px;line-height: 40px;color: black}
.top td span{color: red;margin:3px 1px 0 2px;display: inline-block ;vertical-align: middle;line-height: 28px;width: 6px;text-align: center;}
.top .frist_input{width: 791px !important;}
.top select,.top input[type=text],.top input[type=password]{text-align: left;width: 342px;height:28px;border-radius: 4px;font-size: 12px;border: 1px #ccc solid}
.top .td_select{width: 78px;margin-right: 2px}
.form_area{width: 791px}


/**{padding: 0;margin: 0}*/
.notice_bot{position: relative!important;bottom: 0;background-color: white!important;padding: 5px 0 5px 0;z-index:-1;border:none!important;width: 100%;}
.notice_bot>div{font-size: 12px;margin-left: 10px;color: #07141e;line-height: 28px}
.notice_bot>div input{margin-right: 2px;vertical-align: middle}
.div_form{margin:4% auto 0 auto;width: 90% }
.div_form>div{margin: 5px 0 15px 0}
.but_p{margin-right: 10px}
.but_p button{width: 58px;height: 28px;line-height: 28px;border: none;background-color: #5cb85c;color: #fff;border-radius: 4px;cursor: pointer}
.but_p .but_close{background-color: #d9534f;margin-left: 10px}
.form_label{
    line-height: 26px;
    display: inline-block;
    text-align: right;
    font-size: 12px;
    width: 16%;

}
.form_label span{color: red;margin-left: 4px;display: inline-block;line-height: 26px;vertical-align: middle}
.form_input{
    border-radius: 5px;
    height: 32px;
    width: 80%;
    border: 1px solid #CCCCCC;
    margin-right: 5px;
}
.but_p{text-align: center;}

/*table2_tail*/
.table2_top td span{color: red;margin:3px 1px 0 2px;display: inline-block ;vertical-align: middle;line-height: 28px;width: 6px;text-align: center;}
.table2_top select,.table2_top input[type=text],.table2_top input[type=password],.table2_top input[type=email],#dropdownMenu1{text-align: left;width: 100%;height:28px;border-radius: 4px;font-size: 12px;border: 1px #ccc solid}
tbody tr:hover{background-color: white!important;}
.row1{width: 100vw;height: 100vh}
.row{width: 98vw;display: flex;justify-content: space-between}
.row-h4{padding: 10px 0 0 0 }
.map{width: 100%;height: 100%}
.card{height: 100%;margin-top: 10px}
.leftBox,.rightBox{width: 49%;padding:5px;border: 1px solid #F2F3F5;box-shadow: 1px 1px 6px 0px rgba(228, 228, 228, 0.5);border-radius: 5px;}
td input{padding: 0 5px!important;width: 100%}
.timeBox{width: 100%;padding: 10px 17px;display: inline-block;background: #fff;border: 1px solid #E6E9ED;margin-left: 5px}
.timeTitle{border-bottom: 2px solid #E6E9ED;padding: 1px 5px 4px 0;margin-top: 10px}
.timeAfter:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.timeContent{padding: 0 6px;margin-top: 5px}
ul,li{list-style: none}
.timeLi{position: relative;border-bottom: 1px solid #e8e8e8;clear: both;}
.timeBlok{margin: 0 0 0 105px;border-left: 3px solid #e8e8e8;overflow: visible;padding: 10px 15px;}
.tag{position: absolute;top: 10px;left: 0;width: 84px;}
.tag-a{display: block;height: 30px;font-size: 13px;padding: 8px;background-color: #56a6fe;line-height: 1;color: white}
.tagA:after{content: " ";height: 30px;width: 0;position: absolute;left: 100%;top: 0;margin: 0;pointer-events: none;border-top: 14px solid transparent;border-bottom: 14px solid transparent;border-left: 11px solid #56a6fe;}
.titleInfo{position: relative;margin: 0;font-size: 15px}
.titleInfo:before{content: "";position: absolute;left: -23px;top: 3px;display: block;width: 14px;height: 14px;border: 3px solid #d2d3d2;border-radius: 14px;background: #f9f9f9;}
.byWhat{font-size: 13px;line-height: 1.3;color: #aab6aa;padding: 3px}
.state{margin-bottom: 10px;font-size: 13px;color: #aab6aa}
.stateBtn{float: right;padding: 3px 10px;border-radius: 3px;margin: 0 5px 5px 0;}
/*.tipsMore{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}*/
.active {
    /*background-color: #364E86;*/
    /*color: white;*/
    border-color: #dee2e6  #dee2e6 transparent #dee2e6!important;
}

.titlenav {
    width: 100%;
    height: 10%;
}

.name {
    width: 100px;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dee2e6;
    z-index: 2;
}

.banner {
    width: 100%;
    height: 89%;
    position: relative;
}

/*.tree {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    padding: 5px;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

/*.treeActive {*/
/*    display: block;*/
/*}*/


.titone,
.endone {
    width: 100%;
    height: 50%!important;
    display: flex;
    align-self: center;
}

.gameTitle {
    height: 33%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #364E86;
    padding: 0 5px;
}

.gameEnd {
    display: flex;
    height: 33%;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.endBox {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #364E86;
}

.endright {
    display: flex;
    justify-content: flex-end;
}

.endBox em {
    margin-right: 10px;
}

.enclosure {
    width: 100px;
    height: 20px;
    text-align: center;
    border: 2px solid #9A9A9A;
    border-radius: 10px;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    position: relative;
}
.enclosure:hover{
    background-color: #364E86;
    color: white;
    border-color: white;
}
.enclosure i{
    position: absolute;
    width: 15px;
    height: 15px;
    background: url('../img/enclosure.png');
    background-size: 100%;
    top: 0px;
    left: 9px;
}
.g_con {
    width: 100%;
}

.topExpress {
    height: 155px;
    background: #fff;
    margin: 10px auto;
    display: flex;
    border-radius: 10px;
}

.topExpress-left {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topExpress-right {
    font-size: 26px;
    color: #333;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
}

.topExpress-right-middle {
    font-size: 22px;
}

.topExpress-right-bottom {
    font-size: 20px;
    color: #666;
}

.expressRecord {
    padding-top: 30px;
    background: #fff;
    padding-left: 50px;
    margin: 0 auto;
    border-radius: 10px;
}

.expressRecord-getAddress {
    width: 100%;
    font-size: 22px;
    color: #999;
    display: flex;
}

.expressRecord-top {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.getAddress-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #999;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}

.getAddress-text {
    margin-left: 20px;
}

.noReach-online-top-close {
    width: 1px;
    height: 50px;
    background: #d7d7d7;
    margin-left: 95px;
}

.expressRecord-single-close {
    width: 100%;
    height: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.expressRecord-single-noReach-online-top-close {
    display: flex;
    flex-direction: column;
    width: 18%;
    align-items: center;
}
.boxShown{
    box-shadow: 0 0 0 0 !important;
}
.online-top-closing {
    width: 1px;
    height: 50px;
    background: none;
    margin-left: 95px;
}

.online-top-close {
    width: 1px;
    height: 50px;
    background: #364E86;
    margin-left: 95px;
}

.dot-closing,
.dot-close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 95px;
    margin-top: 3px;
    margin-bottom: 3px;
    background: #E6E6E6;
    border: 4px solid #D9D9D9;
    border-radius: 50%;
    z-index: 2;
    position: relative;
}

.online-bottom {
    width: 1px;
    height: 50px;
    background: #364E86;
    margin-left: 95px;
}

.online-bottom-start {
    width: 1px;
    height: 50px;
    /* background: #999; */
    margin-left: 95px;
}

.expressRecord-text {
    margin-left: 30px;
    width: 65%;
    height: 70%;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px 0px rgba(4, 20, 40, 0.1);
    border-radius: 5px;
    position: relative;
}

.expressRecord-statusing {
    font-size: 26px;
    color: #333;
}

.expressRecord-status-addressing {
    font-size: 22px;
    color: #333;
}

.expressRecord-status {
    font-size: 26px;
    color: #999;
}

.expressRecord-status-address {
    font-size: 22px;
    color: #999;
}

.expressRecord-dating {
    position: absolute;
    height: 100%;
    width: 12%;
    /* top: 0;
    bottom: 0; */
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #333;
}

.expressRecord-date {
    position: absolute;
    height: 100%;
    width: 14%;
    /* top: 0;
    bottom: 0; */
    left: -20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.expressRecord-date-text {
    font-size: 16px;
}

.expressRecord-date-time {
    font-size: 16px;
}

.yes{
    width: 30px;
    height: 30px;
    position: absolute;
    top: -4px;left: -4px;
    background: url('../img/yesg.png');
    background-size: 100%;
    display: none;
}
.send{
    width: 100%;
}
.sendImg{
    display: flex;
    margin: 10px 0;
}
.sendText{
    width: 84px ;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    color: #354e85;
}
.btn-primary{
    background-color: #354e85!important;
}