<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>热线上报</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: fileUpload_css"/>

<!--    <link th:href="@{/css/tail.css}" rel="stylesheet" type="text/css">-->


</head>
<body style="border-radius: 8px;">
    <div class="col-md-12">
        <!-- jquery validation -->
        <!-- /.card-header -->
        <!-- form start -->
        <div class="row">
            <div class="col-4">
                <div class="card" style="margin-top: 10px">
<!--                    <div class="card-header">-->
<!--                        <h3 class="card-title">查询项</h3>-->
<!--                    </div>-->
                    <div class="card-body">
                        <form role="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-12">
                                        <label class="label_title">搜索</label>
                                        <input type="text" placeholder="请输入关键字" id="key" class="form-control label_input">
                                    </div>
                                    <div class="form-group col-12"
                                         style="text-align: right;margin-top: 20px;">
                                        <button type="button" class="btn btn-primary" style="margin-right: 5px"
                                                id="layerTypeButton"
                                                onclick="toAttributeTemplateList()">要素库维护
                                        </button>
                                        <button type="button" class="btn btn-primary" style="margin-right: 5px"
                                                id="toAttributeTemplateListButton"
                                                onclick="toAttributeTemplateList()">维护属性
                                        </button>
                                        <button type="button" class="btn btn-primary"
                                                disabled="disabled"
                                                id="removeLayerSettingButton"
                                                onclick="removeLayerSetting()">删除
                                        </button>
                                        <button type="button" class="btn btn-primary"
                                                style="display: none;"
                                                id="addLayerSettingDivButton"
                                                onclick="addLayerSettingDiv()">新增
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="zTreeDemoBackground left">
                            <ul id="tree" class="ztree"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="col-md-12" id="layerSettingData" style="margin-top: 10px" >
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">基础信息</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" id="quickForm">
                            <input type="hidden" id="upId" name="upId" >
                            <input type="hidden" id="id" name="id" >
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="label_title"><i>*</i>名称</label>
                                    <input type="text" class="form-control label_input" id="name" name="name">
                                </div>
                                <div class="form-group">
                                    <label class="label_title"><i>*</i>编号</label>
                                    <input type="text" class="form-control label_input" id="num" name="num">
                                </div>
                                <div class="form-group">
                                    <label class="label_title"><i>*</i>排序值</label>
                                    <input type="text" class="form-control label_input" id="sort" name="sort">
                                </div>
                                <div class="form-group">
                                    <label class="label_title"><i>*</i>要素符号</label>
                                    <select class="form-control label_input" id="type" name="type">
                                        <option value="" selected="selected">--请选择--</option>
                                        <option value="0e373fb1-4818-46d1-9f26-19cb0252e521">1</option>
                                        <option value="63213929-fc38-4150-a2b5-6ed019536ff1">2</option>
                                        <option value="de3e0438-adb1-4f71-86d4-78a233843aa1">3</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="label_title"><i>*</i>图层类型</label>
                                    <input type="text" class="form-control label_input" id="" name="sort">
                                </div>
                            </div>


                            <div style="text-align: right;padding-bottom: 50px;margin-right: 20px" class="btnGround">

                                <button type="button" class="btn btn-primary" id="backLayerSettingButton"
                                        onclick="goBackLayerSetting()">返回
                                </button>

                                <button type="button" class="btn btn-primary"
                                        id="editLayerSettingButton"
                                        style="display: block;margin-left: 10px"
                                        onclick="editLayerSetting()">修改
                                </button>

                                <button type="submit" class="btn btn-primary" id="addLayerSettingButton"
                                        style="display: none;margin-left: 10px;float: right">保存
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </div>



<div id="pictureDiv" style="display: none">

</div>

<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: jquery_validation_js"/>
<th:block th:include="page/fragments/common :: fileUpload_js"/>
<script type="text/javascript" th:inline="javascript">

    var setting = {
        data: {
            simpleData: {
                enable: true
            }
        }
    };

    var data = [{
        id: 1,
        pId: 0,
        name: "父节点1",
        open:true,//该节点默认打开
    },
        {
            id: 11,
            pId: 1,
            name: "子节点1",

        },
        {
            id: 12,
            pId: 1,
            name: "子节点2"
        }
    ];

    $(document).ready(function() {
        $.fn.zTree.init($("#tree"), setting, data);
    });


</script>
</body>
</html>
