<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>热线上报</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: fileUpload_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>


    <link th:href="@{/css/layertype.css}" rel="stylesheet" type="text/css">


</head>
<body style="border-radius: 8px;">
<div class="content">
    <div class="leftBox">
        <div class="leftInner">
            <div class="form-group">
                <label class="">搜索</label>
                <input type="text" class="find_input" name="username" placeholder="请输入关键字">
            </div>
            <div class="form-group"
                 style="text-align: right;margin-top: 20px;">
                <div class="btn-group-sm " id="toolbar" style="padding: 10px">
                    <a class="btn btn-success" onclick="">
                        <i class="fa fa-desktop"></i> 要素库维护
                    </a>
                    <a class="btn btn-info" onclick="">
                        <i class="fa fa-desktop"></i> 维护属性
                    </a>
                    <a class="btn btn-danger multiple disabled" onclick="">
                        <i class="fa fa-remove"></i> 删除
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="rightBox">
        <div class="rightInner">
            <div class="card-header">
                <h5 class="card-title">基础信息</h5>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" id="quickForm">
                <input type="hidden" id="upId" name="upId" >
                <input type="hidden" id="id" name="id" >
                <div class="card-body">
                    <div class="form-group basics">
                        <label class=""><i>*</i>名称</label>
                        <input type="text" class="find_input" id="name" name="username">
                    </div>
                    <div class="form-group basics">
                        <label class=""><i>*</i>编号</label>
                        <input type="text" class="find_input" id="num" name="num">
                    </div>
                    <div class="form-group basics">
                        <label class=""><i>*</i>排序值</label>
                        <input type="text" class="find_input" id="sort" name="sort">
                    </div>
                    <div class="form-group basics">
                        <label class=""><i>*</i>要素符号</label>
                        <select class="find_input" id="type" name="type">
                            <option value="" selected="selected">--请选择--</option>
                            <option value="0e373fb1-4818-46d1-9f26-19cb0252e521">1</option>
                            <option value="63213929-fc38-4150-a2b5-6ed019536ff1">2</option>
                            <option value="de3e0438-adb1-4f71-86d4-78a233843aa1">3</option>
                        </select>
                    </div>
                    <div class="form-group basics">
                        <label class=""><i>*</i>图层类型</label>
                        <input type="text" class="find_input" id="" name="sort">
                    </div>
                </div>


                <div style="padding-bottom: 20px;margin-right: 20px" class="">
                    <input type="button" class="check_btn1" onclick="" value="返回">
                    <input type="button" class="check_btn1" onclick="" value="修改">
                    <input type="button" class="check_btn1" onclick="" value="保存">
                </div>
            </form>
        </div>

    </div>
</div>



<div id="pictureDiv" style="display: none">

</div>

<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: jquery_validation_js"/>
<th:block th:include="page/fragments/common :: fileUpload_js"/>
<script type="text/javascript" th:inline="javascript">

    var setting = {
        data: {
            simpleData: {
                enable: true
            }
        }
    };

    var data = [{
        id: 1,
        pId: 0,
        name: "父节点1",
        open:true,//该节点默认打开
    },
        {
            id: 11,
            pId: 1,
            name: "子节点1",

        },
        {
            id: 12,
            pId: 1,
            name: "子节点2"
        }
    ];

    $(document).ready(function() {
        $.fn.zTree.init($("#tree"), setting, data);
    });


</script>
</body>
</html>
