<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>部件导入</title>
    <th:block th:include="page/fragments/common :: common_css" />
    <th:block th:include="page/fragments/common :: fileUpload_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css" />
    <th:block th:include="page/fragments/common :: ztree_css"/>
    <link th:href="@{/css/component.css}" rel="stylesheet" type="text/css">
</head>

<body style="background-color: #ecf0f5;font-family: 微软雅黑;color: #475059;min-width: 1150px;overflow: auto">
    <div class="notice_main ">
        <div class="content">
            <div class="leftBox" style="width: 50%!important;">
                <div class="leftInner">
                    <!-- ztree-->
                    <div class="zTreeDemoBackground left">
                        <ul id="treeDemo" class="ztree">zTree</ul>
                    </div>
                    <form id="fileForm">
                        <input type="hidden" name="layerSettingType" value="1" />
                        <input type="hidden" name="eventTypeId" id="eventTypeId" />
                        <div>
                            <label class="modelTitle">部件名称</label>
                            <input type="text" class="find_input" name="layerName">
                        </div>
                        <div>
                            <label class="modelTitle"></label>
                            <input type="file" name="file" multiple="multiple">
                        </div>
                    <div style="padding-bottom: 20px;margin-right: 20px;display: flex;justify-content: flex-end" class="">
                        <button type="button" id="btnAddFile" class="btn btn-primary"
                                onclick="uploadFiles()">导入文件
                        </button>
                    </div>
                    </form>
                </div>
            </div>
            <div class="rightBox" style="width: 50%!important;">

            </div>
        </div>
    </div>
    <th:block th:include="page/fragments/common :: common_js" />
    <th:block th:include="page/fragments/common :: bootstrap_table_js" />
    <th:block th:include="page/fragments/common :: ztree_js"/>
    <script type="text/javascript" th:inline="javascript">
        var setting = {
            callback: {
                onClick: zTreeOnClick
            },
            data: {//数据加载
                keep: {
                    parent: true,
                    leaf: true
                },
                simpleData: {
                    enable: true,
                    idKey: 'id',
                    pIdKey: 'parent'
                },
                key: {
                    name: "name"
                }
            }
        };

        function zTreeOnClick(event, treeId, treeNode) {
            $("#eventTypeId").val(treeNode.id);
        }
        $(function () {
            $.ajaxUtil.get(eventTypeUrl, function (e) {
                var zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, e.data);
            })

        })

        let eventTypeUrl = /*[[@{/eventType}]]*/ "/eventType";
        let upload = /*[[@{/componentImport}]]*/ "/componentImport";
        function uploadFiles() {

            var formData = new FormData($("#fileForm")[0]);
            $.ajax({
                url: upload,
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if(data.code != 0){
                        $.modal.alertWarning("请选择正确文件格式！",function () {
                        });
                    }else {
                        $.modal.alertSuccess('保存成功',function () {
                            window.location.href = /*[[@{/cImport}]]*/ "//cImport";
                        });
                    }
                },
                error: function (data) {
                    $.modal.alertError(data.message,function () {
                    });
                }
            });
        }



    </script>
</body>

</html>