<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <title>计时管理</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: fileUpload_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>

</head>
<body style="background-color: #ecf0f5;font-family: 微软雅黑;color: #475059;min-width: 1150px;overflow: auto">
<div class="notice_main ">
    <h6>计时新增</h6>
    <div style="border-bottom: 1px #ccc solid;padding-bottom: 8px">
        <p style="line-height: 24px;font-size: 14px;padding: 4px 0 0 36px ;color:#bb8940;background-image: url(img/ts_03.png);background-repeat: no-repeat;background-position: 10px 8px;font-weight: bold">
            温馨提示</p>
        <ul class="ts">
            <li><span>*</span>该页面主要显示的是计时新增列表。</li>
        </ul>
    </div>


    <form id="userForm" style="margin-top: 10px">
        <input type="radio" name="id" th:value="${id}" id="timePlanId" checked style="display: none">
        <div class="top table2_top">
            <div class="top_out">
                <!--                <table class="table">-->
                <!--                    <tbody>-->
                <!--                    <tr>-->
                <!--                        <td><span></span>开始时间</td>-->
                <!--                        <td>-->
                <!--                            <input size="16" class="form_datetime"  name="startTime" id="begin" type="text" value="" readonly>-->
                <!--                        </td>-->
                <!--                        <td><span></span>结束时间</td>-->
                <!--                        <td>-->
                <!--                            <input size="16" class="form_datetime"  name="endTime" id="end" type="text" value="" readonly>-->
                <!--                        </td>-->
                <!--                    </tr>-->
                <!--                    </tbody>-->
                <!--                </table>-->
            </div>
        </div>
    </form>
    <div class="notice_check">
        <form id="search-form">
            <p style="display: flex;justify-content: flex-end">
                <input type="button" class="check_btn2 button_ground" data-toggle='modal' data-target='#modal-default' value="新增">
                <!--                <input type="button" class="check_btn1 button_ground" onclick="$.form.reset()" value="保存方案">-->
            </p>
        </form>
    </div>


    <div class="clear"></div>
    <table id="bootstrap-table" class="table_style" style="margin: 0 auto"></table>
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <P style="display: flex;align-items:center;justify-content:center;margin: 5px 0">
                        <span class="sendText" style="width: 20%"><i style="color: red!important;"></i>日期</span>
                        <input size="16" class="find_input form_date" name="startTime" id="begin" type="text" value="" readonly style="width: 80%">
                    </P>
                    <P style="display: flex;align-items:center;justify-content:center">
                        <span class="sendText" style="width: 20%"><i style="color: red!important;"></i>标识</span>
                        <select style="width: 80%" type="text" class="find_input" id="work">
                            <option value="0">工作日</option>
                            <option value="1">非工作日</option>
                        </select>
                    </P>
                    <P style="display: flex;align-items:center;justify-content:center;margin-top: 5px">
                        <span class="sendText" style="width: 20%"><i style="color: red!important;"></i>是否上班</span>
                        <select style="width: 80%" type="text" class="find_input" id="workDay">
                            <option value="1">休息</option>
                            <option value="0">上班</option>
                        </select>
                    </P>
                </div>
                <input type="hidden" id="imageUrlList" value="">
                <div class="modal-footer justify-content-between"
                     style="display: flex;justify-content: flex-end!important;">
                    <button type="button" class="btn btn-primary" onclick="saveTab()" id="underBtn">完成</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal">返回</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal-defaultedi">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <P style="display: flex;align-items:center;justify-content:center;margin: 5px 0">
                        <span class="sendText" style="width: 20%"><i style="color: red!important;"></i>日期</span>
                        <input size="16" class="find_input form_date" name="startTime" id="beginedi" type="text" value="" readonly style="width: 80%">
                    </P>
                    <P style="display: flex;align-items:center;justify-content:center">
                        <span class="sendText" style="width: 20%"><i style="color: red!important;"></i>标识</span>
                        <select style="width: 80%" type="text" class="find_input" id="workedi">
                            <option value="0">工作日</option>
                            <option value="1">非工作日</option>
                        </select>
                    </P>
                    <P style="display: flex;align-items:center;justify-content:center;margin-top: 5px">
                        <span class="sendText" style="width: 20%"><i style="color: red!important;"></i>是否上班</span>
                        <select style="width: 80%" type="text" class="find_input" id="workDayedi">
                            <option value="1">休息</option>
                            <option value="0">上班</option>
                        </select>
                    </P>
                </div>
                <input type="hidden" id="imageUrlListedi" value="">
                <div class="modal-footer justify-content-between"
                     style="display: flex;justify-content: flex-end!important;">
                    <button type="button" class="btn btn-primary" onclick="saveTabEdi()" id="underBtnedi">完成</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal">返回</button>
                </div>
            </div>
        </div>
    </div>
</div>


<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>
<script type="text/javascript" th:inline="javascript">

    $(function () {
        $('.form_date').datetimepicker({
            language: 'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            language: 'zh-CN', //语言
            format: "yyyy-mm-dd"
        });

        search();


    })

    let searchUrl = /*[[@{/time/day/search}]]*/ "/json/unit.json";

    let addUrl = /*[[@{/time/add}]]*/ "/time/add";

    let removeUrl = /*[[@{/time/remove}]]*/ "/time/remove";

    let saveUrl = /*[[@{/time/addday}]]*/ "/time/remove";

    let editUrl = /*[[@{/time/updateday}]]*/ "/time/remove";

    let activationUrl = /*[[@{/time/activation}]]*/ "/time/activation";


    function saveTab() {
        let date = $("#begin").val();
        let orWork = $("#work option:selected").val();
        let orWorkDay = $("#workDay option:selected").val();
        let timePlanId = $("#timePlanId").val();
        let params = {
            calendar: date,
            workDayMark: orWork,
            work: orWorkDay,
            timePlanId: timePlanId
        }
        console.log(params)
        $.operate.saveAndReload(saveUrl, params);
    }


    function search() {
        var options = {
            url: searchUrl,
            createUrl: addUrl,
            removeUrl: removeUrl,
            uniqueId: "id",
            sortName: "id",
            sortOrder: "desc",
            // pageSize: 100,
            // pageList: [10, 25, 50, 100],
            modalName: "计时",
            columns: [
                {
                    field: 'index',
                    title: '序号',
                    class:'index_width',
                    formatter: function (value, row, index) {
                        var page = $('#bootstrap-table').bootstrapTable("getPage");
                        return page.pageSize * (page.pageNumber - 1) + index + 1;
                    }
                },
                {
                    title: '日期',
                    field: 'calendar'
                },
                {
                    title: '标识',
                    field: 'workDayMark',
                    formatter: function (value, row) {
                        if (row.workDayMark === 0) {
                            return '工作日';
                        }
                        if (row.workDayMark === 1) {
                            return '非工作日';
                        }
                    }
                },
                {
                    title: '是否上班',
                    field: 'work',
                    formatter: function (value, row) {
                        if (row.work === 0) {
                            return '上班';
                        }
                        if (row.work === 1) {
                            return '休息';
                        }
                    }
                },
                {
                    title: '操作',
                    field: '',
                    class: 'radios',
                    formatter: function (value, row) {
                        var e = "";
                        e +=  "<a href='#' title='' style='margin-right: 5px' data-toggle='modal' data-target='#modal-defaultedi' onclick='edit(\"" + row.id + "\")'>修改</a>";
                        e +="<a href='#' title='' style='margin-right: 5px' onclick='$.operate.remove(\"" + row.id + "\")' >删除</a>";
                        return e;
                    }
                }
            ]
        };
        $.table.init(options);
    }

    function edit(id) {
        $("#imageUrlListedi").val(id)
    }

    function saveTabEdi() {
        let date = $("#beginedi").val();
        let orWork = $("#workedi option:selected").val();
        let orWorkDay = $("#workDayedi option:selected").val();
        let timePlanId = $("#imageUrlListedi").val();
        console.log(date,orWork,orWorkDay,timePlanId)
        let params = {
            calendar: date,
            workDayMark: orWork,
            work: orWorkDay,
            timePlanId: timePlanId
        }
        console.log(params)
        $.operate.saveAndReload(editUrl, params);
    }
    function activation(obj) {
        $.ajax({
            type: "GET",
            url: activationUrl + "?id=" + obj
        });
    }

</script>
</body>
</html>
