<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>热线上报</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: fileUpload_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>
    <th:block th:include="page/fragments/common :: ztree_css"/>
    <th:block th:include="page/fragments/common :: swiper_css"/>
    <link th:href="@{/css/eventList.css}" rel="stylesheet" type="text/css">
</head>
<body style="border-radius: 8px;">
<div class="content">
    <div class="leftContent" style="justify-content: start!important;">
        <div class="left_topIn">
            <div class="selectPoint">
                <form id="userForm">
                    <input id="eventIdListByBox" name="eventIdListByBox" value="" type="hidden">
                    <input name="eventId" th:value="${eventId}" id="eventIdFromWorkBench" type="hidden">
                    <div class="top table2_top xiangqing">
                        <div class="top_out">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>问题描述<span></span></td>
                                    <td>
                                        <input type="text" class="datepicker" name="represent">
                                    </td>
                                    <td>所在网格<span></span></td>
                                    <td>
                                        <select class="form-control" id="grid1" name="grid" onchange="getStreetList()" required>
                                            <option value="">--请选择--</option>
                                            <option th:each="as:${gridList}" th:value="${as.id}"
                                                    th:text="${as.gridName}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>问题来源<span></span></td>
                                    <td>
                                        <select class="form-control" id="eventSource" name="eventSourceId" required>
                                            <option value="">--请选择--</option>
                                            <option th:each="as:${eventSource}" th:value="${as.id}"
                                                    th:text="${as.value}"></option>
                                        </select>
                                    </td>
                                    <td>案件类型<span></span></td>
                                    <td style="display: flex;justify-content: space-between;align-items: center;margin-top: 4px">
                                        <input type="text" readonly="readonly" id="typeStr" class="find_input"/>
                                        <input type="hidden" readonly="readonly" id="eventTypeId" name="eventTypeId"
                                               class="find_input"/>
                                        <button type="button" class="addBtn" onclick="selectEventTypeTree()">
                                            +
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>立案区域<span></span></td>
                                    <td>
                                        <select id="eventCondition" class="form-control" name="eventCondition" onchange="getEventCondition()"
                                                required>
                                            <option value="">--请选择--</option>
                                        </select>
                                    </td>
                                    <td>立案条件<span></span></td>
                                    <td>
                                        <select id="eventTerm" class="form-control" onchange="getTimeTypeList()" name="conditionId" required>
                                            <option value="">--请选择--</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>计时等级<span></span></td>
                                    <td>
                                        <select id="timeType" class="form-control" name="timeType" required>
                                            <option value="">--请选择--</option>
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
                <div class="notice_check">
                    <form id="search-form">
                        <p style="display: flex;justify-content: flex-end">
                            <input type="button" class="check_btn button_ground closeSearch" onclick="$.table.search()" value="查询">
                            <input type="button" class="check_btn1 button_ground closeSearch" onclick="$.form.reset()" value="重置">
                        </p>
                    </form>
                </div>
            </div>
            <div style="width: 100%;width: 100%;display: flex;justify-content: center">
                <div class="xiala"><i class="selectmenu"></i></div>
            </div>
            <table id="bootstrap-table" class="table_style" style="margin: 0 auto" > </table>

            <div class="btn-group-sm" id="toolbar" >
                <a class="btn btn-primary" onclick="$.operate.addTab()">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary" onclick="$.operate.report()">
                    <i class="fa fa-paper-plane"></i> 上报
                </a>
                <a class="btn btn-primary" onclick="$.operate.editTab()">
                    <i class="fa fa-edit"></i> 修改
                </a>
<!--                <a class="btn btn-danger" style="color: #ffffff" onclick="serRowIdDel()">-->
<!--                    <i class="fa fa-remove"></i> 删除-->
<!--                </a>-->
                <a class="btn btn-danger" style="color: #ffffff" onclick="$.operate.removeBatch()">
                    <i class="fa fa-remove"></i> 删除
                </a>
            </div>
        </div>
        <div class="left_bottomIn">
            <div class="bottom_left">
                <div class="doItTitle">
                    <span class="do_span active">处置前</span>
                    <span class="do_span">处置后</span>
                </div>
                <div class="doItInner">
                    <div class="do_banner blockActive">
                        <!-- Swiper -->
                        <div class="swiper-container" id="beforeDisSwiper">
                            <div class="swiper-wrapper" id="MultiMediaBefore">
                                <!--                                <div class="swiper-slide">Slide 1</div>-->
                                <!--                                <div class="swiper-slide">Slide 2</div>-->
                                <!--                                <div class="swiper-slide">Slide 3</div>-->
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination beforeDisPg"></div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                    <div class="do_banner">
                        <!-- Swiper -->
                        <div class="swiper-container" id="afterDisSwiper">
                            <div class="swiper-wrapper" id="MultiMediaAfter">
                                <div class="swiper-slide">Slide 1</div>
                                <div class="swiper-slide">Slide 2</div>
                                <div class="swiper-slide">Slide 3</div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination afterDisPg"></div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom_right">
                <div class="right_topIn">
                    <span class="keep_span active">案件详情</span>
                    <span class="keep_span">流转记录</span>
                    <span class="keep_span">阶段图</span>
                    <span class="keep_span">流程图</span>
                </div>
                <div class="right_bottomIn">
                    <div class="banners banner_update blockActive">
                        <div class="fami">
                            <form class="details">
                                <div class="top table2_top">
                                    <div class="top_out">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <td><span></span>案卷号</td>
                                                <td>
                                                    <input id="eventCode" placeholder="" class="" type="text" readonly="readonly" required>
                                                </td>
                                                <td><span></span>案件类型</td>
                                                <td>
                                                    <input id="eventTypeStr" name="eventType" placeholder="" class="" type="text" maxlength="30" required readonly="readonly" onclick="selectEventTypeTree()">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span></span>立案区域</td>
                                                <td>
                                                    <input id="regionStr" name="eventType" placeholder="" class="" type="text" maxlength="30" required readonly="readonly" onclick="selectEventTypeTree()">
                                                </td>
                                                <td><span></span>立案条件</td>
                                                <td>
                                                    <input id="conditionValue" name="eventType" placeholder="" class="" type="text" maxlength="30" required readonly="readonly" onclick="selectEventTypeTree()">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span></span>计时等级</td>
                                                <td>
                                                    <input id="level" name="eventType" placeholder="" class="" type="text" maxlength="30" required readonly="readonly" onclick="selectEventTypeTree()">

                                                </td>
                                                <td><span></span>处理时限</td>
                                                <td>
                                                    <input id="timeLimitStr" type="text" readonly required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span></span>问题描述</td>
                                                <td colspan="8"><input id="represent" type="text" class="find_input" readonly></textarea></td>
                                            </tr>
                                            <tr class="col-12">
                                                <td><span></span>案件地址</td>
                                                <td>
                                                    <input id="location" name="location" placeholder="" class="" readonly type="text">
                                                </td>
                                                <!--                                    <td><span></span>案件分类</td>-->
                                                <!--                                    <td>-->
                                                <!--                                        <input id="recTypeStr" name="location" placeholder="" class="" readonly type="text">-->
                                                <!--                                    </td>-->
                                            </tr>
                                            <tr class="col-12">
                                                <td><span></span>所属区域</td>
                                                <td>
                                                    <input id="eventRegion" name="location" placeholder="" class="" readonly type="text">

                                                </td>
                                                <td><span></span>所属街道</td>
                                                <td>
                                                    <input id="street" name="location" placeholder="" class="" readonly type="text">

                                                </td>
                                            </tr>
                                            <tr class="col-12">
                                                <td><span></span>所属社区</td>
                                                <td>
                                                    <input id="community" name="location" placeholder="" class="" readonly type="text">
                                                </td>
                                                <td><span></span>单元网格</td>
                                                <td>
                                                    <input id="girdStr" name="location" placeholder="" class="" readonly type="text">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span></span>案件分类</td>
                                                <td>
                                                    <input id="recTypeStr" name="recTypeStr" placeholder="" class="" readonly type="text">

                                                </td>
                                                <td><span></span>上报人</td>
                                                <td>
                                                    <input id="userName" name="userName" placeholder="" class="" readonly type="text">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span></span>诉求人</td>
                                                <td>
                                                    <input id="petitionerName" name="petitionerName" placeholder="" class="" readonly type="text">

                                                </td>
                                                <td><span></span>联系方式</td>
                                                <td><input id="petitionerPhone" name="petitionerPhone" type="text" value="15645068888" readonly="readonly"></td>
                                            </tr>
                                            <tr>
                                                <td><span></span>性别</td>
                                                <td>
                                                    <input id="petitionerSex" name="petitionerSex" placeholder="" class="" readonly type="text">

                                                </td>
                                                <td><span></span>创建时间</td>
                                                <td>
                                                    <input id="cdate" name="cdate" placeholder="" class="" readonly type="text">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span></span>经度</td>
                                                <td>
                                                    <input id="x" type="text" class="find_input" readonly="readonly" value="">
                                                </td>
                                                <td><span></span>纬度</td>
                                                <td>
                                                    <input id="y" type="text" class="find_input" readonly="readonly" value="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span></span>问题来源</td>
                                                <td>
                                                    <input name="eventSourceStr" id="eventSourceStr" placeholder="" class="" type="text" readonly="readonly">
                                                </td>
                                                <td class="partCodes">部件编码<span></span></td>
                                                <td class="partCodes">
                                                    <input type="text" class="find_input" id="objId">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="banners">
                        <div class='g_con'>
                            <!-- 物流时间轴 -->
                            <div class='expressRecord' id="timeAxis">
                                <div>暂时没有数据，请进入流程处理案件</div>
                            </div>
                        </div>
                    </div>
                    <div class="banners">
                        <div class="conduct">
                            <div class="rootBox">
                                <a class="alist alist1">
                                    <span class="spanlist"></span>
                                    <span class="spanlist"></span>
                                    <span class="spanlist"></span>
                                    <span class="spanlist"></span> 1.信息收集<input style="display: none" value="1">
                                </a>
                                <i>→</i>
                                <a class="alist alist2">
                                    <span class="spanlist"></span>
                                    <span class="spanlist"></span>
                                    <span class="spanlist"></span>
                                    <span class="spanlist"></span> 2.案件建立<input style="display: none" value="0">
                                </a>
                                <i>→</i>
                                <a class="alist alist3">
                                    <span class="spanlist"></span>
                                    <span class="spanlist"></span>
                                    <span class="spanlist"></span>
                                    <span class="spanlist"></span> 3.任务派遣<input style="display: none" value="">
                                </a>
                            </div>
                            <div class="downIn">
                                <span class="downi">↓</span>
                            </div>
                            <div class="rootBox">
                                <a class="alist alist4">
                                    <span class="spanlist"></span>
                                    <span class="spanlist"></span>
                                    <span class="spanlist"></span>
                                    <span class="spanlist"></span> 6.核查结案<input style="display: none" value="">
                                </a>
                                <i>←</i>
                                <a class="alist alist5">
                                    <span class="spanlist"></span>
                                    <span class="spanlist"></span>
                                    <span class="spanlist"></span>
                                    <span class="spanlist"></span> 5.处理反馈<input style="display: none" value="">
                                </a>
                                <i>←</i>
                                <a class="alist alist6">
                                    <span class="spanlist"></span>
                                    <span class="spanlist"></span>
                                    <span class="spanlist"></span>
                                    <span class="spanlist"></span> 4.任务处理<input style="display: none" value="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="banners"><img id="eventImg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="rightContent" style="position: relative">
        <div id="menu_cejv">
            <button class="cejv"><img th:src="@{/img/ruler.png}"></button>
            <button class="removeCejv roleBox"><i class="fa fa-window-close" aria-hidden="true"></i></button>
            <button class="clean_cejv"><img th:src="@{/img/worryed.png}"></button>
            <label style="font-size: 14px">测量类型</label>
            <select id="type" style="font-size: 14px" disabled>
                <option value="length">长度</option>
                <option value="area">面积</option>
            </select>
            <label class="checkbox label"><input type="checkbox" id="geodesic" />使用大地测量</label>

        </div>
        <div class="tips_sele">Ctrl+鼠标左键可进行地图框选</div>
        <div class="map" id="map" style="width: 100%;height: 90%"></div>

        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content">
                <ul id="message">

                </ul>
            </div>
        </div>
    </div>

    <!-- &lt;!&ndash;  点击图片弹出  &ndash;&gt;-->
    <div class="duk_duck" id="pictureBoxDuc" style="display: none">
        <div class="duk_box">
            <div class="allTiel" id="allTiel">
                <div class="fullScreen" id="fullScreen">全屏</div>
                <div class="fullScreen exitfullScreen" id="exitfullScreen">退出全屏</div>
                <div class="duk_close" id="duk_picture">
                    <i style="width: 20px;height: 20px"><img src="../img/close_duck.png"
                                                             style="width: 100%;height: 100%"></i>
                </div>
                <div style="width: 100%;height: 100%;padding: 5px">
                    <div class="swiper-container sw2">
                        <div class="swiper-wrapper" id="imageDetailList">

                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination pg2"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: jquery_validation_js"/>
<th:block th:include="page/fragments/common :: fileUpload_js"/>
<th:block th:include="page/fragments/common :: map_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>
<th:block th:include="page/fragments/common :: ztree_js"/>
<th:block th:include="page/fragments/common :: swiper_js"/>
<script type="text/javascript" th:inline="javascript">

    $(function () {

        $(".ol-full-screen-false").html("全屏");

        queryUserList();

        var r = 0;
        $(".xiala").click(function () {
            r += 180;
            $(".selectPoint").slideToggle(300);
            $(".selectmenu").css('transform', 'rotate(' + r + 'deg)');
        })
     //轮播图放大
        $(".duk_close").click(function () {
            $("#pictureBoxDuc").fadeOut(300)
        });

        $(".banners").on("click", ".innerPic", function () {
            $("#pictureBoxDuc").fadeIn(300);
        });

        $(".do_banner").on("click", "#beforeDisSwiper", function () {
            $("#imageDetailList").html($("#MultiMediaBefore").html())
            $("#pictureBoxDuc").fadeIn(300);
        });

        $(".do_banner").on("click", "#afterDisSwiper", function () {
            $("#imageDetailList").html($("#MultiMediaAfter").html())
            $("#pictureBoxDuc").fadeIn(300);
        });

        //全屏
        $("#fullScreen").click(function() {
            $("#allTiel").addClass("allTielFont");
            $("#exitfullScreen").css("display", "block");
            $(this).css("display", "none")
        });

        $("#exitfullScreen").click(function() {
            $("#allTiel").removeClass("allTielFont");
            $(this).css("display", "none");
            $("#fullScreen").css("display", "block");
        })

        //处置前 轮播
        var beforeDisSwiper = new Swiper('#beforeDisSwiper', {
            pagination: '.beforeDisPg',
            paginationClickable: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            spaceBetween: 30,
            observer: true, //修改swiper自己或子元素时，自动初始化swiper
            observeParents: true //修改swiper的父元素时，自动初始化swiperd
        });

        //处置后 轮播
        var afterDisSwiper = new Swiper('#afterDisSwiper', {
            pagination: '.afterDisPg',
            paginationClickable: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            spaceBetween: 30,
            observer: true, //修改swiper自己或子元素时，自动初始化swiper
            observeParents: true //修改swiper的父元素时，自动初始化swiperd
        });

        //处置前 轮播
        var beforDisSwiper = new Swiper('#beforDisSwiper', {
            pagination: '.beforDisPg',
            paginationClickable: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            spaceBetween: 30,
            observer: true, //修改swiper自己或子元素时，自动初始化swiper
            observeParents: true //修改swiper的父元素时，自动初始化swiperd
        });

        //处置后 轮播
        var sw2 = new Swiper('.sw2', {
            pagination: '.pg2',
            paginationClickable: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            spaceBetween: 30,
            observer: true, //修改swiper自己或子元素时，自动初始化swiper
            observeParents: true //修改swiper的父元素时，自动初始化swiperd
        });

        setMediaBefore();
        setMediaAfter();
    })
    /**
     * 获取街道
     */
    function getStreetList(){
        let parentId = $("#grid1 option:selected").val();
        let url = "/event/findAllByParentId?parentId="+parentId;
        $.ajaxUtil.get(url, function (e) {
            let option="<option>--请选择--</option>";
            if (e.code === 0) {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.gridName + "</option>"
                });
                $("#grid2").html(option);
            }
        });
    }
    /**
     * 获取立案区域
     */
    function findEventConditionByEventType(eventTypeId) {
        let url = findEventConditionByEventTypeUrl + "/?eventTypeId=" + eventTypeId;
        $.ajaxUtil.get(url, function (e) {
            let option = "<option value=''>--请选择--</option>";
            if (e.code === 0) {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.region + "</option>"
                });
                $("#eventCondition").html(option);
            }
        });
    }

    /**
     * 立案条件
     */
    function getEventCondition() {
        let eventConditionId = $("#eventCondition").val();
        let url = "/event/getEventCondition/?conditionId=" + eventConditionId;
        $.ajaxUtil.get(url, function (e) {
            $("#eventTerm").empty();
            let option = "<option value=''>--请选择--</option>";
            if (e.code === 0) {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.conditionValue + "</option>"
                });
            }
            $("#eventTerm").html(option);
        });
    }

    /**
     * 获取立案时限分类
     */
    function getTimeTypeList() {
        let eventTerm = $("#eventTerm").val();
        let url = "/event/findDeptTimeLimitByCondition/?conditionId=" + eventTerm;
        $.ajaxUtil.get(url, function (e) {
            $("#timeType").empty();
            let option = "<option value=''>--请选择--</option>";
            if (e.code === 0) {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.level + "</option>"
                });
            }
            $("#timeType").html(option);
        });
    }

    function selectEventTypeTree() {
        var treeId = $("#treeId").val();
        var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        var url = /*[[@{/tree/eventtype}]]*/ "/tree/eventtype";
        var options = {
            title: '选择事件类型',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var body = layer.getChildFrame('body', index);
        $("#eventTypeId").val(body.find('#treeId').val());
        $("#typeStr").val(body.find('#treeName').val());
        let eventTypeId = $("#eventTypeId").val();
        //获取立案区域
        findEventConditionByEventType(eventTypeId)
        layer.close(index);
    }

    let componentTypeUrl = /*[[@{/allEventType}]]*/ "/allEventType";
    let searchUrl = /*[[@{/event/wirelessAcquisitionList}]]*/ "/event/wirelessAcquisitionList";
    let addUrl = /*[[@{/event/toWirelessAcquisitionSave}]]*/ "/event/toWirelessAcquisitionSave";

    let event = /*[[@{/event/findOne}]]*/ "/event/findOne";
    let removeUrl = /*[[@{/event/remove}]]*/ "/event/remove";
    let editUrl = /*[[@{/event/toWirelessAcquisitionUpdate/{id}}]]*/ "/event/toWirelessAcquisitionUpdate/{id}";
    let reportOnListUrl = /*[[@{/event/reportOnList}]]*/ "/event/reportOnList";
    let img = /*[[@{/common/img/}]]*/ "/common/img/";
    let findEventConditionByEventTypeUrl = /*[[@{/event/findEventConditionByEventType}]]*/ "/event/findEventConditionByEventType";

    //回调函数接收查询结果
    var geojsonFormat = new ol.format.GeoJSON({defaultDataProjection: "EPSG:4326"});

    let getGridByCheckLayerUrl = /*[[@{/event/getGridByCheckLayer}]]*/ "/event/getGridByCheckLayer";

    function success_jsonpCallback(res) {
        var features = geojsonFormat.readFeatures(res);
        console.log('点击查询返回的结果如下：');
        console.log("features", features);
        let mongodbId = features[0].H.mongodb_id;
        console.log("features", mongodbId);
        $.ajaxUtil.get(getGridByCheckLayerUrl + "?mongodbId=" + mongodbId, function (e) {
            console.log("e", e);
        });
    }
    function queryUserList() {
        var options = {
            url: searchUrl,
            createUrl: addUrl,
            updateUrl: editUrl,
            removeUrl: removeUrl,
            reportUrl: reportOnListUrl,
            // exportUrl: prefix + "/export",
            // importUrl: prefix + "/importData",
            // importTemplateUrl: prefix + "/importTemplate",
            uniqueId: "id",
            sortName: "createTime",
            sortOrder: "desc",
            modalName: "案件",
            onClickRow: function (row,index) {
                layerMap.getSource().clear();
                $("#eventId").val(row.id)
                //onClickRow事件，实现单击行选中的效果
                index[0].firstElementChild.firstElementChild.click()
                // setInput(row)
                getEventDetail(row.id);
                localStorage.setItem("rowIndex",index[0].rowIndex);
            },
            onLoadSuccess: function (data) {
                $("#eventIdListByBox").val("");$("#eventIdListByBox").val("");
                layerMap.getSource().clear();
                if(vector !== null && vector !== undefined && vector !== ""){
                    vector.getSource().clear();
                }
                setPointForList(data);
                setBoxSelect();
            },
            columns: [
                {
                    checkbox: true
                },
                {
                    field: 'index',
                    title: '序号',
                    class:'index_width',
                    formatter : function (value, row, index){
                        var page = $('#bootstrap-table').bootstrapTable("getPage");
                        return page.pageSize * (page.pageNumber - 1) + index + 1;
                    }
                },

                {
                    title: '案件编号',
                    field: 'eventCode',
                    sortable: true,
                },
                {
                    title: '问题描述',
                    field: 'represent',
                    class:"problem",
                    // sortable: true,
                },
                {
                    title: '案件分类',
                    field: 'eventTypeName',
                    sortable: true,
                },
                {
                    title: '案件类型',
                    field: 'recTypeId',
                    sortable: true,
                    formatter: function (value,row){
                        return row.recTypeName;
                    }
                },

                {
                    title: '上报人',
                    field: 'userId',
                    sortable: true,
                    formatter: function (value,row){
                        return row.userName;
                    }
                },
                {
                    title: '创建日期',
                    field: 'createTime',
                    sortable: true,
                },
            ]
        };
        $.table.init(options);
    }

    function setRowIdUp() {
        let eventId = $("#eventId").val()
        $.operate.editTab(eventId)
    };
    function serRowIdDel() {
        let eventId = $("#eventId").val()
        $.operate.remove(eventId)
    }
    function serRowIdFrom() {
        let eventId = $("#eventId").val()
        $.operate.report(eventId)
    }

    let showUrl = [[${@fastProperties.nginxUrl}]];

    function getEventDetail(eventId) {
        $.ajaxUtil.get(event + "?eventId=" + eventId, function (e) {
            let data = e.data;
            eventId = data.id;
            /*详情*/
            $("#eventCode").val(data.eventCode);
            $("#eventTypeStr").val(data.eventTypeStr);
            $("#represent").val(data.represent);
            $("#location").val(data.location);
            $("#regionStr").val(data.regionStr);
            $("#conditionValue").val(data.conditionValue);
            $("#level").val(data.level);
            $("#timeLimitStr").val(data.timeLimitStr);
            $("#girdStr").val(data.girdStr);
            $("#community").val(data.community);
            $("#street").val(data.street);
            $("#eventRegion").val(data.eventRegion);
            $("#x").val(data.x);
            $("#y").val(data.y);
            $("#eventSourceStr").val(data.eventSourceStr);
            $("#cdate").val(data.cdate);
            $("#petitionerSex").val(data.petitionerSex);
            $("#petitionerPhone").val(data.petitionerPhone);
            $("#petitionerName").val(data.petitionerName);
            $("#userName").val(data.userName);
            $("#recTypeStr").val(data.recTypeStr);
            $("#objId").val(data.objId);
            if (data.objId == null) {
                $(".partCodes").addClass('roleBox')
            } else {
                $(".partCodes").removeClass('roleBox')
            }
            let file = data.file;
            setFileInput(file);
            /*流程图*/
            $("#eventImg").attr('src', img + data.processInstanceId);
            /* 坐标 */
            setPoint(data.x, data.y);
            /* 设定中心点和层级 */
            setCenterAndZoom(data.x, data.y, map.getView().getZoom() + 4);
        });
    }

    function setPoint(x, y, id) {
        let point = new ol.Feature({
            geometry: new ol.geom.Point([x, y]),
            data: {
                id: id,
                coordinate: x + "," + y
            }
        });
        point.setStyle(new ol.style.Style({
            image: new ol.style.Icon({
                src: '../img/dwpoint3.png'
            })
        }));
        layerMap.getSource().addFeature(point);
    }

</script>
<th:block th:include="page/fragments/common :: mapinit_js"/>

</body>
</html>
