<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>用户管理</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <link th:href="@{/css/component.css}" rel="stylesheet" type="text/css">

</head>

<body style="background-color: #ecf0f5;font-family: 微软雅黑;color: #475059;min-width: 1150px;overflow: auto" >
<div class="notice_main ">

    <div class="notice_check">
        <form id="search-form">
            <p>
                <label class="">分类</label>
                <input type="text" readonly="readonly" id="typeStr" class="find_input">
                <button type="button" class="addBtn"  data-toggle="modal" data-target="#modal-default">
                    +
                </button>
                <!--                <label class="">名称</label>-->
                <!--                <input type="text" class="find_input" name="name" >-->
                <input type="button" class="check_btn" onclick="" value="查询">
                <input type="button" class="check_btn1" onclick="" value="更多检索">
                <input type="button" class="check_btn1" onclick="" value="重置">
            </p>
            <p>
                <label class="">插件标识码</label>
                <input type="text" class="find_input" name="name">
                <label class="">部件名称</label>
                <input type="text" class="find_input" name="name">
                <label class="">主管部门代码</label>
                <input type="text" class="find_input" name="name">
            </p>
            <p>
                <label class="">主管部门名称</label>
                <input type="text" class="find_input" name="name">
                <label class="">权属单位代码</label>
                <input type="text" class="find_input" name="name">
                <label class="">权属单位名称</label>
                <input type="text" class="find_input" name="name">
            </p>
            <p>
                <label class="">养护单位代码</label>
                <input type="text" class="find_input" name="name">
                <label class="">养护单位名称</label>
                <input type="text" class="find_input" name="name">
                <label class="">所在单元网格</label>
                <input type="text" class="find_input" name="name">
            </p>
            <p>
                <label class="">部件状态</label>
                <select class="find_input" id="safeLevel" name="safeLevel" required>
                    <option>请选择</option>
                    <option>1</option>
                    <option>2</option>
                </select>
                <label class="">初始日期</label>
                <input type="text" class="find_input" name="name">
                <label class="">变更日期</label>
                <input type="text" class="find_input" name="name">
            </p>
            <p>
                <label class="">数据来源</label>
                <select class="find_input" name="safeLevel" required>
                    <option>请选择</option>
                    <option>1</option>
                    <option>2</option>
                </select>
                <input type="button" class="check_btn" onclick="" value="查询">
                <input type="button" class="check_btn1" onclick="" value="精简检索">
                <input type="button" class="check_btn1" onclick="" value="重置">
            </p>

        </form>
    </div>

    <!--    <div class="clear"></div>-->


    <div class="btn-group-sm" id="toolbar">
        <a class="btn btn-primary" onclick="$.table.importExcel()">
            <i class="fa fa-upload"></i> 导入部件图层
        </a>
        <a class="btn btn-info" onclick="$.table.importExcel()">
            <i class="fa fa-search"></i> 查询
        </a>
        <a class="btn btn-warning" onclick="$.table.exportExcel()">
            <i class="fa fa-retweet"></i> 重置
        </a>

        <!--    <a class="btn btn-warning" onclick="$.table.exportExcel()">-->
        <!--        <i class="fa fa-download"></i> 导出-->
        <!--    </a>-->
    </div>
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">默认窗口</h4>
                </div>
                <div class="modal-body">
                    <p>zTree</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-success" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">确认</button>
                </div>
            </div>
        </div>
    </div>


    <table id="bootstrap-table" class="table_style" style="margin: 0 auto" > </table>
    <div class="notice_check">
        <p>
            <input type="button" class="check_btn1" onclick="" value="更新">
        </p>
    </div>

</div>




<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>

<script type="text/javascript" th:inline="javascript">

    $(function () {
        queryUserList();
    })


    let searchUrl = /*[[@{/user/search}]]*/ "/json/unit.json";

    let addUrl = /*[[@{/user/add}]]*/ "/user/add";

    let removeUrl = /*[[@{/user/remove}]]*/ "/user/remove";

    let editUrl = /*[[@{/user/edit/{id}}]]*/ "/user/remove";

    function queryUserList() {
        var options = {
            url: searchUrl,
            createUrl: addUrl,
            updateUrl: editUrl,
            removeUrl: removeUrl,
            // exportUrl: prefix + "/export",
            // importUrl: prefix + "/importData",
            // importTemplateUrl: prefix + "/importTemplate",
            uniqueId: "id",
            sortName: "updateTime",
            sortOrder: "desc",
            modalName: "用户",
            columns: [
                {
                    checkbox: true
                },
                {
                    title: '账号',
                    field: 'username'
                },
                {
                    title: '姓名',
                    field: 'name'
                },
                {
                    title: '手机号码',
                    field: 'mobileNumber'
                },
                {
                    title: '创建时间',
                    field: 'createTime',
                    sortable: true,
                },
                {
                    title: '修改时间',
                    field: 'updateTime',
                    sortable: true,

                },
                {
                    title: '操作',
                    field: '',
                    formatter: function (value, row) {
                        var e = '<a  href="#" title="" onclick="$.operate.remove(\'' + row.id + '\')">删除</a> ';
                        return e;
                    }
                }
            ]
        };
        $.table.init(options);
    }


</script>
</body>
</html>

