<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>用户管理</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>
    <th:block th:include="page/fragments/common :: ztree_css"/>
    <link th:href="@{/css/component.css}" rel="stylesheet" type="text/css">

</head>

<body style="background-color: #ecf0f5;font-family: 微软雅黑;color: #475059;min-width: 1150px;overflow: auto" >
<div class="notice_main ">

    <div class="notice_check">
        <form id="search-form">
            <p>
                <label class="">分类</label>
                <input type="text" readonly="readonly" id="typeStr" class="find_input"/>
                <input type="hidden" readonly="readonly" id="componentTypeId" class="find_input">
                <button type="button" class="addBtn"  data-toggle="modal" data-target="#modal-default">
                    +
                </button>
                <!--                <label class="">名称</label>-->
                <!--                <input type="text" class="find_input" name="name" >-->
                <input type="button" class="check_btn" onclick="" value="查询">
                <input type="button" class="check_btn1" onclick="" value="更多检索">
                <input type="button" class="check_btn1" onclick="" value="重置">
            </p>
            <p>
                <label class="">插件标识码</label>
                <input type="text" class="find_input" name="name">
                <label class="">部件名称</label>
                <input type="text" class="find_input" name="name">
                <label class="">主管部门代码</label>
                <input type="text" class="find_input" name="name">
            </p>
            <p>
                <label class="">主管部门名称</label>
                <input type="text" class="find_input" name="name">
                <label class="">权属单位代码</label>
                <input type="text" class="find_input" name="name">
                <label class="">权属单位名称</label>
                <input type="text" class="find_input" name="name">
            </p>
            <p>
                <label class="">养护单位代码</label>
                <input type="text" class="find_input" name="name">
                <label class="">养护单位名称</label>
                <input type="text" class="find_input" name="name">
                <label class="">所在单元网格</label>
                <input type="text" class="find_input" name="name">
            </p>
            <p>
                <label class="">部件状态</label>
                <select class="find_input" id="safeLevel" name="safeLevel" required>
                    <option>请选择</option>
                    <option>1</option>
                    <option>2</option>
                </select>
                <label class="">初始日期</label>
                <input type="text" class="find_input datepicker" readonly="readonly">
                <label class="">变更日期</label>
                <input type="text" class="find_input datepicker" readonly="readonly">
            </p>
            <p>
                <label class="">数据来源</label>
                <select class="find_input" name="safeLevel" required>
                    <option>请选择</option>
                    <option>1</option>
                    <option>2</option>
                </select>
                <input type="button" class="check_btn" onclick="" value="查询">
                <input type="button" class="check_btn1" onclick="" value="精简检索">
                <input type="button" class="check_btn1" onclick="" value="重置">
            </p>

        </form>
    </div>
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">默认窗口</h4>
                </div>
                <div class="modal-body">
                    <div class="tree">
                        <div class="treeDemo">
                            <ul id="treeDemo" class="ztree">zTree</ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-success closemodal" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">确认</button>
                </div>
            </div>
        </div>
    </div>
<!--    <table id="bootstrap-table" class="table_style selfTable" style="margin: 0 auto;width: 100%!important;padding: 5px" >-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>序号</th>-->
<!--            <th>编辑</th>-->
<!--            <th>分类</th>-->
<!--            <th>部件标识码</th>-->
<!--            <th>部件名称</th>-->
<!--            <th>主管部门代码</th>-->
<!--            <th>主管部门名称</th>-->
<!--            <th>权属单位代码</th>-->
<!--            <th>权属单位名称</th>-->
<!--            <th>养护单位代码</th>-->
<!--            <th>养护单位名称</th>-->
<!--            <th>所在单元网格</th>-->
<!--            <th>部件状态</th>-->
<!--            <th>初始日期</th>-->
<!--            <th>变更日期</th>-->
<!--            <th>数据来源</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr>-->
<!--            <td>1</td>-->
<!--            <td><input type="checkbox"></td>-->
<!--            <td>部件上升</td>-->
<!--            <td><input type="text"></td>-->
<!--            <td><input type="text"></td>-->
<!--            <td><input type="text"></td>-->
<!--            <td><input type="text"></td>-->
<!--            <td><input type="text"></td>-->
<!--            <td><input type="text"></td>-->
<!--            <td><input type="text"></td>-->
<!--            <td><input type="text"></td>-->
<!--            <td><input type="text"></td>-->
<!--            <td>-->
<!--                <select >-->
<!--                    <option>1</option>-->
<!--                    <option>2</option>-->
<!--                </select>-->
<!--            </td>-->
<!--            <td><input type="text" class=" datepicker" readonly="readonly"></td>-->
<!--            <td><input type="text" class=" datepicker" readonly="readonly"></td>-->
<!--            <td>-->
<!--                <select >-->
<!--                    <option>1</option>-->
<!--                    <option>2</option>-->
<!--                </select>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
    <table id="table" class="component"></table>
    <div class="notice_check">
        <p>
            <input type="button" class="check_btn1" onclick="" value="更新">
        </p>
    </div>


    <button id="addBtn" onclick="add()">增加</button>

</div>


<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>

<th:block th:include="page/fragments/common :: ztree_js"/>
<script type="text/javascript" th:inline="javascript">


    $('#table').bootstrapTable({


        //点击全选框时触发的操作
        onCheckAll:function(rows){
            $(".componentTable").removeAttr('disabled');
            $(".componentSelect").removeAttr('disabled');
            console.log(rows);
            for(var i=0;i<rows.length;i++)
            {
                // addItem(rows[i]);
                //alert(rows[i].ResultName)
            }
        },
        //  点击每行进行函数的触发
         onClickRow : function(row, tr,flied){


         },

        //点击每一个单选框时触发的操作
        onCheck:function(row){
            console.log(row);
            $(".selected .componentTable").removeAttr('disabled');
            $(".selected .componentSelect").removeAttr('disabled');
        },

        //取消每一个单选框时对应的操作；

        onUncheck:function(row,tr,flied){
            let input = tr[0].parentNode.parentNode;
            console.log(tr[0])
            // console.log(input)
            function sibling( elem ) {
                var r = [];
                var n = elem.parentNode.firstChild;
                for ( ; n; n = n.nextSibling ) {
                    if ( n.nodeType === 1 && n !== elem ) {
                        r.push( n );
                    }
                }
                return r;
            }
            var allBorther = sibling(input)
            // console.log(allBorther[14].childNodes[1])
            for(var i=0;i<10;i++){
                var selectInput = allBorther[14].childNodes[1]
                var selectInput2 = allBorther[11].childNodes[1]
                selectInput.setAttribute('disabled','disabled');
                selectInput2.setAttribute('disabled','disabled');
                var input12=allBorther[12].childNodes[0]
                var input13=allBorther[13].childNodes[0]
                input12.setAttribute('disabled','disabled');
                input13.setAttribute('disabled','disabled');
                var inputs = allBorther[i+1].childNodes[0]
                inputs.setAttribute('disabled','disabled');
            }
        },

        ////取消所有
        onUncheckAll: function (row) {
            $(".componentTable").attr('disabled','disabled');
            $(".componentSelect").attr('disabled','disabled');
        },
        columns: [
            {
                field: 'id',
                title: '序号',
            },
            {
                checkbox: true,
                title: '编辑',
                class: "check"
            },
            {
                field: 'name',
                title: '分类',
                formatter:priceForm,

            },
            {
                field: 'price',
                title: '部件标识码',
                formatter:priceForm,

            },
            {
                field: 'componmentname',
                title: '部件名称',
                formatter:priceForm,

            },
            {
                field: 'department',
                title: '主管部门代码',
                formatter:priceForm,

            },
            {
                field: 'departmentname',
                title: '主管部门名称',
                formatter:priceForm,
            },
            {
                field: 'Company',
                title: '权属单位代码',
                formatter:priceForm,

            },
            {
                field: 'Companyname',
                title: '权属单位名称',
                formatter:priceForm,
            },
            {
                field: 'Companycode',
                title: '养护单位代码',
                formatter:priceForm,

            },
            {
                field: 'companyName',
                title: '养护单位名称',
                formatter:priceForm,

            },
            {
                field: 'grid',
                title: '所在单元网格',
                formatter:priceForm,

            },
            {
                field: 'state',
                title: '部件状态',
                formatter:nameForm,

            },
            {
                field: 'begintime',
                title: '初始日期',
                formatter:priceForm,

            },
            {
                field: 'chanegtime',
                title: '变更日期',
                formatter:priceForm,

            },
            {
                field: 'sno',
                title: '数据来源',
                formatter:nameForm,

            },

        ],
        data:[]
    });
    //input输入框
    function priceForm(value,row,index){
        return ['<input type="text" id="1plan'+row.id+'" data='+value+' value='+value+' onblur="addTarget('+row.id+',1)" disabled="disabled" class="componentTable">'].join("")
    }
    //下拉列表
    function nameForm(value,row,index){
        return `
                    <select id="sele`+ row.id +`" onchange="selectchange(`+ row.id +`)" class="componentSelect" disabled="disabled">
                        <option value="1">item1</option>
                        <option value="2">item2</option>
                        <option value="3">item3</option>
                        <option value="4">item4</option>
                    </select>
                `
    }
    function add(){
        var count = $('#table').bootstrapTable('getData').length;
        $('#table').bootstrapTable('insertRow',{index:count,row: {
                id:count+1,
                name:'wz',
                price:'2'
            }});

    }


    var setting = {
        callback: {
            onClick: zTreeOnClick
        },
        data: {//数据加载
            keep: {
                parent: true,
                leaf: true
            },
            simpleData: {
                enable: true,
                idKey: 'id',
                pIdKey: 'parent'
            },
            key: {
                name: "name"
            }
        }
    };

    function zTreeOnClick(event, treeId, treeNode) {
        $("#typeStr").val(treeNode.name);
        $("#componentTypeId").val(treeNode.id);
        $(".closemodal").click();
    }



    $(function () {
        $.ajaxUtil.get(componentTypeUrl, function (e) {
            var zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, e.data);
        })
        $(".datepicker").datepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd"
        });
        queryUserList();

    })

    let componentTypeUrl = /*[[@{/componentType}]]*/ "/componentType";

    let searchUrl = /*[[@{/user/search}]]*/ "/json/unit.json";

    let addUrl = /*[[@{/user/add}]]*/ "/user/add";

    let removeUrl = /*[[@{/user/remove}]]*/ "/user/remove";

    let editUrl = /*[[@{/user/edit/{id}}]]*/ "/user/remove";

    function queryUserList() {
        var options = {
            url: searchUrl,
            createUrl: addUrl,
            updateUrl: editUrl,
            removeUrl: removeUrl,
            // exportUrl: prefix + "/export",
            // importUrl: prefix + "/importData",
            // importTemplateUrl: prefix + "/importTemplate",
            uniqueId: "id",
            sortName: "updateTime",
            sortOrder: "desc",
            modalName: "用户",

            columns: [
                {
                    field: 'id',
                    title: 'ID',
                    formatter:idForm,
                    width:'25%'
                }, {
                    field: 'name',
                    title: '名字',
                    width:'25%',
                    formatter:nameForm,
                }, {
                    field: 'price',
                    title: '价格',
                    width:'25%',
                    formatter:priceForm
                }, {
                    field:'id',
                    title: '操作',
                    width:'25%',
                    formatter:doSome
                }
            ]
        };
        $.table.init(options);
    }


</script>
</body>
</html>

