<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <title>用户管理</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <link th:href="@{/css/import.css}" rel="stylesheet" type="text/css">
    <th:block th:include="page/fragments/common :: map_css"/>
    <th:block th:include="page/fragments/common :: ztree_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>


</head>

<body style="background-color: #ecf0f5;font-family: 微软雅黑;color: #475059;min-width: 1150px;overflow: auto">
<div class="innerBox">
    <div class="tree">
        <div class="treeDemo">
            <ul id="treeDemo" class="ztree"></ul>
        </div>
    </div>
    <div class="tabels">
        <div class="notice_check">
            <form id="component">
                <p>
                    <label class="">图层分类</label>
                    <input type="text" readonly="readonly" id="typeStr" class="find_input">
                    <input type="hidden" readonly="readonly" name="componentId" id="componentId" class="find_input">
                    <input type="hidden" readonly="readonly" name="eventTypeId" id="eventTypeId"
                           class="find_input">
                    <input type="hidden" readonly="readonly" name="layerId" id="layerId" class="find_input">

                </p>
                <p>
                    <label class="">图层名称</label>
                    <input type="text" readonly="readonly" id="publish" class="find_input">
                    <input type="hidden" readonly="readonly" id="publishId" name="publish" class="find_input">
                </p>
                <p>
                    <label class="">位置信息</label>
                    <input type="text" readonly="readonly" id="coordinate" name="coordinate" class="find_input coor">
                </p>
                <p class="attribute">属性信息</p>
                <p>
                    <label class="">部件标识码</label>
                    <input type="text" class="find_input" id="objId" name="objId">
                    <label class="">部件名称</label>
                    <input type="text" class="find_input" id="objName" name="objName">
                </p>
                <p>
                    <label class="">主管部门代码</label>
                    <input type="text" class="find_input" id="mainDeptCode" name="mainDeptCode">
                    <label class="">主管部门名称</label>
                    <input type="text" class="find_input" id="mainDeptName" name="mainDeptName">
                </p>
                <p>
                    <label class="">权属单位代码</label>
                    <input type="text" class="find_input" id="ownershipDeptCode" name="ownershipDeptCode">
                    <label class="">权属单位名称</label>
                    <input type="text" class="find_input" id="ownershipDeptName" name="ownershipDeptName">
                </p>
                <p>
                    <label class="">养护部门代码</label>
                    <input type="text" class="find_input" id="maintenanceDeptCode" name="maintenanceDeptCode">
                    <label class="">养护部门名称</label>
                    <input type="text" class="find_input" id="maintenanceDeptName" name="maintenanceDeptName">
                </p>
                <p>
                    <label class="">初始日期</label>
                    <input size="16" class="form_date" name="initialDate" type="text"  readonly>
                    <label class="">变更日期</label>
                    <input size="16" class="form_date" name="changeDate" type="text" value="" readonly>
                </p>
                <p>
                    <label class="">所在网格</label>
                    <select id="bgid" name="bgid"></select>
                    <label class="">部件状态</label>
                    <select id="objState" name="objState"></select>
                </p>
                <p>
                    <label class="">数据来源</label>
                    <select id="dataSource" name="dataSource"></select>
                </p>
                <p>
                    <label class="">备注</label>
                    <input type="text" class="find_input" id="note" name="note">
                </p>

                <p class="function_btn">
                    <input type="button" class="check_btn1" onclick="deleteComponent()" value="删除">
                    <input type="button" class="check_btn1" onclick="saveComponent()" value="修改">
                    <input type="button" class="check_btn1" onclick="saveComponent()" value="保存">
                </p>
            </form>
        </div>
    </div>
    <div class="maps">
        <div class="map" id="map" style="width: 100%;height: 100%"></div>
    </div>


</div>


<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: map_js"/>
<th:block th:include="page/fragments/common :: ztree_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>
<script type="text/javascript" th:inline="javascript">


    var setting = {
        callback: {
            onClick: zTreeOnClick
        },
        data: {//数据加载
            keep: {
                parent: true,
                leaf: true
            },
            simpleData: {
                enable: true,
                idKey: 'id',
                pIdKey: 'parent'
            },
            key: {
                name: "name"
            }
        }
    };
    var typeStr;
    var eventTypeId;
    var publish;
    var publishId;

    function zTreeOnClick(event, treeId, treeNode) {
        resetFrom();
        $("#coordinate").val(coordinate);
        if (treeNode.children === undefined) {
            $("#typeStr").val(treeNode.name);
            $("#eventTypeId").val(treeNode.id);
            typeStr = treeNode.name;
            eventTypeId = treeNode.id;
            $.ajaxUtil.get(publishUrl + "?typeId=" + treeNode.id, function (e) {
                $(e.data).each(function (index, value) {
                    $("#publish").val(value.name);
                    $("#publishId").val(value.id);

                    publish = value.name;
                    publishId = value.id;
                })
            })

            $.ajaxUtil.get(recordUrl + "?typeId=" + treeNode.id, function (e) {
                $(e.data.record).each(function (index, value) {
                    var point = value.coordinate.split(",");
                    setPoint(point[0], point[1], value.id, value.name);
                });
                $("#layerId").val(e.data.publish.layerId == null ? "" : e.data.publish.layerId);
                console.log(e)
                if (e.data.publish.layerId != null){

                }

                let layer = "cesi:e2965d91-0f42-43fc-8e72-67dcfe05308e";
                var ImageVector = new ol.layer.Tile({
                    source: new ol.source.TileWMS({
                        url: 'http://192.168.24.203:7880/geoserver/cesi/wms',
                        params: {
                            'VERSION': '1.1.1',
                            tiled: true,
                            "LAYERS": layer,
                            "exceptions": '',
                            tilesOrigin: 114.844384 + "," + 41.232426
                        }
                    })
                });
                var layersArray = map.getLayers();
                layersArray.insertAt(1,ImageVector);

            })
        }
    }

    $(function () {
        ////日期插件
        $('.form_date').datetimepicker({
            language: 'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            language: 'zh-CN', //语言
            format: "yyyy-mm-dd"
        });
        $.ajaxUtil.get(componentTypeUrl, function (e) {
            var zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, e.data);
        })
        $.ajaxUtil.get(objStateUrl, function (e) {
            var objStateStr = "<option value=''>--请选择--</option>";
            $(e.data).each(function (index, value) {
                objStateStr += "<option value='" + value.id + "'>" + value.value + "</option>"
            })
            $("#objState").append(objStateStr);
        })
        $.ajaxUtil.get(dataSourceUrl, function (e) {
            var datasourceStr = "<option value=''>--请选择--</option>";
            $(e.data).each(function (index, value) {
                datasourceStr += "<option value='" + value.id + "'>" + value.value + "</option>"
            })
            $("#dataSource").append(datasourceStr);
        })
        $.ajaxUtil.get(gridUrl, function (e) {
            var gridStr = "<option value=''>--请选择--</option>";
            $(e.data).each(function (index, value) {
                gridStr += "<option value='" + value.id + "'>" + value.gridName + "</option>"
            })
            $("#bgid").append(gridStr);
        })
    })

    function saveComponent() {
        let data = $('#component').serialize();
        console.log($("#componentId").val())
        if ($("#componentId").val() === null || $("#componentId").val() === "") {
            $.operate.saveAndReload(saveUrl, data);
        } else {
            $.operate.saveAndReload(updateUrl, data);
        }
    }

    function deleteComponent() {
        let data = $('#component').serialize();
        $.operate.saveAndReload(deleteUrl, data);
    }

    let componentTypeUrl = /*[[@{/eventType}]]*/ "/eventType";

    let objStateUrl = /*[[@{/objState}]]*/ "/objState";

    let dataSourceUrl = /*[[@{/dataSource}]]*/ "/dataSource";

    let gridUrl = /*[[@{/grid}]]*/ "/grid";

    let publishUrl = /*[[@{/componentTypePublish}]]*/ "/componentTypePublish";

    let saveUrl = /*[[@{/component}]]*/ "/component";

    let updateUrl = /*[[@{/updateComponent}]]*/ "/updateComponent";

    let recordUrl = /*[[@{/recordVOS}]]*/ "/recordVOS";

    let componentByRecordId = /*[[@{/componentByRecordId}]]*/ "/componentByRecordId";

    let deleteUrl = /*[[@{/deleteComponent}]]*/ "/deleteComponent";

    let getGisComponent = /*[[@{/getGisComponent}]]*/ "/getGisComponent";



    // 沽源地图
    var center = [115.68192, 41.66462];
    var projection = new ol.proj.Projection({
        code: 'EPSG:4326',
        units: 'degrees',
        axisOrientation: 'neu',
        global: true
    });
    var untiled = new ol.layer.Image({
        source: new ol.source.ImageWMS({
            ratio: 1,
            url: 'http://192.168.24.203:7880/geoserver/guyuan20201010/wms',
            params: {
                'VERSION': '1.1.1',
                "LAYERS": 'guyuan20201010:guyuan',
                "exceptions": 'application/vnd.ogc.se_inimage',
            }
        })
    });
    var source = new ol.source.Vector({wrapX: false});
    //ol.layer.Vector用于显示在客户端渲染的矢量数据。
    var vector = new ol.layer.Vector({
        source: source
    });

    var map = new ol.Map({
        target: 'map',
        layers: [
            untiled,vector
        ],
        view: new ol.View({
            // projection: projection,
            center:center,
            zoom:13,
            projection: projection
        })
    });
    //画笔

    var draw = new ol.interaction.Draw({
        source: source,
        //点：Point   线:LineString      面:Polygon
        type: "Point",
    });
    map.addInteraction(draw)
    draw.on('drawstart', function () {

    })
    draw.on('drawend', function () {
        source.clear();
    });



    var layerMap = new ol.layer.Vector({
        source: new ol.source.Vector(),
    });
    map.addLayer(layerMap);


    map.on('singleclick', function(evt) {
        var viewResolution = map.getView().getResolution();
        var url = untiled.getSource().getGetFeatureInfoUrl(
            evt.coordinate, viewResolution, 'EPSG:4326', {
                'INFO_FORMAT': 'text/javascript', //geoserver支持jsonp才能输出为jsonp的格式
                'FEATURE_COUNT': 50 //点击查询能返回的数量上限
            });
        $.ajax({
            type: 'GET',
            url: url,
            dataType: 'jsonp',
            jsonp: 'format_options',
            jsonpCallback: "callback:success_jsonpCallback"
        });
    });


    //回调函数接收查询结果
    var geojsonFormat = new ol.format.GeoJSON({
        defaultDataProjection: "EPSG:4326"
    });

    function success_jsonpCallback(res) {
        var features = geojsonFormat.readFeatures(res);
        console.log('点击查询返回的结果如下：');
        console.log(features);
    }

    //地图点击事件 获取地区 街道
    map.on('singleclick', function(evt) {
        var view = map.getView(); //视图
        var viewResolution = view.getResolution(); //视图分辨率
        var source = untiled.getSource()
        // console.log(untiled.getSource());
        var url = source.getGetFeatureInfoUrl(
            evt.coordinate, viewResolution, view.getProjection(), {
                'INFO_FORMAT': 'text/html',
                'FEATURE_COUNT': 50
            });
    });

    var t;
    $("#map").click(function (e) {
        t = map.getEventCoordinate(e);
        if ($("#componentId").val() === "") {
            coordinate = t;
        }
    });
    var coordinate;

    /* ------------  点击事件  ------------------*/
    var selectClick = new ol.interaction.Select();
    map.addInteraction(selectClick);
    selectClick.on('select', function (e) {
        var features = e.target.getFeatures().getArray();
        let data = features[0].H.data;
        if (undefined !== data) {
            $.ajaxUtil.get(getGisComponent,function (e) {
                console.log(e.data)
            });
            $.ajaxUtil.get(componentByRecordId + "?recordId=" + data.id, function (e) {
                $("#componentId").val(e.data.id);
                $("#objId").val(e.data.objId);
                $("#objName").val(e.data.objName);
                $("#maintenanceDeptCode").val(e.data.maintenanceDeptCode);
                $("#maintenanceDeptName").val(e.data.maintenanceDeptName);
                $("#mainDeptCode").val(e.data.mainDeptCode);
                $("#mainDeptName").val(e.data.mainDeptName);
                $("#ownershipDeptCode").val(e.data.ownershipDeptCode);
                $("#ownershipDeptName").val(e.data.ownershipDeptName);
                $("#objState option[value='" + e.data.objStateId + "']").prop("selected", true);
                $("#bgid option[value='" + e.data.bgid + "']").prop("selected", true);
                $("#dataSource option[value='" + e.data.dataSourceId + "']").prop("selected", true);
                $("#note").val(e.data.note);

            })
        } else {
            resetFrom();
            $("#publish").val(publish);
            $("#publishId").val(publishId);
            $("#typeStr").val(typeStr);
            $("#eventTypeId").val(eventTypeId);
            $("#coordinate").val(coordinate);
        }

    })

    function resetFrom() {
        $('#component')[0].reset();
    }

    function setPoint(x, y, data, name) {
        let point = new ol.Feature({
            geometry: new ol.geom.Point([x, y]),
            data: {
                id: data,
                name: name,
                coordinate: x + "," + y
            }
        });
        layerMap.getSource().addFeature(point);
    }

</script>
</body>
</html>
