<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <title>用户管理</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <link th:href="@{/css/import.css}" rel="stylesheet" type="text/css">
    <th:block th:include="page/fragments/common :: map_css"/>
    <th:block th:include="page/fragments/common :: ztree_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>


</head>

<body style="background-color: #ecf0f5;font-family: 微软雅黑;color: #475059;min-width: 1150px;overflow: auto">
<div class="innerBox">
    <div class="tree">
        <div class="treeDemo">
            <ul id="treeDemo" class="ztree">zTree</ul>
        </div>
    </div>
    <div class="tabels">
        <div class="notice_check">
            <form id="component">
                <p>
                    <label class="">图层分类</label>
                    <input type="text" readonly="readonly" id="typeStr" class="find_input">
                    <input type="hidden" readonly="readonly" name="componentId" id="componentId" class="find_input">
                    <input type="hidden" readonly="readonly" name="componentTypeId" id="componentTypeId"
                           class="find_input">
                    <input type="hidden" readonly="readonly" name="layerId" id="layerId" class="find_input">

                </p>
                <p>
                    <label class="">图层名称</label>
                    <input type="text" readonly="readonly" id="publish" class="find_input">
                    <input type="hidden" readonly="readonly" id="publishId" name="publish" class="find_input">
                </p>
                <p>
                    <label class="">位置信息</label>
                    <input type="text" readonly="readonly" id="coordinate" name="coordinate" class="find_input coor">
                </p>
                <p class="attribute">属性信息</p>
                <p>
                    <label class="">部件标识码</label>
                    <input type="text" class="find_input" id="objId" name="objId">
                    <label class="">部件名称</label>
                    <input type="text" class="find_input" id="objName" name="objName">
                </p>
                <p>
                    <label class="">主管部门代码</label>
                    <input type="text" class="find_input" id="mainDeptCode" name="mainDeptCode">
                    <label class="">主管部门名称</label>
                    <input type="text" class="find_input" id="mainDeptName" name="mainDeptName">
                </p>
                <p>
                    <label class="">权属单位代码</label>
                    <input type="text" class="find_input" id="ownershipDeptCode" name="ownershipDeptCode">
                    <label class="">权属单位名称</label>
                    <input type="text" class="find_input" id="ownershipDeptName" name="ownershipDeptName">
                </p>
                <p>
                    <label class="">养护部门代码</label>
                    <input type="text" class="find_input" id="maintenanceDeptCode" name="maintenanceDeptCode">
                    <label class="">养护部门名称</label>
                    <input type="text" class="find_input" id="maintenanceDeptName" name="maintenanceDeptName">
                </p>
                <!--                <p>-->
                <!--                    <label class="">初始日期</label>-->
                <!--                    <input type="text" class="datepicker" readonly="readonly">-->
                <!--                    <label class="">变更日期</label>-->
                <!--                    <input type="text" class="datepicker" readonly="readonly">-->
                <!--                </p>-->
                <p>
                    <label class="">所在网格</label>
                    <select id="bgid" name="bgid"></select>
                    <label class="">部件状态</label>
                    <select id="objState" name="objState"></select>
                </p>
                <p>
                    <label class="">数据来源</label>
                    <select id="dataSource" name="dataSource"></select>
                </p>
                <p>
                    <label class="">备注</label>
                    <input type="text" class="find_input" id="note" name="note">
                </p>

                <p class="function_btn">
                    <input type="button" class="check_btn1" onclick="deleteComponent()" value="删除">
                    <input type="button" class="check_btn1" onclick="saveComponent()" value="修改">
                    <input type="button" class="check_btn1" onclick="saveComponent()" value="保存">
                </p>
            </form>
        </div>
    </div>
    <div class="maps">
        <div class="map" id="map" style="width: 100%;height: 100%"></div>
    </div>


</div>


<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: map_js"/>
<th:block th:include="page/fragments/common :: ztree_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>
<script type="text/javascript" th:inline="javascript">


    var setting = {
        callback: {
            onClick: zTreeOnClick
        },
        data: {//数据加载
            keep: {
                parent: true,
                leaf: true
            },
            simpleData: {
                enable: true,
                idKey: 'id',
                pIdKey: 'parent'
            },
            key: {
                name: "name"
            }
        }
    };
    var typeStr;
    var componentTypeId;
    var publish;
    var publishId;

    function zTreeOnClick(event, treeId, treeNode) {
        resetFrom();
        if (treeNode.children === undefined) {
            $("#typeStr").val(treeNode.name);
            $("#componentTypeId").val(treeNode.id);
            typeStr = treeNode.name;
            componentTypeId = treeNode.id;
            $.ajaxUtil.get(publishUrl + "?typeId=" + treeNode.id, function (e) {
                $(e.data).each(function (index, value) {
                    $("#publish").val(value.name);
                    $("#publishId").val(value.id);

                    publish = value.name;
                    publishId = value.id;
                })
            })

            $.ajaxUtil.get(recordUrl + "?typeId=" + treeNode.id, function (e) {
                $(e.data.record).each(function (index, value) {
                    var point = value.coordinate.split(",");
                    setPoint(point[0], point[1], value.id, value.name);
                });
                $("#layerId").val(e.data.publish.layerId == null && e.data.publish.layerId === "" ? "" : e.data.publish.layerId);
            })
        }
    }

    $(function () {
        $.ajaxUtil.get(componentTypeUrl, function (e) {
            var zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, e.data);
        })
        $.ajaxUtil.get(objStateUrl, function (e) {
            var objStateStr = "<option value=''>--请选择--</option>";
            $(e.data).each(function (index, value) {
                objStateStr += "<option value='" + value.id + "'>" + value.value + "</option>"
            })
            $("#objState").append(objStateStr);
        })
        $.ajaxUtil.get(dataSourceUrl, function (e) {
            var datasourceStr = "<option value=''>--请选择--</option>";
            $(e.data).each(function (index, value) {
                datasourceStr += "<option value='" + value.id + "'>" + value.value + "</option>"
            })
            $("#dataSource").append(datasourceStr);
        })
        $.ajaxUtil.get(gridUrl, function (e) {
            var gridStr = "<option value=''>--请选择--</option>";
            $(e.data).each(function (index, value) {
                gridStr += "<option value='" + value.id + "'>" + value.gridName + "</option>"
            })
            $("#bgid").append(gridStr);
        })
    })

    function saveComponent() {
        let data = $('#component').serialize();
        if ($("#componentId").val() === null || $("componentId").val() === "") {
            $.operate.saveAndReload(saveUrl, data);
        } else {
            $.operate.saveAndReload(updateUrl, data);
        }
    }

    function deleteComponent() {
        let data = $('#component').serialize();
        $.operate.saveAndReload(deleteUrl, data);
    }

    let componentTypeUrl = /*[[@{/componentType}]]*/ "/componentType";

    let objStateUrl = /*[[@{/objState}]]*/ "/objState";

    let dataSourceUrl = /*[[@{/dataSource}]]*/ "/dataSource";

    let gridUrl = /*[[@{/grid}]]*/ "/grid";

    let publishUrl = /*[[@{/componentTypePublish}]]*/ "/componentTypePublish";

    let saveUrl = /*[[@{/component}]]*/ "/component";

    let updateUrl = /*[[@{/updateComponent}]]*/ "/updateComponent";

    let recordUrl = /*[[@{/recordVOS}]]*/ "/recordVOS";

    let componentByRecordId = /*[[@{/componentByRecordId}]]*/ "/componentByRecordId";

    let deleteUrl = /*[[@{/deleteComponent}]]*/ "/deleteComponent";


    var center = ol.proj.transform([126.62, 45.74], "EPSG:4326", "EPSG:3857");
    var raster = new ol.layer.Tile({
        source: new ol.source.OSM()
    });
    var source = new ol.source.Vector({wrapX: false});
    //ol.layer.Vector用于显示在客户端渲染的矢量数据。
    var vector = new ol.layer.Vector({
        source: source
    });
    var map = new ol.Map({
        target: 'map',
        layers: [raster, vector],
        view: new ol.View({
            // projection: "EPSG:" + epsg,
            center: center,
            zoom: 12
        })
    });

    var draw = new ol.interaction.Draw({
        source: source,
        //点：Point   线:LineString      面:Polygon
        type: "Point",
    });
    map.addInteraction(draw)
    draw.on('drawstart', function () {
        // tarr.splice(0)
    })
    draw.on('drawend', function () {
        source.clear();
    });
    var layerMap = new ol.layer.Vector({
        source: new ol.source.Vector(),
    });
    map.addLayer(layerMap);

    var t;
    $("#map").click(function (e) {
        t = map.getEventCoordinate(e);
        if ($("#componentId").val() === "") {
            $(".coor").val(t);
        }
    });


    /* ------------  点击事件  ------------------*/
    var selectClick = new ol.interaction.Select();
    map.addInteraction(selectClick);
    selectClick.on('select', function (e) {
        var features = e.target.getFeatures().getArray();
        let data = features[0].H.data;
        if (undefined !== data) {
            $.ajaxUtil.get(componentByRecordId + "?recordId=" + data.id, function (e) {
                console.log(e)
                $("#componentId").val(e.data.id);
                $("#objId").val(e.data.objId);
                $("#objName").val(e.data.objName);
                $("#maintenanceDeptCode").val(e.data.maintenanceDeptCode);
                $("#maintenanceDeptName").val(e.data.maintenanceDeptName);
                $("#mainDeptCode").val(e.data.mainDeptCode);
                $("#mainDeptName").val(e.data.mainDeptName);
                $("#ownershipDeptCode").val(e.data.ownershipDeptCode);
                $("#ownershipDeptName").val(e.data.ownershipDeptName);
                $("#objState option[value='" + e.data.objStateId + "']").prop("selected", true);
                $("#bgid option[value='" + e.data.bgid + "']").prop("selected", true);
                $("#dataSource option[value='" + e.data.dataSourceId + "']").prop("selected", true);
                $("#note").val(e.data.note);

            })
        } else {
            resetFrom();
            $("#publish").val(publish);
            $("#publishId").val(publishId);
            $("#typeStr").val(typeStr);
            $("#componentTypeId").val(componentTypeId);
        }

    })

    function resetFrom() {
        $('#component')[0].reset();
    }

    function setPoint(x, y, data, name) {
        let point = new ol.Feature({
            geometry: new ol.geom.Point([x, y]),
            data: {
                id: data,
                name: name,
                coordinate: x + "," + y
            }
        });
        layerMap.getSource().addFeature(point);
    }

</script>
</body>
</html>
