<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>网格导入</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>

</head>
<body style="background-color: #ecf0f5;font-family: 微软雅黑;color: #475059;min-width: 1150px;overflow: auto" >
<div class="notice_main ">
    <div class="content">
        <div class="leftBox" style="width: 50%!important;">
            <div class="leftInner">

<!--                tree-->
<!--                <div class="zTreeDemoBackground left">-->
<!--                    <ul id="treeDemo" class="ztree">zTree</ul>-->
<!--                </div>-->

                <form id="fileForm">
                <div>
                    <label class="modelTitle">网格名称</label>
                    <input type="text" class="find_input" name="username">
                </div>
                <div>
                    <label class="modelTitle"></label>
                    <input type="file" onclick="clickInput()" name="file" multiple="multiple">
                </div>
                <div style="padding-bottom: 20px;margin-right: 20px;display: flex;justify-content: flex-end" class="">
                    <button type="button" id="btnAddFile" class="btn btn-primary"
                            onclick="uploadFiles()">导入文件
                    </button>
                </div>
                </form>
            </div>
        </div>
        <div class="rightBox" style="width: 50%!important;">

        </div>
    </div>


</div>




<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>

<script type="text/javascript" th:inline="javascript">

    $(function () {
        queryUserList();
    })


    let searchUrl = /*[[@{/user/search}]]*/ "/json/unit.json";

    let addUrl = /*[[@{/user/add}]]*/ "/user/add";

    let removeUrl = /*[[@{/user/remove}]]*/ "/user/remove";

    let editUrl = /*[[@{/user/edit/{id}}]]*/ "/user/remove";

    function queryUserList() {
        var options = {
            url: searchUrl,
            createUrl: addUrl,
            updateUrl: editUrl,
            removeUrl: removeUrl,
            // exportUrl: prefix + "/export",
            // importUrl: prefix + "/importData",
            // importTemplateUrl: prefix + "/importTemplate",
            uniqueId: "id",
            sortName: "updateTime",
            sortOrder: "desc",
            modalName: "用户",
            columns: [
                {
                    checkbox: true
                },
                {
                    title: '账号',
                    field: 'username'
                },
                {
                    title: '姓名',
                    field: 'name'
                },
                {
                    title: '手机号码',
                    field: 'mobileNumber'
                },
                {
                    title: '创建时间',
                    field: 'createTime',
                    sortable: true,
                },
                {
                    title: '修改时间',
                    field: 'updateTime',
                    sortable: true,

                },
                {
                    title: '操作',
                    field: '',
                    formatter: function (value, row) {
                        var e = '<a  href="#" title="" onclick="$.operate.remove(\'' + row.id + '\')">删除</a> ';
                        return e;
                    }
                }
            ]
        };
        $.table.init(options);
    }


</script>
</body>
</html>
