<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>流程定义管理</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <link th:href="@{/css/tail.css}" rel="stylesheet" type="text/css">
</head>
<body style="border-radius: 8px;width: 680px">
<form>
    <div class="top table2_top">
        <div>
            <div class="top_out">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>名称<span>*</span></td>
                        <td><input type="text" required="required" minlength="2"></td>

                    </tr>
                    <tr>
                        <td>描述<span></span></td>
                        <td colspan="8" style="text-align: left"><textarea></textarea></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
<th:block th:include="page/fragments/common :: common_js"/>
<script type="text/javascript" th:inline="javascript">

</script>
</body>
</html>
