<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>热线上报</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: fileUpload_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>
</head>
<style>
    .bootstrap-table {
        width: 100%
    }
</style>
<body style="border-radius: 8px;">
<div class="bigTitle">单元网格区域评价</div>
<div class="search_box">
    <div class="search_inner">
        <form class="details">
            <div class="top table2_top">
                <div class="top_out">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><span></span>开始日期</td>
                            <td>
                                <input size="16" id="startTime" class="form_datetime" type="text" value="" readonly>
                            </td>
                            <td><span></span>结束日期</td>
                            <td>
                                <input size="16" id="endTime" class="form_datetime" type="text" value="" readonly>
                            </td>
                            <td style="float: right;margin-right: 5px">
                                <button class="check_btn">查询</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <!--                            按钮-->
                <div class="notice_bot">
                    <!--            <div class="l_left">-->
                    <!--                <input type="checkbox" checked="checked"/>保存并关闭窗口-->
                    <!--            </div>-->
                    <div class="r_right but_p btn_search dates">
                        <button class="check_btn2 ">本周</button>
                        <button class="check_btn2 ">本月</button>
                        <button class="check_btn2 ">本季</button>
                        <button class="check_btn2 ">本年</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="contents">
    <table id="table" class="table_style" style="margin: 0 auto;margin-top: 10px"></table>
</div>

<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: jquery_validation_js"/>
<th:block th:include="page/fragments/common :: fileUpload_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        ////日期插件
        $('.form_datetime').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: "yyyy-mm-dd hh:ii:ss"
        });

        search();
    });

    let cellGridRegionUrl = /*[[@{/evaluate/cellGridRegionOne}]]*/ "/evaluate/cellGridRegionOne";

    $('#table').bootstrapTable({
        columns: [
            {
                field: 'index',
                title: '序号',
            },
            {
                field: 'check',
                title: '街道'
            },
            {
                field: 'eventType',
                title: '社区',
            },
            {
                field: 'gridName',
                title: '单元网格',
            },
            {
                field: 'publicReportAndInstSize',
                title: '监督举报核实数',
            },
            {
                field: 'instSize',
                title: '立案数',
            },
            {
                field: 'publicReportAndInstRate',
                title: '监督举报率',
            },
            {
                field: 'closeOrToCloseSize',
                title: '应结案数',
            },
            {
                field: 'closeSize',
                title: '结案数',
            },
            {
                field: 'closeRate',
                title: '结案率',
            },
            {
                field: 'inTimeCloseSize',
                title: '按期结案数',
            },
            {
                field: 'inTimeCloseRate',
                title: '按期结案率',
            },
            {
                field: 'comprehensiveIndexValue',
                title: '综合指标',
            },
        ],
        data: []
    });

    function search() {
        let startTime = $("#startTime").val();
        let endTime = $("#endTime").val();
        $.ajaxUtil.get(cellGridRegionUrl + "?startTime=" + startTime + "&endTime=" + endTime, function (e) {
            $(e.data).each(function (index, value) {
                $('#table').bootstrapTable('insertRow', {
                    index: index,
                    row: {
                        index: index + 1,
                        gridName: value.gridName,
                        inTimeCloseSize: value.inTimeCloseSize,
                        closeSize: value.closeSize,
                        closeOrToCloseSize: value.closeOrToCloseSize,
                        publicReportAndInstSize: value.publicReportAndInstSize,
                        publicReportAndInstRate: value.publicReportAndInstRate,
                        closeRate: value.closeRate,
                        inTimeCloseRate: value.inTimeCloseRate,
                        instSize: value.instSize,
                        comprehensiveIndexValue: value.comprehensiveIndexValue
                    }
                });
            });
        });
    }

</script>
</body>
</html>
