<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>热线上报</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: fileUpload_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>
</head>
<style>
    .bootstrap-table{width: 100%;padding: 0 10px 0px 10px!important;}
</style>
<body style="border-radius: 8px;">
<div class="bigTitle">监督员岗位评价</div>
<div class="search_box">
    <div class="search_inner">
        <form class="details" id="searchForm">
            <div class="top table2_top">
                <div class="top_out">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><span></span>开始日期</td>
                            <td>
                                <input size="16" name="startTime" class="form_datetime" type="text" value="" readonly>
                            </td>
                            <td><span></span>结束日期</td>
                            <td>
                                <input size="16" name="endTime" class="form_datetime" type="text" value="" readonly>
                            </td>
                            <td style="float: right;margin-right: 5px">
                                <button class="check_btn">查询</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <!--                            按钮-->
                <div class="notice_bot">
                    <!--            <div class="l_left">-->
                    <!--                <input type="checkbox" checked="checked"/>保存并关闭窗口-->
                    <!--            </div>-->
                    <div class="r_right but_p btn_search dates">
                        <button class="check_btn2">本周</button>
                        <button class="check_btn2">本月</button>
                        <button class="check_btn2">本季</button>
                        <button class="check_btn2">本年</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="contentTable">
    <table id="tables" class="table_style" style="margin: 0 auto;margin-top: 10px" ></table>
    <div class="explain">
        <div class="explain_box">
            <p style="padding-left: 0px">注：1)综合指标值中，各个指标的分值计算方法如下：</p>
            <p>监督员有效上报率分值：监督员有效上报率×100</p>
            <p>漏报率分值：（1-漏报率）×100</p>
            <p>按时核实率分值：按时核实率×100</p>
            <p>按期处置率分值：按期处置率×100</p>
            <p style="padding-left: 25px">2）综合指标值的计算公式如下：</p>
            <p>综合指标值=监督员有效上报率分值×40%+漏报率分值×20%+按时核实率分值×20%+按时核查率分值×20%</p>
        </div>
    </div>
</div>
<div class="bigTitle">受理员岗位评价</div>
<div class="contentTable">
    <table id="tableIn" class="table_style" style="margin: 0 auto;margin-top: 10px" ></table>
    <div class="explain">
        <div class="explain_box">
            <p style="padding-left: 0px">注：1）综合指标值中，各个指标的分值计算方法如下：</p>
            <p>受理数分值：2001 件以上 100 分；1201~2000 件 90 分；501~1200 件 75 分；301~500 件 60 分；101~300 件 40 分；100 件及以下 0 分</p>
            <p>核实按时派发率分值：核实按时派发率×100</p>
            <p>核查按时派发率分值：核查按时派发率×100</p>
            <p style="padding-left: 25px">2）综合指标值的计算公式如下：</p>
            <p>综合指标值=受理数分值×25%+核实按时派发率分值×40%+核查按时派发率分值×35%</p>
        </div>
    </div>
</div>
<div class="bigTitle">值班长岗位评价</div>
<div class="contentTable">
    <table id="tableOn" class="table_style" style="margin: 0 auto;margin-top: 10px" ></table>
    <div class="explain">
        <div class="explain_box">
            <p style="padding-left: 0px">注：1）综合指标值中，各个指标的分值计算方法如下：</p>
            <p>立案数分值：0~50 件 100 分；51~100 件 90 分；100~200 件 75 分；200~500 件 60 分；500~1000 件</p>
            <p>按时立案率分值：按时立案率×100</p>
            <p>准确立案率分值：准确立案率×100</p>
            <p>按时结案率分值：按时结案率×100</p>
            <p style="padding-left: 25px">2）综合指标值的计算公式如下：</p>
            <p>综合指标值=按时立案率分值×25%+准确立案率分值×40%+按时结案率分值×35%</p>
        </div>
    </div>
</div>
<div class="bigTitle">派遣员岗位评价</div>
<div class="contentTable">
    <table id="tableOf" class="table_style" style="margin: 0 auto;margin-top: 10px" ></table>
    <div class="explain">
        <div class="explain_box">
            <p style="padding-left: 0px">注：1）综合指标值中，各个指标的分值计算方法如下：</p>
            <p>派遣数分值：2001 件以上 100 分；1201~2000 件 90 分；501~1200 件 75 分；301~500 件 60 分；101~300 件 40 分；100 件及以下 0 分</p>
            <p>按时派遣率分值：按时派遣率×100</p>
            <p>准确派遣率分值：准确立案率×100</p>
            <p style="padding-left: 25px">2）综合指标值的计算公式如下：</p>
            <p>综合指标值=派遣数分值×20%+按时派遣率根治×40%+准确派遣率分值×40%</p>
        </div>
    </div>
</div>

<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: jquery_validation_js"/>
<th:block th:include="page/fragments/common :: fileUpload_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        ////日期插件
        $('.form_datetime').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: "yyyy-mm-dd hh:ii:ss"
        });
        queryUserList();
    })
    let searchUrl = /*[[@{/evaluate/searchSupervisorEvaluate}]]*/ "/evaluate/searchSupervisorEvaluate";
    let num = 1
    function queryUserList() {
        var options = {
            num: num,
            url: searchUrl,
            // uniqueId: "id",
            // sortName: "updateTime",
            // sortOrder: "desc",
            // modalName: "用户",
            // 点击每行进行函数的触发
            onClickRow: function (row, tr, flied) {
                console.log(row.id)
            },
            columns: [
                {
                    field: 'index',
                    title: '序号',
                    // formatter : function (value, row, index){
                    //     var page = $('#table').bootstrapTable("getPage");
                    //     return page.pageSize * (page.pageNumber - 1) + index + 1;
                    // }
                },
                {
                    title: '姓名',
                    class: "reportPatrolName"
                },
                {
                    field: 'gridOnwer',
                    title: '责任网格',
                },
                {
                    field: 'patrolReport',
                    title: '监督员上报数',
                },
                {
                    field: 'validPatrolReport',
                    title: "监督员有效上报数",
                },
                {
                    field: 'reportVaildNumRate',
                    title: '监督员有效上报率',
                },
                {
                    field: 'intimeVerify',
                    title: '按时核实数',
                },
                {
                    field: 'needVerify',
                    title: '应核实数',
                },
                {
                    field: 'intimeVerifyRate',
                    title: '按时核实率',
                },
                {
                    field: 'intimeCheck',
                    title: '按时核查数',
                },
                {
                    field: 'publicReport',
                    title: '漏报数',
                },
                {
                    field: 'inst',
                    title: '立案数',

                },
                {
                    field: 'publicReportRate',
                    title: '漏报率',

                },
                {
                    field: 'initialDate',
                    title: '综合指标值',
                },
                {
                    field: 'initialDate',
                    title: '评价等级',
                },

            ]
        };
        $.table.init(options);
    }

    $('#tableIn').bootstrapTable({
        columns: [
            {
                field: 'index',
                title: '序号',
            },
            {
                title: '姓名',
                class: "check"
            },
            {
                field: 'eventType',
                title: '受理数',
            },
            {
                field: 'objId',
                title: '核实按时派发数',
            },
            {
                field: 'objName',
                title: "核实应派发数",
            },
            {
                field: 'mainDeptCode',
                title: '核实按时派发率',
            },
            {
                field: 'mainDeptName',
                title: '核查按时派发数',
            },
            {
                field: 'ownershipDeptCode',
                title: '核查应派发数',
            },
            {
                field: 'ownershipDeptCode',
                title: '核查按时派发率',
            },
            {
                field: 'maintenanceDeptCode',
                title: '综合指标值',
            },
            {
                field: 'maintenanceDeptName',
                title: '评价等级',
            }
        ],
        data:[

        ]
    });
    $('#tableOn').bootstrapTable({
        columns: [
            {
                field: 'index',
                title: '序号',
            },
            {
                title: '姓名',
                class: "check"
            },
            {
                field: 'eventType',
                title: '立案数',
            },
            {
                field: 'objId',
                title: '按时立案数',
            },
            {
                field: 'objName',
                title: "按时立案率",
            },
            {
                field: 'mainDeptCode',
                title: '准确立案数',
            },
            {
                field: 'eventType',
                title: '准确立案率',
            },
            {
                field: 'objId',
                title: '按时结案数',
            },
            {
                field: 'objName',
                title: "应结案数",
            },
            {
                field: 'mainDeptCode',
                title: '按时结案率',
            },
            {
                field: 'mainDeptCode',
                title: '评价等级',
            },
        ],
        data:[

        ]
    });


    $('#tableOf').bootstrapTable({
        columns: [
            {
                field: 'index',
                title: '序号',
            },
            {
                title: '姓名',
                class: "check"
            },
            {
                field: 'eventType',
                title: '派遣数',
            },
            {
                field: 'objId',
                title: '按时派遣数',
            },
            {
                field: 'objName',
                title: "应派遣数",
            },
            {
                field: 'mainDeptCode',
                title: '按时派遣率',
            },
            {
                field: 'mainDeptName',
                title: '准确派遣数',
            },
            {
                field: 'ownershipDeptCode',
                title: '准确派遣率',
            },
            {
                field: 'maintenanceDeptCode',
                title: '综合指标值',
            },
            {
                field: 'initialDate',
                title: '评价等级',
            },
        ],
        data:[

        ]
    });


</script>
</body>
</html>
