<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>热线上报</title>
    <th:block th:include="page/fragments/common :: common_css"/>
    <th:block th:include="page/fragments/common :: fileUpload_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_table_css"/>
    <th:block th:include="page/fragments/common :: bootstrap_datepicker_css"/>
    <link th:href="@{/css/eventList.css}" rel="stylesheet" type="text/css">
</head>
<body style="border-radius: 8px;">
<div class="content">
    <div class="leftContent">
        <form id="userForm">
            <div class="top table2_top">
                <!--        <div>-->
                <div class="top_out">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>当前状态<span></span></td>
                            <td>
                                <select name="kv" required>
                                    <option value="">请选择</option>
                                </select>
                            </td>
                            <td>问题描述<span></span></td>
                            <td>
                                <input type="text" class="datepicker" name="represent">
                            </td>
                        </tr>
                        <tr>
                            <td>所在网格<span></span></td>
                            <td>
                                <select class="form-control" id="grid1" name="grid" onchange="getStreetList()" required>
                                    <option value="">--请选择--</option>
                                    <option th:each="as:${gridList}" th:value="${as.id}"
                                            th:text="${as.gridName}"></option>
                                </select>
                            </td>
                            <td>事件来源<span></span></td>
                            <td>
                                <select class="form-control" id="eventSource" name="eventSourceId" required>
                                    <option value="">--请选择--</option>
                                    <option th:each="as:${eventSource}" th:value="${as.id}"
                                            th:text="${as.value}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>问题类型<span></span></td>
                            <td style="display: flex;justify-content: space-between;align-items: center;margin-top: 4px">
                                <input type="text" readonly="readonly" id="typeStr" class="find_input"/>
                                <input type="hidden" readonly="readonly" id="eventTypeId" name="eventTypeId"
                                       class="find_input"/>
                                <button type="button" class="addBtn" onclick="selectEventTypeTree()">
                                    +
                                </button>
                            </td>
                            <td>立案区域<span></span></td>
                            <td>
                                <select id="eventCondition" name="eventCondition" onchange="getEventCondition()"
                                        required>
                                    <option value="">--请选择--</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>立案条件<span></span></td>
                            <td>
                                <select id="eventTerm" onchange="getTimeTypeList()" name="conditionId" required>
                                    <option value="">--请选择--</option>
                                </select>
                            </td>
                            <td>计时等级<span></span></td>
                            <td>
                                <select id="timeType" name="timeType" required>
                                    <option value="">--请选择--</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--    </div>-->
        </form>
        <div class="notice_check">
            <form id="search-form">
                <p style="display: flex;justify-content: flex-end">
                    <input type="button" class="check_btn button_ground" onclick="$.table.search()" value="查询">
                    <input type="button" class="check_btn1 button_ground" onclick="$.form.reset()" value="重置">
                </p>
            </form>

        </div>
        <table id="bootstrap-table" class="table_style" style="margin: 0 auto" > </table>

    </div>
    <div class="rightContent">
        <div class="tabTitle">
            <span class="active">地图</span>
            <span class="tab_update">案件详情</span>
            <span>流转记录</span>
            <span>流程图</span>
        </div>
        <div class="tabInfo">
            <div class="banner blockActive">
                <div class="map" id="map" style="width: 100%;height: 90%"></div>
                <div id="popup" class="ol-popup">
                    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                    <div id="popup-content">
                        <ul id="message">

                        </ul>
                    </div>
                </div>
            </div>
            <div class="banner banner_update">
                <h3 class="bigTitle">案件详情</h3>
                <form class="details">
                    <div class="top table2_top">
                        <div class="top_out">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><span></span>案卷号</td>
                                    <td>
                                        <input id="eventCode" placeholder="" class="" type="text" readonly="readonly" required>
                                    </td>
                                    <td><span></span>问题类型</td>
                                    <td>
                                        <input id="eventTypeStr" name="eventType" placeholder="请选择问题类型" class="" type="text" maxlength="30" required readonly="readonly" onclick="selectEventTypeTree()">

                                    </td>
                                </tr>
                                <tr>
                                    <td><span></span>立案区域</td>
                                    <td>
                                        <input id="regionStr" name="eventType" placeholder="请选择问题类型" class="" type="text" maxlength="30" required readonly="readonly" onclick="selectEventTypeTree()">
                                    </td>
                                    <td><span></span>立案条件</td>
                                    <td>
                                        <input id="conditionValue" name="eventType" placeholder="请选择问题类型" class="" type="text" maxlength="30" required readonly="readonly" onclick="selectEventTypeTree()">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span></span>案件等级</td>
                                    <td>
                                        <input id="level" name="eventType" placeholder="请选择问题类型" class="" type="text" maxlength="30" required readonly="readonly" onclick="selectEventTypeTree()">

                                    </td>
                                    <td><span></span>处理时限</td>
                                    <td>
                                        <input id="timeLimitStr" type="text" readonly required>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span></span>问题描述</td>

                                    <td colspan="8"><textarea id="represent" name="problemescription" required readonly></textarea></td>


                                </tr>
                                <tr class="col-12">
                                    <td><span></span>案件地址</td>
                                    <td>
                                        <input id="location" name="location" placeholder="" class="" readonly type="text">
                                    </td>
<!--                                    <td><span></span>案件类型</td>-->
<!--                                    <td>-->
<!--                                        <input id="recTypeStr" name="location" placeholder="" class="" readonly type="text">-->
<!--                                    </td>-->
                                </tr>
                                <tr class="col-12">
                                    <td><span></span>所属区域</td>
                                    <td>
                                        <input id="eventRegion" name="location" placeholder="" class="" readonly type="text">

                                    </td>
                                    <td><span></span>所属街道</td>
                                    <td>
                                        <input id="street" name="location" placeholder="" class="" readonly type="text">

                                    </td>
                                </tr>
                                <tr class="col-12">
                                    <td><span></span>所属社区</td>
                                    <td>
                                        <input id="community" name="location" placeholder="" class="" readonly type="text">
                                    </td>
                                    <td><span></span>单元网格</td>
                                    <td>
                                        <input id="girdStr" name="location" placeholder="" class="" readonly type="text">

                                    </td>
                                </tr>
                                <tr>
                                    <td><span></span>案件类型</td>
                                    <td>
                                        <input id="recTypeStr" name="recTypeStr" placeholder="" class="" readonly type="text">

                                    </td>
                                    <td><span></span>上报人</td>
                                    <td>
                                        <input id="userName" name="userName" placeholder="" class="" readonly type="text">

                                    </td>
                                </tr>
                                <tr>
                                    <td><span></span>诉求人</td>
                                    <td>
                                        <input id="petitionerName" name="petitionerName" placeholder="" class="" readonly type="text">

                                    </td>
                                    <td><span></span>联系方式</td>
                                    <td><input id="petitionerPhone" name="petitionerPhone" type="text" value="15645068888" readonly="readonly"></td>
                                </tr>
                                <tr>
                                    <td><span></span>性别</td>
                                    <td>
                                        <input id="petitionerSex" name="petitionerSex" placeholder="" class="" readonly type="text">

                                    </td>
                                    <td><span></span>创建时间</td>
                                    <td>
                                        <input id="cdate" name="cdate" placeholder="" class="" readonly type="text">

                                    </td>
                                </tr>
                                <tr>
                                    <td><span></span>位置坐标</td>
                                    <td>
                                        <input id="x" type="text" class="find_input" readonly="readonly" value="经度">
                                    </td>
                                    <td></td>
                                    <td>
                                        <input id="y" type="text" class="find_input" readonly="readonly" value="纬度">
                                    </td>
                                </tr>
                                <tr>
                                    <td><span></span>问题来源</td>
                                    <td>
                                        <input name="eventSourceStr" id="eventSourceStr" placeholder="" class="" type="text" readonly="readonly">
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <div id="before" class="send" style="display: none">
                                <div class="sendImg">
                                    <div class="sendText"><span>图片:</span></div>
                                    <div id="showImgBefore"></div>
                                </div>
                                <div class="sendImg">
                                    <div class="sendText"><span>视频:</span></div>
                                    <div id="showVideoBefore"></div>
                                </div>
                                <div class="sendImg">
                                    <div class="sendText"><span>音频:</span></div>
                                    <div id="showAudioBefore"></div>
                                </div>
                            </div>
                            <div id="after" class="send" style="display: none">
                                <div class="sendImg">
                                    <div class="sendText"><span>图片:</span></div>
                                    <div id="showImgAfter"></div>
                                </div>
                                <div class="sendImg">
                                    <div class="sendText"><span>视频:</span></div>
                                    <div id="showVideoAfter"></div>
                                </div>
                                <div class="sendImg">
                                    <div class="sendText"><span>音频:</span></div>
                                    <div id="showAudioAfter"></div>
                                </div>
                            </div>
                            <div id="nothing" class="send" style="display: none">
                                <div class="sendImg">
                                    <div class="sendText"><span>图片:</span></div>
                                    <div id="showImgNothing"></div>
                                </div>
                                <div class="sendImg">
                                    <div class="sendText"><span>视频:</span></div>
                                    <div id="showVideoNothing"></div>
                                </div>
                                <div class="sendImg">
                                    <div class="sendText"><span>音频:</span></div>
                                    <div id="showAudioNothing"></div>
                                </div>
                            </div>
                        </div>

                        <!--                            按钮-->
                        <div class="notice_bot">
                            <div class="r_right but_p girdBtnGroup">
                                <input name="eventType" class="modelDo" value="处理" type="text" data-toggle="modal" data-target="#modal-default" style="padding-left: 0px!important;">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="banner">
                <div class='g_con'>

                    <div class='expressRecord'>
                        <div class='expressRecord-single-close'>
                            <div class='expressRecord-single-noReach-online-top-close'>
                                <!--                          online-top-closing》》白线     online-top-close》》蓝线      -->
                                <div class='online-top-closing'></div>
                                <div class='dot-close'>
                                    <!--     yes 是白色圆圈        blockActive 带有对勾的圆圈                         -->
                                    <div class="yes blockActive"></div>
                                </div>
                                <!--                          online-bottom》》蓝线    online-bottom-start》》白线  -->
                                <div class='online-bottom'></div>
                            </div>
                            <!--  右侧文字部分  -->
                            <div class='expressRecord-text'>
                                <div class="gameEnd">
                                    <div class="endBox">
                                        <em>回复内容:</em> 派遣
                                    </div>
                                    <div class="endBox enclosure"><i></i>附件详情</div>
                                </div>
                                <div class="gameEnd">
                                    <div class="endBox">
                                        <em>by:</em> 管理员，调度员
                                    </div>
                                    <div class="endBox endright">
                                        2020/10/10 10:10:10
                                    </div>
                                </div>
                            </div>
                            <!--   左侧文字  -->
                            <div class='expressRecord-date'>
                                <div class='expressRecord-date-text'>
                                    办理回复
                                </div>
                            </div>
                        </div>

                        <div class='expressRecord-single-close'>
                            <!-- 左边子容器 -->
                            <div class='expressRecord-single-noReach-online-top-close'>
                                <!-- 正在进行的时间轴上半个时间线 -->
                                <div class='online-top-close'></div>
                                <!-- 正在进行的时间轴点 -->
                                <div class='dot-closing'>
                                    <div class="yes blockActive"></div>
                                </div>
                                <!-- 正在进行的时间轴下半个时间线 -->
                                <div class='online-bottom'></div>
                            </div>

                            <div class='expressRecord-text'>
                                <div class="gameEnd">
                                    <div class="endBox">
                                        <em>回复内容:</em> 派遣
                                    </div>
                                    <div class="endBox enclosure"><i></i>附件详情</div>
                                </div>
                                <div class="gameEnd">
                                    <div class="endBox">
                                        <em>by:</em> 管理员，调度员
                                    </div>
                                    <div class="endBox endright">
                                        2020/10/10 10:10:10
                                    </div>
                                </div>
                            </div>

                            <!-- 相对父级容器绝对定位的日期 -->
                            <div class='expressRecord-date'>
                                <div class='expressRecord-date-text'>
                                    立案
                                </div>

                            </div>
                        </div>

                        <div class='expressRecord-single-close'>
                            <!-- 左边子容器 -->
                            <div class='expressRecord-single-noReach-online-top-close'>
                                <!-- 正在进行的时间轴上半个时间线 -->
                                <div class='online-top-close'></div>
                                <!-- 正在进行的时间轴点 -->
                                <div class='dot-closing'>
                                    <div class="yes blockActive"></div>
                                </div>
                                <!-- 正在进行的时间轴下半个时间线 -->
                                <div class='online-bottom'></div>
                            </div>

                            <!-- 右边子容器 -->
                            <div class='expressRecord-text'>
                                <div class="gameEnd">
                                    <div class="endBox">
                                        <em>回复内容:</em> 派遣
                                    </div>
                                    <div class="endBox enclosure"><i></i>附件详情</div>
                                </div>
                                <div class="gameEnd">
                                    <div class="endBox">
                                        <em>by:</em> 管理员，调度员
                                    </div>
                                    <div class="endBox endright">
                                        2020/10/10 10:10:10
                                    </div>
                                </div>
                            </div>

                            <div class='expressRecord-date'>
                                <div class='expressRecord-date-text'>
                                    立案
                                </div>

                            </div>
                        </div>

                        <div class='expressRecord-single-close'>
                            <div class='expressRecord-single-noReach-online-top-close'>
                                <div class='online-top-close'></div>
                                <div class='dot-close'>
                                    <div class="yes blockActive"></div>
                                </div>
                                <div class='online-bottom-start'></div>
                            </div>

                            <div class='expressRecord-text'>
                                <div class="gameEnd">
                                    <div class="endBox">
                                        <em>回复内容:</em> 派遣
                                    </div>
                                    <div class="endBox enclosure"><i></i>附件详情</div>
                                </div>
                                <div class="gameEnd">
                                    <div class="endBox">
                                        <em>by:</em> 管理员，调度员
                                    </div>
                                    <div class="endBox endright">
                                        2020/10/10 10:10:10
                                    </div>
                                </div>
                            </div>

                            <div class='expressRecord-date'>
                                <div class='expressRecord-date-text'>
                                    办理回复
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner">
                <div class='g_con'>
                    <!-- 物流时间轴 -->
                    <div class='expressRecord' id="timeAxis">
                        <div>暂时没有数据，请进入流程处理案件</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">处理</h4>
                    </div>
                    <div class="modal-body">
                        <div class="checkMain" style="position: relative">
                            <span class="sendText"><i>*</i>意见</span>
                            <textarea type="text" id="opinions" name="opinions"></textarea>
                            <div class="alwaysSay btn btn-primary" id="alwaysSay">惯用语</div>
                            <div id="wordSays" class="wordSays">
                                <ul>
                                    <li class="idioms">11</li>
                                    <li class="idioms">33</li>
                                    <li class="idioms">22</li>
                                </ul>
                            </div>
                        </div>
                        <div class="send">
                            <div class="sendImg">
                                <div class="sendText" style="width: 72px"><span>照片:</span></div>
                                <div><input id="picture" class="input-id" type="file"  name="file" multiple="multiple"></div>
                            </div>


                            <div class="sendImg">
                                <div class="sendText" style="width: 72px"><span>视频:</span></div>
                                <div><input id="video" type="file" class="videoInput" name="file" multiple="multiple"></div>
                            </div>
                            <div class="sendImg">
                                <div class="sendText" style="width: 72px"><span>音频:</span></div>
                                <div><input id="music" type="file" class="musicInput" name="file" multiple="multiple"></div>
                            </div>

                            </div>
                        </div>
                        <input type="hidden" id="eventId" name="eventId" />
                        <input type="hidden" id="buttonText" name="buttonText" />
                        <div class="modal-footer justify-content-between" id="eventButton" style="display: flex;justify-content: flex-end!important;">

                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="banner"><img id="eventImg"></div>
</div>




<th:block th:include="page/fragments/common :: common_js"/>
<th:block th:include="page/fragments/common :: jquery_validation_js"/>
<th:block th:include="page/fragments/common :: fileUpload_js"/>
<th:block th:include="page/fragments/common :: map_js"/>
<th:block th:include="page/fragments/common :: bootstrap_table_js"/>
<th:block th:include="page/fragments/common :: bootstrap_datepicker_js"/>
<script type="text/javascript" th:inline="javascript">

    $(function () {
        queryUserList();
        $(".tabTitle span").click(function() {
            $(this).addClass("active").siblings(".tabTitle span").removeClass("active");
            $(".banner").eq($(this).index(".tabTitle span")).addClass("blockActive").siblings(".banner").removeClass("blockActive");
        })
    })

    /**
     * 获取街道
     */
    function getStreetList(){
        let parentId = $("#grid1 option:selected").val();
        let url = "/event/findAllByParentId?parentId="+parentId;
        $.ajaxUtil.get(url, function (e) {
            let option="<option>--请选择--</option>";
            if (e.code === "0") {
                $(e.data).each(function (index, value) {
                    option += "<option value='" + value.id + "'>" + value.gridName + "</option>"
                });
                $("#grid2").html(option);
            }
        });
    }

    let img = /*[[@{/common/img/}]]*/ "/common/img/";
    let searchUrl = /*[[@{/event/caseVerifyList}]]*/ "/event/caseVerifyList";
    let event = /*[[@{/event/findOne}]]*/ "/event/findOne";

    let completeByVerificationUrl = /*[[@{/event/completeByVerification}]]*/ "/event/completeByVerification";
    /* 获取下一步按钮 */
    function getButton(eventId) {
        let getButtonUrl = /*[[@{/event/getButton/}]]+eventId*/ "/event/getButton/" + eventId;
        $.ajaxUtil.get(getButtonUrl, function (e) {
            $("#eventButton").empty();
            let button = e.data;
            let buttonHtml = "";
            if (button.length > 0) {
                for (let i = 0; i < button.length; i++) {
                    buttonHtml += "<button class='btn btn-primary' value='" + eventId + "' id='" + button[i].id + "' type='button' onclick='save()'>" + button[i].buttonText + "</button>";
                }
            }
            $("#eventId").val(eventId);
            $("#buttonText").val(button[0].buttonText);
            $("#eventButton").html(buttonHtml);
        });
    }

    function queryUserList() {
        var options = {
            url: searchUrl,
            uniqueId: "id",
            sortName: "updateTime",
            sortOrder: "desc",
            modalName: "用户",
             // 点击每行进行函数的触发
            onClickRow: function (row, tr, flied) {
                getButton(row.id)
                layerMap.getSource().clear()
                getEventDetail(row.id);
            },
            columns: [
                {
                    field: 'index',
                    title: '序号',
                    formatter : function (value, row, index){
                        var page = $('#bootstrap-table').bootstrapTable("getPage");
                        return page.pageSize * (page.pageNumber - 1) + index + 1;
                    }
                },
                {
                    title: '时限',
                    field: '',
                    formatter: function (value,row) {
                        var e = "<div style='width: 25px;height: 25px;border-radius: 50%;overflow: hidden;margin: 0 auto'>" +
                            "<img src='../img/2.png' style='width: 100%;height: 100%'></div>"
                        return e;
                    }
                },
                {
                    title: '案件编号',
                    field: 'eventCode'
                },
                {
                    title: '问题描述',
                    field: 'represent'
                },
                {
                    title: '问题来源',
                    field: 'eventSourceName'
                },
                {
                    title: '案件类型',
                    field: 'eventTypeName',
                },
                {
                    title: '创建时间',
                    field: 'createTime',
                    sortable: true,
                },

            ]
        };
        $.table.init(options);
    }
    //模态窗 selectEventTypeTree
    function selectEventTypeTree() {
        var treeId = $("#treeId").val();
        var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        var url = /*[[@{/tree/eventtype}]]*/ "/tree/eventtype";
        var options = {
            title: '选择事件类型',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero){
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        var body = layer.getChildFrame('body', index);
        $("#typeStr").val(body.find('#treeId').val());
        $("#typeStr").val(body.find('#treeName').val());
        layer.close(index);
    }
    function getEventDetail(eventId) {
        $.ajaxUtil.get(event + "?eventId=" + eventId, function (e) {
            eventId = e.data.id;
            /*详情*/
            $("#eventCode").val(e.data.eventCode);
            $("#eventTypeStr").val(e.data.eventTypeStr);
            $("#represent").text(e.data.represent);
            $("#location").val(e.data.location);
            $("#regionStr").val(e.data.regionStr);
            $("#conditionValue").val(e.data.conditionValue);
            $("#level").val(e.data.level);
            $("#timeLimitStr").val(e.data.timeLimitStr);
            $("#girdStr").val(e.data.girdStr);
            $("#community").val(e.data.community);
            $("#street").val(e.data.street);
            $("#eventRegion").val(e.data.eventRegion);
            $("#x").val(e.data.x);
            $("#y").val(e.data.y);
            $("#eventSourceStr").val(e.data.eventSourceStr);
            $("#cdate").val(e.data.cdate);
            $("#petitionerSex").val(e.data.petitionerSex);
            $("#petitionerPhone").val(e.data.petitionerPhone);
            $("#petitionerName").val(e.data.petitionerName);
            $("#userName").val(e.data.userName);
            $("#recTypeStr").val(e.data.recTypeStr);
            /*流程图*/
            console.log("eventImg",e.data.processInstanceId)
            $("#eventImg").attr('src', img + e.data.processInstanceId);
            /* 坐标 */
            setPoint(e.data.x, e.data.y);
        });
    }

    var center = ol.proj.transform([115.62, 41.74], "EPSG:4326", "EPSG:3857");
    // 沽源地图
    var center = [115.68192, 41.66462];
    var projection = new ol.proj.Projection({
        code: 'EPSG:4326',
        units: 'degrees',
        axisOrientation: 'neu',
        global: true
    });
    var untiled = new ol.layer.Image({
        source: new ol.source.ImageWMS({
            ratio: 1,
            url: 'http://192.168.24.203:7880/geoserver/guyuan20201010/wms',
            params: {
                'VERSION': '1.1.1',
                "LAYERS": 'guyuan20201010:guyuan',
                "exceptions": 'application/vnd.ogc.se_inimage',
            }
        })
    });
    var source = new ol.source.Vector({wrapX: false});

    var map = new ol.Map({
        target: 'map',
        layers: [
            untiled
        ],
        view: new ol.View({
            // projection: projection,
            center:center,
            zoom:17,
            projection: projection
        })
    });
    var layerMap = new ol.layer.Vector({
        source: new ol.source.Vector(),
    });
    map.addLayer(layerMap);
    function setPoint(x, y) {
        let point = new ol.Feature({
            geometry: new ol.geom.Point([x, y]),
            data: {
                // id: data,
                // name: name,
                coordinate: x + "," + y
            }
        });
        layerMap.getSource().addFeature(point);
        point.setStyle(new ol.style.Style({
            image: new ol.style.Circle({
                radius: 10,
                fill: new ol.style.Fill({
                    color: '#ff0000'
                }),
                stroke: new ol.style.Stroke({
                    color: '#ff0000',
                    width: 3
                })
            })
        }));
    }
    function save() {
        $.operate.saveAndReload(completeByVerificationUrl,{
            eventId:$("#eventId").val(),
            buttonText: $("#buttonText").val(),
            opinions: $("#opinions").val()
        });
    }
</script>
</body>
</html>
